{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Buttons
{% endblock %}


  {% block css_register %}
    <script src="https://use.typekit.net/pws7qio.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

{% block additional_page_scripts %}
    <script src="/public/javascripts/prism.js" type="text/javascript"></script>  
{% endblock %}  
 

{% block header %}
Buttons
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}


{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionLeftHandColumn %}
<div id="sticky-anchor"></div>
<div id="sticky" class="secondary-nav">
    <h3 class="heading-xsmall heading-contents">Contents:</h3>
    <ul class="list list-contents">
        <li><a href="#button-text">Button text</a></li>
    </ul>
</div>
{% endblock %}

{% block sectionOneRightContent %}
<div class="text">
    <p class="lead">Use buttons to move though a transaction, aim to use only one button per page.</p>
</div>
<h2 class="heading-large" id="button-text">Button text</h2>
<p class="text">Button text should be short and describe the action the button performs.</p>
<div class="example">
      <a class="btn btn-primary btn-arrow" href="#">Save and continue</a>
      <a rel="external" class="btn btn-primary btn-arrow" href="#">Search for council tax bands <span class="sr-only">External link</span></a>
      <div class="code-reveal">
        <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#buttonsButtonText" aria-expanded="false" aria-controls="buttonsButtonText">
        Show code
        </a>
        <div class="collapse exampleCode" id="buttonsButtonText">
            <pre>
                <code class="line-numbers language-markup">
                &lt;a class="btn btn-primary btn-arrow">Save and continuen&lt;/a>
                &lt;a rel="external" class="btn btn-primary btn-arrow" href="#">Search for council tax bands &lt;span class="sr-only">External link&lt;/span>&lt;/a>
                </code>
            </pre>
        </div>
    </div>
</div>


<!--<h2 class="heading-large" id="button-text">Action button</h2>
<p class="text">Button text should be short and describe the action the button performs.</p>
<div class="example">
      <a class="btn btn-primary" href="#">Save and continue</a>
</div>
<div class="code-reveal">
    <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#buttons-action" aria-expanded="false" aria-controls="buttons-action">
    Show code
    </a>
    <div class="collapse exampleCode" id="buttons-action">
        <pre>
            <code class="line-numbers language-markup">
            &lt;a class="btn btn-primary">Save and continue&lt;/a>
            </code>
        </pre>
    </div>
</div>-->
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/footer-styleguide.html" %}
 {% endblock %}