{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Data
{% endblock %}


  {% block css_register %}
  <script src="https://use.typekit.net/pws7qio.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block additional_page_scripts %}
    <script src="/public/javascripts/prism.js" type="text/javascript"></script>  
{% endblock %}  

{% block header %}
    Data
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionLeftHandColumn %}
<div id="sticky-anchor"></div>
<div id="sticky">
    <h3 class="heading-xsmall heading-contents">Contents:</h3>
    <ul class="list list-contents">
        <li><a href="#data-table-numeric">Numeric tabular data</a></li>
      </ul>
</div>
{% endblock %}

{% block sectionOneRightContent %}
<h2 class="heading-medium" id="data-table-numeric">Numeric tabular data</h2>
  <div class="example">
      <table>
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th class="numeric" scope="col">Paper form</th>
            <th class="numeric" scope="col">Digital</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>25 November to 1 December 2013</td>
            <td class="numeric">2,763</td>
            <td class="numeric">1,792</td>
            </tr>
            <tr>
            <td>2 to 8 December 2013</td>
            <td class="numeric">2,850</td>
            <td class="numeric">1,740</td>
            </tr>
            <tr>
            <td>9 to 15 December 2013</td>
            <td class="numeric">2,388</td>
            <td class="numeric">1,683</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="code-reveal">
    <a class="text-link reveal reveal-code collapsed" role="button" data-toggle="collapse" href="#data-table-numeric-reveal" aria-expanded="false" aria-controls="data-table-numeric-reveal">
    Show code
    </a>
    <div class="collapse exampleCode" id="data-table-numeric-reveal">
        <pre>
            <code class="line-numbers language-markup">
            &lt;table>
            &lt;thead>
                &lt;tr>
                    &lt;th scope="col">Date&lt;/th>
                    &lt;th class="numeric" scope="col">Paper form&lt;/th>
                    &lt;th class="numeric" scope="col">Digital&lt;/th>
                &lt;/tr>
            &lt;/thead>
            &lt;tbody>
                &lt;tr>
                    &lt;td>25 November to 1 December 2013&lt;/td>
                    &lt;td class="numeric">2,763&lt;/td>
                    &lt;td class="numeric">1,792&lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td>2 to 8 December 2013&lt;/td>
                    &lt;td class="numeric">2,850&lt;/td>
                    &lt;td class="numeric">1,740&lt;/td>
                &lt;/tr>
                &lt;tr>
                    &lt;td>9 to 15 December 2013&lt;/td>
                    &lt;td class="numeric">2,388&lt;/td>
                    &lt;td class="numeric">1,683&lt;/td>
                &lt;/tr>
            &lt;/tbody>
            &lt;/table>
            </code>
        </pre>
    </div>
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
    {% include "includes/footer-styleguide.html" %}
 {% endblock %}