{% extends "page_layouts/layout_subsite.html" %}

{% block page_title %}
	Home Page
{% endblock %}

{% block header %}
{% endblock %}
 
 {% block sectionOneTop %}
{% endblock %}

 {% block breadcrumb %}
 <div class="spacer"></div>
 {% endblock %}

{% block content %}
      {% include "includes/carousel.html" %}  
      {% include "includes/group-promos.html" %}


    
    <p class="lead">Welcome to Leeds Museums and Galleries! Discover our nine fascinating venues and diverse collections. Explore the exciting events taking place across Leeds and find out how to get involved with us!​​​​​​​​​​​​​</p>
   <div class="row">
    <div class="col-md-6">
           {% include "includes/promo.html" %}
    </div>
    <div class="col-md-6">
           {% include "includes/promo.html" %}
    </div>
   </div>
{% endblock %}

{% block rightHandColumn %}
   {% include "includes/promo.html" %}
   {% include "includes/museums/externalLinks.html" %}
    {% include "includes/contentSectionIcon.html" %}
    {% include "includes/blockquote.html" %}
{% endblock %}