{% extends "page_layouts/layout_subsite.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/museums/application.css" rel="stylesheet">
   {% endblock %}

{% block headersection %}
  {% include "includes/header_brand_twoCol.html" %}
  {% include "includes/museums/main_nav.html" %}      
{% endblock %}   

{% block header %}
{% endblock %}
 
 {% block sectionOneTop %}
       {% include "includes/alerts/alert-info.html" %} 
{% endblock %}

 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
      {% include "includes/carousel.html" %}  
      <p class="lead">Welcome to Leeds Museums and Galleries! Discover our nine fascinating venues and diverse collections. Explore the exciting events taking place across Leeds and find out how to get involved with us!​​​​​​​​​​​​​
      </p>
   <div class="row">
    <div class="col-md-6">
           {% include "includes/promo.html" %}
    </div>
    <div class="col-md-6">
           {% include "includes/promo.html" %}
    </div>
   </div>
{% endblock %}

{% block sectionOneRightHandColumn %}
   {% include "includes/promo.html" %}
    {% include "includes/promo.html" %}
   {% include "includes/museums/externalLinks.html" %}
{% endblock %}