{% extends "page_layouts/layout_subsite.html" %}

{% block page_title %}
	Vist Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/museums/application.css" rel="stylesheet">
   {% endblock %}

{% block headersection %}
    {% include "includes/header_brand_twoCol.html" %}
  {% include "includes/museums/main_nav.html" %} 
{% endblock %}   

{% block header %}
<h1>Visit</h1>
{% endblock %}
 
 {% block sectionOneTop %}
{% endblock %}

 {% block breadcrumb %}
{% include "includes/breadcrumb_sp.html" %}  
 {% endblock %}

{% block sectionOneContent %}

<p class="lead">
There is plenty to see and do at our nine attractions. Discover and explore exciting museums, grand country houses, fascinating industrial mills, majestic medieval ruins and an inspiring art gallery.​    
</p>
      {% include "includes/museums/group-promos.html" %}
   <div class="row">
    <div class="col-md-6">
           {% include "includes/promo.html" %}
    </div>
    <div class="col-md-6">
           {% include "includes/promo.html" %}
    </div>
   </div>
{% endblock %}

{% block sectionOneRightHandColumn %}
   {% include "includes/promo.html" %}
   {% include "includes/promo.html" %}
   {% include "includes/museums/externalLinks.html" %}
{% endblock %}