    
    <!-- COOKIES -->
    <div id="containerSiteStatement">
        <div id="siteStatement">
            <div class="pageControl container noindex">
                <p>Cookies - We use cookies to help improve your experience of using our website. For more information about the cookies we use see our <a href="PrivacyStatement.aspx">privacy page</a>. If you continue without changing your cookie settings we assume that you are happy with our use of cookies. You can change your cookie settings at any time by following the instructions on our <a href="PrivacyStatement.aspx">privacy page</a>  </p>
                <a id="ck_acpt" class="submit" href="">Don't show this message again</a>
            </div>
        </div>
        <div id="post-siteStatement">
        </div>
    </div>