<div class="col-lg-12">
    <nav>
        <ul>
            <li><a href="\">Home</a></li>
            <li><a href="/design-patterns-pages/styleguide.html">Guidelines</a></li>
            <li><a href="/design-patterns-pages/playground.html">Playground</a></li>
            <li><a href="/lcc-home.html">LEEDS.GOV.UK Prototype</a></li>
        </ul>
    </nav>
</div>

<div class="col-sm-6 logo-footer">
    <span></span>
</div>

<div class="col-sm-6">
    <p class="copyright">Copyright © Leeds City Council 2017</p>
</div>

