<ul class="promo-group">

            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Pay Council Tax online </h3><p>Set up a direct debit, pay by card, or use internet banking.</p></a>
            </li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Other ways to pay Council Tax </h3><p>Find out how to pay by phone, at the Post Office, or at a PayPoint</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Discounts and exemptions </h3><p>Request discounts, exemptions and income-based reductions</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Ways to contact us </h3><p>Get in touch with us by email, phone or in person</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Report possible fraud </h3><p>Help us tackle fraud</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Council Tax bands and charges </h3><p>Find out about property bandings and charges</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Change of address </h3><p>Report a change of address or occupancy that may affect your Council Tax or set up a new account</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"> <img src="/public/img/AH_Explore.jpg"><h3>Disputes and appeals </h3><p>Find out what to do if you disagree with a Council Tax decision or liability, or a summary warrant</p></a></li>
        </ul>