<div class="col-lg-12">
    <nav>
        <ul>
            <li><a href="/lcc-home.html">Home</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Privacy Statement</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="/pages-lcc/contact.html">Contact Us</a></li>
            <li><a href="#" class="signin"><span>Sign in</span></a></li>
        </ul>
    </nav>
</div>
<div class="col-sm-6 text-right">
    <a href="/pages-lcc/accessibility/bsl.html" class="footer-bsl-logo"><span class="sr-only">British Sign Language (BSL)</span></a>
    <div class="socialBookmarks">
        <h3 class="sr-only">Connect with us on:</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/Leedscouncil/" class="facebook" target="_blank">
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/leedscc_help" class="twitter" target="_blank">
                    <span>Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/user/Leedscouncil" class="youtube" target="_blank">
                    <span>You tube</span>
                </a>
            </li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>
<div class="col-sm-6 logo-footer">
    <img src="/public/stylesheets/images/lcc-logo-white-01.svg" alt="Leeds City Council logo" />
    <p>Copyright © Leeds City Council 2017</p>
</div>

