{% extends "layout_multi_sections-lcc-forms.html" %}

{% block page_title %}
	Form example - Check your answers page
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /forms/form-example/start-page
{% endblock %}

{% block service_name %}
    Service name
{% endblock %}

{% block form_progress %}
{% endblock%}
 
{% block header %}
   Check your answers before sending your application
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block sectionOneContent %}
    <a class="btn btn-primary btn-arrow" href="/forms/form-example/confirmation-page">Accept and send</a>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/footer-forms.html" %}
 {% endblock %}