{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Form example - Start page
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /forms/form-example/start-page
{% endblock %}

{% block service_name %}
    Service name
{% endblock %}
 
{% block header %}
    Service name
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


{% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Start page</li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block sectionOneContent %}
<div class="text">
    <p class="lead">Lead paragraph</p>
    <p>Start page content</p>
    <ul class="list list-bullet">
        <li>list item one</li>
        <li>list item two</li>
        <li>list item three</li>
    </ul>
</div>
<a class="btn btn-primary btn-arrow" href="/forms/form-example/question-1">Start now</a>
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#" title="" id="">Link one</a></li>          
            <li><a class="item" href="#" title="" id="">Link two</a></li>    
            <li><a class="item" href="#" title="" id="">Link three</a></li>                                               	        
        </ul>	    
    </div>
</nav>
{% endblock %}

  {% block reuserblecontent_footer %}
  {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}