@import 'mixins';

ul.az{
 @include ulStyle;
 background:$section-Background;
  

      a {
          padding:15px;
          display:block;

          &.active
          {
              text-decoration: underline;
          }

        }


}