
.atoz{
    background:$lighter-grey;
    padding:10px 0;
    width:100%;
    text-transform:uppercase;

    a {
        display:inline-block;
        
        h3{
            display:inline-block;
            margin:0;
            font-size:21px;
            font-weight:800;
            line-height:1em;
            padding:10px 0;
        }

        &:hover h3{
            text-decoration:underline;
        }

    }

    ul{
        float:right;
        padding:10px 0;
        margin:0;

        li{
            float:left;
            list-style: none;
            font-size:21px;
            font-weight:600;
            line-height:1em;
            text-align:center;

            &:last-child{
                margin-right:0 !important;
            }

            a{
                padding:0;
                @include link-border-bottom($blue,0.3);
                margin-right:25px;


                &:hover{
                    background:$blue;
                    color:$white;
                }
            }

            &.inactive{
                color:#ccc;
                padding:0;
                @include link-border-bottom($blue,0);
                margin-right:25px;
            }
        }
    }
}