.btn{
    font-weight:700;
    font-size:20px;
    border:0;

    &:focus{
        background:$yellow;
        color:$black;
    }
}

.btn-green{
    background-color:$green;
    color:$white;

    &:hover{
        background:darken($green, 5%);
        color:$white;
    }
}

.btn-blue{
    background-color:$blue;
    color:$white;

    &:hover{
        background:darken($blue, 5%);
        color:$white;
    }
}