// footer.scss

@import 'variables';


footer.main {
    margin: 0;
    background: $main-nav-background;
    padding:0px 0px 0px 0px;


    .container{
        padding:25px 0;
    }

 p{
     color:$footer-font-color;
 }

   .footer{
    background:$main-nav-background;


 ul{
    display:block;
      
  li{

  display:block; 
  float:left;  
  width:$footer-list-item-width;
  margin:$footer-gutter-width;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);


  &:first-of-type{
      display:none;
  }   


 a {
    padding: 10px;
    font-size:18px;
    margin-left:0px;
    color:$footer-font-color !important; //override shaerpoint corev15

    display:block;
}

 a:hover,    a:focus{
    background:rgba(0,0,0,0.2);
    text-decoration:none;
 }
 a.selected{
   background-color:rgba(0,0,0,0.2) !important;  //override shaerpoint corev15
}

}

@media (max-width:767px){
    li{
        width:100%;
        border-bottom:none;
        margin:0px !important;

        ul li:first-of-type{
           border:none;
        }
    }
}
 }
ul ul  {
    display: block;
    padding: 0px;
    margin:0 0 0 0px;
    position: relative;
 

    
}

ul ul li {
width:100%;  
margin:0px;
border:none;

   &:first-of-type{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display:block;
   }
}

 ul ul li a {
 
font-size:15px;
padding:10px;
}

ul ul li a:hover,  ul ul li a:focus {
background:rgba(0,0,0,0.2);  
color:#fff;
}



}

.socialBookmarks{
    background:transparent;
    padding:0px;
    margin: 0 0 1.875em;

    h2{
        color: $footer-font-color;
    }

    @media (max-width:991px){
      ul li:first-of-type {
          display:block;
          padding-bottom:0.65em;
       }
     
    }

        .facebook:after, .twitter:after, .youtube:after
    {
    font-family: FontAwesome;
    font-size:25px;
    border-radius:50%;
    border:1px solid  $footer-font-color;
    width:42px;
    height:42px;
    display:block;
    text-align: center;
    padding-top:3px;
    color: $footer-font-color;

     
    }

      a:hover:after{
          background: $footer-font-color;
          color:$main-nav-background;
          text-decoration:none;
       }
  
}

@media (max-width:767px){
    .text-right
    {
        text-align: left;
    }
}

p {
margin-bottom:1.875em;
    
}

.footerGlobal
{
    background:darken( $main-nav-background, 4%);
}



}




.footerGlobal nav ul
{  
@include ulStyle();
padding:1.875em 0;

 li:after {
    content: '|';
    color: $footer-font-color;
    padding: 0 0.625em;
}

   a{
       color:$footer-font-color;
   }
}
.logo-footer span {
    background: url(../img/lcc-logo-white-01.svg) center center no-repeat;
    background-size:100%;
    width: 150px;
    height: 45px;
    display: block;
    margin: 0 0 1.875em;
}



