// masterHead.scss

@import 'variables';
@import 'responsiveMenu1';





.masterhead{
    background: $head-background;
    width:100%;
    position:relative;

    a.navbar-brand {
    background: url(/public/img/lccLogo.svg) center center no-repeat;
    display: inline-block;
    height: 58px;
    width: 120px;}


}


