.mega-promo{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;

    .mega-promo__item{
        padding-left: 15px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-bottom:15px;

        a{
            display: block;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            background:#7f8c8d;
            position:relative;
            text-decoration:none;

            &:after {
                font-family: FontAwesome;
                content: "\f054";
                position: absolute;
                right: 20px;
                bottom: 20px;
                color:white;
                font-size:24px;

                @media (max-width: 500px) {
                    display:none;
                }
            }

            &:hover{
                background:darken(#7f8c8d, 25%);
                text-decoration:none;

                .mega-promo__img{
                    opacity:0.8;
                }
            }

            .mega-promo__img-wrapper{
                display: block;
                position: relative;
                z-index: 1;
                background-color: #DEDEDE;
                padding-bottom: 56.25%;
                float: none;
                margin: 0;
                width: 100%;

                .mega-promo__img{
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: block;
                    padding-bottom: 56.25%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                }
            }
            .mega-promo__content{
                display:block;
                padding:20px 60px 20px 20px;

                @media (max-width: 500px) {
                    position:relative;
                    padding:15px 60px 15px 15px;

                    &:after{
                        font-family: FontAwesome;
                        content: "\f054";
                        position: absolute;
                        bottom: auto;
                        top: 50%;
                        right:15px;
                        margin-top:-9px;
                        font-size:18px;
                        color:white;
                    }
                }

                .mega-promo__header{
                    color:white;
                    margin:0 0 5px;
                    font-size:24px;
                    line-height:30px;
                }

                .mega-promo__secondary{
                    color:white;
                    margin:0;
                    font-size:18px;
                    line-height:24px;
                }
            }

            .mega-promo__highlight{
                background:#7f8c8d;
                color:white;
                position:absolute;
                top:0;
                right:0;
                z-index:2;
                padding:10px;
            }
        }

        &.full{
            width:100% !important;

            @media (min-width: 500px) {
                .mega-promo__header{
                    font-size:40px !important;
                    line-height:48px !important;
                }
            }

            @media (min-width: 990px) {

                a{
                    &:after {
                        right: 30px;
                        bottom: 30px;
                        font-size:32px;
                    }

                    .mega-promo__img-wrapper{
                        display: inline-block;
                        width: 66.66%;
                        float:left;
                        padding-bottom:37.5%;

                        .mega-promo__img{
                            padding-bottom:37.5%;
                        }
                    }

                    .mega-promo__content{
                        float:right;
                        display:inline-block;
                        width:33.33%;
                        padding:40px;
                    }

                    .mega-promo__highlight{
                        right:auto;
                        left:0;
                    }
                }
            }

        }

        &.two-thirds{
            width:66.66% !important;
            @media (max-width: 767px) {
                width:100% !important;
            }
            @media (min-width: 767px) {
                .mega-promo__header{
                    font-size:32px !important;
                }
            }
        }

        &.half{
            width:50% !important;
            @media (max-width: 767px) {
                width:100% !important;
            }
            @media (max-width: 500px) {
                width:100% !important;
            }
            
            @media (min-width: 767px) {
                .mega-promo__header{
                    font-size:32px !important;
                }
            }

        }

        &.third{
            width:33.33% !important;

            @media (max-width: 767px) {
                width:100% !important;
            }
        }

        &.quarter{
            width:25% !important;

            @media (max-width: 767px) {
                width:50% !important;
            }
            @media (max-width: 500px) {
                width:100% !important;
            }
        }

        @media (min-width: 767px){

            &.third,
            &.quarter{
                a{
                    padding-bottom:50px;

                    .mega-promo__content{
                        padding:20px;
                    }
                }
            }
        }
    }
}