.side-nav{
    margin-top:25px;
    border-top:10px solid $lighter-grey;
    padding:10px 0 30px;

    .side-nav__header{
        @extend .heading-medium;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    ul{
        margin-bottom:30px;

        li{
            margin-bottom:15px;
        }
    }
    .side-nav__more{
        font-weight:700;
    }
}