//masterhead
//bootsrap override
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 15px;
    padding-left: 15px;
}

/*temporarily hide masterhead*/
.masterhead {
    display:none;
}

#nav-search {
    margin: 7px 0 7px 7px;
}

.navbar-brand {
    padding: 5px 0;
    width:100px !important;
}

//body
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//header
.header-left{
  padding-left:0;
}

//logo
.logo {
    height: auto;
    width: auto;
    background: none;
    display:inline-block;
    margin:10px 0;

    &:after{
        content:'LCC Digital';
        font-size:36px;
        text-transform:uppercase;
        font-weight:700;
        color: #fff;

        @media (max-width: 767px) {
              font-size:30px;
          }
    }

    &:hover{
      color:darken(#fff, 10%);
    }
}

//nav
.main-nav ul li {

    a{
      font-size:18px;
      padding:12px;
      text-decoration:none;
    }
}

//breadcrumb
.breadcrumb {
    padding: 0 0 20px;
    margin: 10px 0 0;
    font-size: 16px;

        a{
          position:relative;
          margin-left:16px;

            &:after {
                position:absolute;
                display:inline-block;
                content: "/";
                font-size: 16px;
                padding: 0 8px;
            }
        }
}

/*could be coded better*/
.breadcrumb a:first-child{
  margin-left:0;
}

//typography
h1,
h2,
h3,
h4,
h5{
    font-family: $font-primary, sans-serif;
    color: $header-font-color;
    font-weight: 700;
}

h1,
.heading-xlarge{
  font-size:50px;
}

h2,
.heading-large{
  font-size:36px;
}

h3,
.heading-medium{
  font-size:24px;
}

h4,
.heading-small{
  font-size:19px;
}

h5,
.heading-xsmall{
  font-size:18px;
}

.text-description{
  margin-bottom:0;
  font-size:18px;
  font-weight:300;
}

.text-highlight{
  border-left: 10px solid $border-grey;
  padding:15px;
  width:100%;
  margin-bottom:20px;

  p{
    margin:0;
  }

  &.text-highlight-blue{
    border-color:$brand-color;
    background:rgba($brand-color, 0.1);
  }

  &.text-highlight-green{
    border-color:$green;
    background:rgba($green, 0.1);
  }
}

//typography - notice
.notice{
  position:relative;

  i{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    font-size:30px;
  }

  strong {
    display: block;
    padding-left: 55px;
    margin-left: -15px;
  }
}
//links
a {
    color: $base-link-color;
    text-decoration: underline;

    &:hover{
         color:darken($base-link-color, 15%);
         text-decoration:underline;
    }
}

a[rel="external"]{
  margin-right:25px;

    &:after {
      position: absolute;
  }
}

a:focus, input[type=submit]:focus{
    background:$focus-color !important;
    color:$base-font-color !important;
    text-decoration:none;
}

//accordion
ul.accordion {
  margin:1.4em 0;

  li {
    border-color:$border-grey;
    border-bottom:1px solid $border-grey;

    a.header {
      border:none !important;
      font-weight:700;
      padding: 20px 40px 20px 0;
      text-decoration:none !important;

      &:after {
      font-family: FontAwesome;
      font-size: 24px;
      content: "\f067";
      position: absolute;
      right: 0;
      top:50%;
      margin-top:-14px;
      color: $base-link-color;
      }
    }
  }

  .list{
    a{
      text-decoration:none;
    }
  }
}

//promo-group custom
ul.promo-group {
    background: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    margin:30px 0 30px -6px;
    width:auto;
        @media (max-width: 600px) {
            margin:0 -15px 20px -15px;
        }

    li {
        background:$white;
        border:2px solid $lighter-grey;
        width: calc(100% * (1/4) - 5px);
        margin:5px 0 0 5px;
            @media (max-width: 990px) {
                width: calc(100% * (1/2) - 5px);
            }
            @media (max-width: 600px) {
                width: calc(100%);
                margin:5px 0 0;
                border-left:0;
                border-right:0;
            }

        a{
            background:$white;
            padding:30px;
            text-decoration:none !important;
            height:100%;

                @media (max-width: 767px) {
                    min-height:0;
                    padding:20px;
                }

                @media (max-width: 600px) {
                    min-height:0;
                    padding:15px;
                }
            
            h3 {
                margin: 0 0 0.5em;
                font-weight: 600;
                font-size: 21px;
                color: $base-link-color;
                padding-right:30px;

                @media (max-width: 600px) {
                    font-size: 19px;
                }

                    &:after {
                        content: '\f105';
                        font-family: FontAwesome;
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        color:$border-grey;

                        @media (max-width: 767px) {
                          top: 20px;
                          right: 20px;
                        }

                        @media (max-width: 600px) {
                            top: 50%;
                            right: 15px;
                            margin-top:-10px;
                        }
                    }
            }

            p{
              @media (max-width: 600px) {
                padding-right:30px;
              }
            }
        }
    }
}

//lists
ul,
ol {
  list-style-type: none;
}

.list {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;

  li {
    margin-bottom: 10px;
    }
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 45px;
}

.list-number {
  list-style-type: decimal;
  padding-left: 20px;
}

.heading-contents {
  margin-top: 3em;
}

.list-contents{
    font-size:16px;
}

//footer
footer.main{
  .container-fluid{
    padding:0;
  }
}
.footerGlobal{
  padding:50px 0;
  background:$base-link-color !important;
  font-size:16px;

  nav{
    padding-bottom:50px;
  }
}
.logo-footer span {
    margin: 0 0 1.25em 0;
}
footer.main p {
    margin-bottom: 0;
}

//style example
.example {
  position: relative;
  overflow: hidden;
  border: 1px solid $border-grey;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  @media (min-width: 641px) {
      padding-top: 45px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
  }

  &:before {
    content: "EXAMPLE";
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
    font-family: $font-primary, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    background: #bfc1c3;
    color: white;

    @media (min-width: 641px) {
        font-size: 14px;
        line-height: 1.4285714286;
    }
  }

  .highlight {
    font-style: normal;
    color: #0076c0;
  }

  .list-bullet {
    margin-bottom: 20px;
  }
}

.example-grid p {
  width: 100%;
  background: url("/public/images/examples/grid.png") 0 0 repeat;
  margin-bottom: 0;
  height: 30px;
  overflow: hidden;
  text-indent: -999em;

  @media (min-width: 641px) {
      height: 60px;
  }
}

//code example
.exampleCode{
  padding-top:15px;
}

@media (max-width: 990px) {
  .example-images{
    img{
      margin:15px 0 15px 0;
    }
  }
}
//hr
hr{
  margin-top:2.5em;
  border-color:rgba( $border-grey, .5 );
}

//buttons
.btn{
  border-radius:4px;
  text-decoration:none!important;
  font-size:19px;

  &.btn-noarrow{
    padding-right:20px;

    &:after{
      display:none;
    }

    &.btn-small{
      font-size:16px;
      padding:10px;
    }
  }

  &.btn-secondary{
    background: $base-link-color;
    box-shadow: none !important;
    color:#fff !important;
    border:none !important;

      &:hover{
      background: darken($base-link-color, 10%); }
  }

  &.btn-outline{
    background:transparent;
    color:$base-link-color;
    border:1px solid $base-link-color;
  }

}

//sticky
#sticky{
  padding:20px 0 0;
}
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    padding:20px 0 0;
    z-index: 10000;
    
    @media (max-width: 990px) {
      position: relative;
      top: auto;
      padding:0;
      z-index: 1;
    }
}

//secondary-nav
.secondary-nav{
  .heading-contents{
    margin-top:0;
  }
}

