#main {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 641px) {
  #main {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xxlarge {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 53px;
  line-height: 1.0377358491;
}

@media (min-width: 641px) {
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.font-xlarge {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
}

@media (min-width: 641px) {
  .font-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.font-large {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
}

@media (min-width: 641px) {
  .font-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.font-medium {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 641px) {
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-small {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 641px) {
  .font-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xsmall {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
}

@media (min-width: 641px) {
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold-xxlarge {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 53px;
  line-height: 1.0377358491;
}

@media (min-width: 641px) {
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.bold-xlarge {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
}

@media (min-width: 641px) {
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.bold-large {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
}

@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.bold-medium {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 641px) {
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.bold-small {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 641px) {
  .bold-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.bold-xsmall {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
}

@media (min-width: 641px) {
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold {
  font-weight: 700;
}

.heading-xlarge {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 32px;
  line-height: 1.09375;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}

@media (min-width: 641px) {
  .heading-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

@media (min-width: 641px) {
  .heading-xlarge {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
  }
}

.heading-xlarge .heading-secondary {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
  line-height: 1.1111111111;
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

.heading-large {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
  margin-top: 1.0416666667em;
  margin-bottom: 0.4166666667em;
}

@media (min-width: 641px) {
  .heading-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.5555555556em;
  }
}

.heading-large .heading-secondary {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

.heading-medium {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

@media (min-width: 641px) {
  .heading-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-medium {
    margin-top: 1.875em;
    margin-bottom: 0.8333333333em;
  }
}

.heading-small {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  .heading-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .heading-small {
    margin-top: 1.0526315789em;
  }
}

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;
}

@media (min-width: 641px) {
  p {
    margin-top: 0.2631578947em;
    margin-bottom: 1.0526315789em;
  }
}

.lead {
  font-family: $font-primary, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 641px) {
  .lead {
    font-size: 24px;
    line-height: 1.25;
  }
}

.text {
  max-width: 35em;
}