// available variables to change the brand colours as required
// masterhead.scss

//$head-background: #ffffff;

//mainMenu.scss -- responsive icons color
//$menu-link-color:#337ab7;

//base.scss

//base colours
$blue:#016D9E;
$dark-blue: darken(#016D9E, 20%);
$light-blue: lighten(#016D9E, 20%);
$green:#008000;
$black:#212224;
$light-black:#3D414A;
$dark-grey:#666B76;
$grey:#9DA5B2;
$light-grey:#DCDEE1;
$lighter-grey:#F6F7FA;
$white:#FFFFFF;
$focus-color:#FFBF47;

//$base-background-color:#fff;
$base-font-size:16px ;
$base-font-color:$light-black;
$header-font-color:$black;
$base-link-color:$blue;
$base-link-color-visited:#4C2C92;
$secondary-font-color:$dark-grey;
$border-grey:$light-grey;
$brand-color:$blue;
$base-container-width:1400px ;
//$btn-background-color:green ;
$font-primary:proxima-nova, sans-serif; // main font
$font-secondary:proxima-nova, sans-serif; // secondary font

//global used on all partials to get a uniform spacing between elements
//$base-margin-bottom:1.875em ;

//headerTop
//$search-link-background:#F3F3F4 ;
//$search-link:#333 ;

// mainNav.scss
$main-nav-background:lighten( $brand-color, 3% );
//$main-nav-link:#fff ;

//footer.scss
//$footer-font-color:#fff ;
//$footer-nav-selected-link:#133E8D ;

//sectionSubsite.scss - socialamedia.scss
//$section-Background:#efefef ;

//socialamedia.scss
//$social-link-color:#337ab7 ;

//sideNavigation.scss
//$side-nav-active-background:#133E8D ;

//carousel.scss
//$carousel-active-background:#000 ;
//$carousel-indicators-active-background:#ccc ;
//$carousel-caption-background: rgba(0,0,0,0.6) ;
//$carousel-caption-font-color:#fff ;


//blocklinks.scss

//$block-link-back:#f6f6f6 ;
//$block-link-back-hover:#3380A4 ;
//$promo-group-border:1px solid #fff ; 
//$promo-group-background:#EDF2F5 ; 
//$promo-group-li-background:#EDF2F5 ;
//$promo-group-link-color:#216486 ;

//promolist webpart
//$link-font-color:#fff;
//$span-info-color:#133E8D;
//$span-info-hover:#131A22;
//$span-info-secondary-color:#fff;
//$span-arrow-base:darken($span-info-color, 10%);
//$span-third-info-base:#f6f6f6;
//$third-info-font-color:#333;
//$arrow-color:#fff;
//$contentFontColor:#333;
//$content-arrow-color:#133E8D;
//$content-border-color:#ddd;

//section backgrounds
$sectionHeader-background-color:$brand-color;
$sectionOne-background-color:#fff;
$sectionTwo-background-color:$lighter-grey;
//$sectionThree-background-color:lighten($base-background-color, 3%) ;
//$sectionFour-background-color:lighten($base-background-color, 5%) ;
//$sectionFive-background-color:darken($base-background-color, 5%) ;

//iconlinks
//$iconLinkIconColor:#FFC82E;

//heroBanner
//$heroFontBackground:rgba(0, 0, 0, 0.5); 
//$heroFontcolor:#fff; 

//news
//$news-button-background: #3498DB ;
$news-pod-back:#ffffff ;
$news-pod-border-color:#ddd;

//accordion
//$accordion-color:green;
//$accordion-border-color:#ECF0F1;

//Block quote
// $blockquoteBorderColor:#bbcada ;
// $blockquoteQuoteColor:#333;
// $blockquoteQuoteFooterColor:#000;

//highlighted box in content assets
//$highlighted-background-color:#333 !default;
//$highlighted-font-color:#fff !default;
//$highlighted-alt-background-color:#f6f6f6 !default;
//$highlighted-alt-font-color:#333 !default;

//mega-promo
$promo-background-color:$white;
$promo-arrow-color:$grey;
$promo-header-color:$blue;
$promo-secondary-color:$black;
$promo-highlight-background-color:lighten($blue, 15%);
$promo-highlight-color:$white;

//button colours
$primary-button-background-color:$green;
$primary-button-color:$white;
$secondary-button-background-color:$blue;
$secondary-button-color:$white;
$outline-button-border-color:$blue;
$outline-button-color:$blue;

//group promo colours
$group-promo-background-color: $lighter-grey;
$group-promo-header-color: $blue;
$group-promo-description-color: $black;
$group-promo-arrow-color: $grey;

@import 'mixins';
@import 'variables';
@import 'brandColors';

//available sass files please un-comment out as required

//@import 'mainMenuSubsites';
@import 'breadcrumb';
@import 'sectionSubsite';
@import 'promo';
@import 'carousel';
//@import 'socialMedia';
//@import 'sideNavigation';
//@import 'blockLinks';
@import 'accordion';
@import 'promoGroup';
@import 'alerts';
@import 'promoListwebpart';
//@import 'eventsWebparts';
@import 'sharepointOverides';
@import 'iconLinks';
@import 'heroBanner';
@import 'news';
@import 'polaroids';
@import 'groupPromo';
@import 'blocklinks';
@import 'contentLink';
@import 'docList';
@import 'contentAssets';
@import 'blockQuote';
@import 'accessibility';
@import 'mega-promo';
@import 'buttons';

//mixins
@mixin link-border-bottom($color,$opacity,$visited-color){
    color:$color;
    border-bottom:1px solid rgba($color,$opacity);
    text-decoration:none;
    cursor:pointer;

    &:hover{
        color:darken($color,10%);
        border-color:darken($color,10%);
        text-decoration:none;
    }

    &:visited{
        color:$visited-color;
        border-color:rgba($visited-color,$opacity);
        text-decoration:none;
    }
}

@mixin column-count($val) {
    -webkit-column-count: $val;
    -moz-column-count: $val;
    column-count: $val;
}

@mixin column-gap($val) {
    -webkit-column-gap: $val;
    -moz-column-gap: $val;
    column-gap: $val;
}

.three-columns{
    @include column-count(3);
    @include column-gap(30px);

    @media (max-width: 990px) {
        @include column-count(2);
    }

    @media (max-width: 767px) {
        @include column-count(1);
    }
}

@mixin background-size($val) {
    -webkit-background-size: $val;
    -moz-background-size: $val;
    -o-background-size: $val;
    background-size: $val;
}

@mixin background-size($val) {
    -webkit-background-size: $val;
    -moz-background-size: $val;
    -o-background-size: $val;
    background-size: $val;
}

@mixin background-radial($top,$bottom,$base) {
    background: $base;
    background: -webkit-radial-gradient($top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient($top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient($top, $bottom); /* For Firefox 3.6 to 15 */
    background: radial-gradient($top, $bottom); /* Standard syntax */
}
 

//custom style added by DH - needs to filed properly
@import 'hero-lcc';
@import 'easy-autocomplete';
@import 'typography-lcc';
@import 'forms';
@import 'sub-section-nav';
@import 'prism';
@import 'swatch-lcc';
@import 'code-example';
@import 'sticky';
@import 'footer-lcc';
@import 'atoz';
@import 'lcc-digital';

//Rm quick add to be removed when we consolidate group promo styling
.sub-section-heading {
    border-bottom: 1px solid #DCDEE1;
    margin: 0 0 20px;
    padding-bottom: 10px;
}

.docList.one .listWebpart ul li {
  float:none;
}

//group promo
.groupPromo{
    a{
        border:0;
    }

    &.home ul{
        margin:30px 0 30px -6px;

        @media (max-width: 600px) {
            margin:0 -15px 15px -15px;
        }
        li{
            background:$white;

            a{
                background:$white;
            }
        }
    }
}

//override group promo hover styles
.groupPromo ul li a{
    &:hover{
        background:$blue !important;

        h3,
        p{
            color:$white !important;
        }

        h3{
            &:after{
                color:$white !important;
            }
        }
    }

    &:active{
        background:darken($blue,5%) !important;
    }
}

//custom mega-promo
.mega-promo{
    .mega-promo__item{
         &.blue{
            @include mega-promo-colors($blue, $white, $white, $white, $promo-highlight-background-color, $promo-highlight-color);
        }
    }
}

//anchor border bottom stye overrides

.carousel .carousel-caption a,
.mega-promo a,
.groupPromo a,
.promoListWebpart a,
.main-nav ul li a,
.promo-group a,
#paging .contentPod a{
    border:0;
}

//doclist
.docList.one li a:before {
    top: 22px;

    @media (max-width: 641px) {
        top: 20px;
    }
}

.docList li {
    @media (max-width: 600px) {
        padding: 5px 0;
    }
}