{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Council tax bands and charges
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Council tax bands and charges
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Council Tax bands and charges</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <h2 class="top">Council tax charges and bands 2017/18</h2>
    <p>Each property in Leeds is in one of these council tax bands:</p>

    <table>
    <thead>
        <tr>
            <th scope="col">Band</th>
            <th class="numeric" scope="col">Annual Council Tax charge</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A (5/9)</td>
            <td class="numeric">£826.69</td>
        </tr>
        <tr>
            <td>A</td>
            <td class="numeric">£992.03</td>
        </tr>
        <tr>
            <td>B</td>
            <td class="numeric">£1,157.37</td>
        </tr>
        <tr>
            <td>C</td>
            <td class="numeric">£1,322.71</td>
        </tr>
        <tr>
            <td>D</td>
            <td class="numeric">£1,488.05</td>
        </tr>
        <tr>
            <td>E</td>
            <td class="numeric">£1,818.72</td>
        </tr>
        <tr>
            <td>F</td>
            <td class="numeric">£2,149.40</td>
        </tr>
        <tr>
            <td>G</td>
            <td class="numeric">£2,480.07</td>
        </tr>
        <tr>
            <td>H</td>
            <td class="numeric">£2,976.09</td>
        </tr>
    </tbody>
    </table>
<h3>Do you think your home is in the wrong band?</h3>
<p>The Valuation Office Agency (VOA) is responsible for placing every domestic property in a council tax band. If you disagree with your band find out how to <a href="#">make an appeal</a>.</p>
<h3>Find out the band of a property</h3>
<a rel="external" class="btn btn-primary btn-arrow" href="https://www.gov.uk/council-tax-bands">See the council tax band for an individual property</a>
</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#" title="" id="">What your council tax is used for</a></li>	        	    
            <li><a class="item" href="#" title="" id="">Explanation of your council tax bill</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}