{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Contact us about council tax
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Contact us about council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Contact us about council tax</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">
    <h2>Ways to contact us</h2>
    <p>You can contact the team in a number of different ways. Most people find it easiest to get in touch online.</p>
    <h3>Live chat</h3>
    <p>Chat online now with one of our dedicated customer care advisers and receive assistance with your query straight away.</p>
    {% include "includes/lcc-components/webchat/webchat-available.html" %}
    <h3>Phone</h3>
    <p>You can call our automated phone line to get support at any time. This can transfer you through to an advisor during office hours, or let you leave a message at other times. We aim to respond to messages within 2 days.</p>
    <div class="text-block">
        <p><strong>0113 222 4404</strong></p>
    </div>
    <p>We are open Monday to Friday, 9am to 5pm</p>
    <p>Calls are charged at the local rate.</p>
    <h3>Email</h3>
    <div class="text-block"><p><a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p></div>
    <h3>Post</h3>
    <div class="text-block">
        <p>Leeds City Council, <br>PO BOX 60, <br>Leeds <br>LS2 8JR</p>
    </div>
    <h3>In person</h3>
    <p>At our One Stop Centres we provide advice on a range of council services. We work with a variety of partners to help bring you the services that you need locally.</p>
    <a href="#" class="btn btn-primary">Find your nearest One Stop Centre</a>
</div>

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax-online.html" title="" id="">Pay your council tax online</a></li>	        	    
            <li><a class="item" href="#" title="" id="">Problems paying your council tax</a></li>
            <li><a class="item" href="#" title="" id="">Your council tax account</a></li>
            <li><a class="item" href="#" title="" id="">Report a change</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}