{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Council tax bands and charges
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Bands and charges
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Council tax bands and charges</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <p class="lead">Find out which council tax band your property is in and how much you have to pay.</p>
    <h2>Find out the band of a property</h2>
    <a rel="external" href="https://youraccount.leeds.gov.uk/publicaccesslive/selfservice/services/counciltax/bandsearch.htm" class="btn btn-primary btn-arrow">Search for a property band</a>

    <h2>Council tax bands and charges 2017/18</h2>
    <p>Each property in Leeds is in one of these council tax bands:</p>
    
    <table>
    <thead>
        <tr>
            <th scope="col">Band</th>
            <th class="numeric" scope="col">Annual council tax charge</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A (5/9)</td>
            <td class="numeric">£826.69</td>
        </tr>
        <tr>
            <td>A</td>
            <td class="numeric">£992.03</td>
        </tr>
        <tr>
            <td>B</td>
            <td class="numeric">£1,157.37</td>
        </tr>
        <tr>
            <td>C</td>
            <td class="numeric">£1,322.71</td>
        </tr>
        <tr>
            <td>D</td>
            <td class="numeric">£1,488.05</td>
        </tr>
        <tr>
            <td>E</td>
            <td class="numeric">£1,818.72</td>
        </tr>
        <tr>
            <td>F</td>
            <td class="numeric">£2,149.40</td>
        </tr>
        <tr>
            <td>G</td>
            <td class="numeric">£2,480.07</td>
        </tr>
        <tr>
            <td>H</td>
            <td class="numeric">£2,976.09</td>
        </tr>
    </tbody>
    </table>

<h3>Changes to bands</h3>
<p>There are some circumstances when the <a rel="external" href="https://www.gov.uk/guidance/council-tax-band-changes">Valuation Office Agency (VOA)</a> may change the council tax band of a property. These include structural alterations and similar properties in the area being rebanded.</p>

<h3>If you think your band is wrong </h3>
<p>The VOA is responsible for deciding which band a property is in. </p> 
<p>You might be able to challenge your council tax band if you think it is wrong. Find out how to <a rel="external" href="https://www.gov.uk/council-tax-appeals/challenge-your-band">make an appeal</a>.</p>
</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#" title="" id="">How your council tax is spent</a></li>	        	    
            <li><a class="item" href="/pages-lcc/council-tax/your-bill.html" title="" id="">Your bill</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}