{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Discounts for properties occupied by disabled people
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Discounts for properties occupied by disabled people
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/exemptions-and-discounts.html">Exemptions and discounts</a>
                    <ul class="">
                        <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Discounts for properties occupied by disabled people</li>
                    </ul>
                </li>
            </ul>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">
    <p>If someone living at your address is permanently disabled, you might be able to get a reduction in your council tax.</p>

    <h2>Criteria</h2>
    <p>One of the following must apply for a discount to be granted:</p>
    <ul class="list list-bullet">
        <li>the disabled person uses a wheelchair indoors</li>
        <li>the property has a second bathroom or kitchen for the use of the person with the disability</li>
        <li>a room in the property is used for a special purpose, for example, dialysis</li>
    </ul>

    <p>Things like stairlifts, handrails and other fixtures on their own do not qualify for the reduction. One of the three things above must apply or the reduction cannot be granted.</p> 

    <h2>Apply for a discount</h2>
    <p>If a reduction is granted, the council tax for the property will be charged at the rate of the band below it. For example, if the property is at band C then the council tax payable will be at a band B rate. A reduction is also available for band A properties. View the <a href="#">charges and bands</a>.</p>
    <p>To apply for a disabled person’s discount, download and complete the <a href="#" rel="doc">disabilities reduction claim form</a>.</p>
    <p>Completed forms can be handed in at a <a href="http://www.leeds.gov.uk/residents/Pages/Your-local-area.aspx">One Stop Centre or Community Hub</a> or posted to us at Leeds City Council, PO BOX 60, Leeds, LS2 8JR. Alternatively you can scan the completed form and email to us at <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>.</p>

</div>

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax-online.html" title="" id="">Pay your council tax online</a></li>	        	    
            <li><a class="item" href="#" title="" id="">Problems paying your council tax</a></li>
            <li><a class="item" href="#" title="" id="">Your council tax account</a></li>
            <li><a class="item" href="#" title="" id="">Report a change</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}