{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Landlords, letting agents and tenants
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Landlords, letting agents and tenants
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Landlords, letting agents and tenants</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

    <p class="lead">Report changes in tenancy and find out who is responsible for council tax.</p>

    <h2>Let us know: changes in tenancy</h2>
    <p>Landlords, letting agents and tenants can let us know when people are moving in or out of a property. This allows us to send accurate council tax bills to the right people at the right time.</p>
    
    <h3>Landlords and letting agents</h3>
    <p>Please contact us with the following:</p>
    <ul class="list list-bullet">
        <li>full address of the property</li>
        <li>full names of tenant/s moving in or out</li>
        <li>date the tenancy starts or ends</li>
    </ul>

    <div class="text-block">
        <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
        <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
    </div>

    <h3>Tenants</h3>
    <p>If you are moving in or out of a property, <a href="/pages-lcc/council-tax/report-a-change/report-a-change-of-address.html">let us know</a></p>

    <h2>Buying or selling a property?</h2>
    <p>Please tell us if you have bought a property to rent out. We will need to know how to contact you if we need to query tenant information and where to send a bill if your rental property is empty.</p>
    <p>If you sell your rental property, let us know so that we can stop contacting you about that property.</p>        
    <div class="text-block">
        <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
        <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
    </div>

    <h2>Data protection and letting agents</h2>
    <p>We can only talk to a letting agent about an owner’s council tax bill if the owner has given us authority to discuss the account.</p>

    <h2>Who is responsible for paying council tax?</h2>
    <p>The tenants are responsible for the council tax bill for the duration of their tenancy agreement. If they leave the property unoccupied before the end of their agreement, they will remain responsible for the bill if:</p>
    <ul class="list list-bullet">
        <li>they have a fixed –term tenancy agreement for six months or more and that tenancy is still in force, or</li>
        <li>they are ‘contractual periodic tenants’ whose tenancy has not officially ended. This means they are on a ‘rolling contract’ but their original tenancy (for six months or more) contained wording which indicates that the original tenancy continues after the end of the fixed term period. In this case, the tenant will remain liable until the end of the agreed period of notice</li>
    </ul>

    <div class="panel">
        <p>Once a new tenant moves in, they will become liable for the council tax bill.</p>    
    </div>

    <div class="panel">
        <p>If a property is unoccupied and no tenancy exists, the landlord will be liable for the council tax until a new tenant moves in, unless the property has been unoccupied and unfurnished for a period of seven days or less. In this case no council tax will be payable for that period.</p>
    </div>

    <h2>Houses in multiple occupation</h2>
    <p>The owners of houses in multiple occupation (HMOs) are responsible for paying the council tax bill.</p>

    <ul class="accordion" data-module="accordion">
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>How do we define a HMO?</a>
                <div style="display: none;" class="content-block">
                    <p>A property is classed as a house in multiple occupation if it meets one of the following conditions:</p>
                    <ul class="list list-bullet">
                        <li>the tenant rents a room and has use of a shared kitchen and possibly shared bathroom</li>
                        <li>the tenants are renting the whole house together but each tenant has their own tenancy agreement and pays only their own rent</li>
                        <li>the property was constructed, or subsequently adapted, for occupation by people who do not constitute a single household, for example a house turned into bedsits with a shared kitchen and locks on the bedroom doors.</li>
                    </ul>                                 
            </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>What if all the people living in a HMO are full time students?</a>
                <div style="display: none;" class="content-block">
                    <p>If all the tenants in a HMO are full time students, the property could be exempt from council tax.</p>
                    <h3>How to claim this exemption</h3>
                    <p>Landlords need to provide us with the information below before we can consider awarding the exemption:</p>
                    <ul class="list list-bullet">
                        <li>a list of your tenants’ names, their student ID numbers and where they are studying</li>
                        <li>you may also have to provide a Council Tax Student Certificate, but we will let you know if we need this</li>
                    </ul>
                        <div class="text-block">
                            <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
                            <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
                        </div>               
            </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Licensing of houses in multiple occupation</a>
                <div style="display: none;" class="content-block">
                   <p><a href="http://www.leeds.gov.uk/Business/Pages/Find-out-about-Houses-in-Multiple-Occupation-Licensing.aspx">Find out if you need to license your HMO</a></p>              
            </div>
            </div>
        </li>


</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/student-discount.html" title="" id="">Student discounts and exemptions</a></li>	        	    
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}