{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Pay your Council Tax online
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Pay your Council Tax online
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Pay your Council Tax online</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">

    <h2>Set up or amend a Direct Debit</h2>
    <p>Setting up or amending a Direct Debit is quick and easy.</p> 

    <p class="lead-in">To set up a new Direct Debit you will need your:</p>

    <ul class="list list-bullet">
        <li>council tax account number. This can be found in the top right hand corner of your bill</li>
        <li>bank account number</li>
        <li>bank sort code</li>
        <li>name(s) on the account</li>
    </ul>

    <p>To amend a Direct Debit you will need to fill in a new form.</p>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>Amending your Direct Debit overwrites your existing arrangements, usually changing the date or bank details.</p>
        <p>Direct Debits can only be set up on 10th, 20th or last day of the month.</p>
    </div>    

    <a href="#" class="btn btn-primary">Set up a Direct Debit online</a>

    <h3 class="heading-small">Setting up a direct debit for someone else?</h3>
    <p>If you want to set up a direct debit for someone else download and print a <a href="#" rel="pdf">Direct Debit form (PDF, 0.5MB)</a> and send it back to us.</p>

    <h2>Pay with a debit card</h2>
    <p>Pay each installment online using yor debit card or using our online form.</p> 
    <p>You will need your council tax account number. This can be found on the top right of your council tax bill.</p> 
    <div role="note" aria-label="Information" class="text-highlight">    
        <p>Please note that we do not accept credit card payments online.</p>
    </div>
    <a href="#" class="btn btn-primary">Pay your council tax by debit card online</a>

    <h2>Make an internet banking payment or set up a standing order</h2>
    
    <p>Use your own internet banking service to set up a payment for the due date.</p>
    <p>To set up a standing order use your council tax account number as your payment reference. This can be found in the top right hand corner on your council tax bill. Standing orders can be set up to come out on any day of the month.</p>
    <p>You will need the following information:</p>
</div>

<p><strong>Name of organisation:</strong> Leeds City Council</br>
<strong>Bank and branch name:</strong> National Westminster Bank, 8 Park Row, Leeds LS1 1QS </br>
<strong>Branch address:</strong>Head Office Collection</br>
<strong>Account number:</strong> 00000000</br>
<strong>Sort code:</strong> 57-12-72</p>

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/other-ways-to-pay-your-council-tax.html" title="" id="">Other ways to pay your council tax</a></li>	        	    
            <li><a class="item" href="#" title="" id="">Problems paying your council tax</a></li>
            <li><a class="item" href="#" title="" id="">Your council tax account</a></li>
            <li><a class="item" href="#" title="" id="">Report a change</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}