{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Your bill
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Your bill
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Your bill</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <p class="lead">Understand your council tax bill, request a copy and how to receive your bill by email (e-billing).</p>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>You will receive your council tax bill for the year ahead by the end of March.</p>
    </div>

    <h2>Example council tax bill</h2>
    <p>Each numbered section is explained in detail after the image.</p>

    <img class="img-content" src="/public/images/council-tax-bill.jpg" alt="" />

    <ol class="list list-number">
        <li>The date your council tax bill was printed. Any payments made after this date will not be shown on this bill</li>
        <li>Your <strong>council tax account number</strong>. You must have this number if you want to talk to us about your bill</li>
        <li>Who is responsible for paying the bill, and their correspondence address</li>
        <li>If the bill is for a different property, that property address will be shown here</li>
        <li>The <a href="http://localhost:3000/pages-lcc/council-tax/council-tax-bands-and-charges.html">council tax band</a> the property is in</li>
        <li>The annual charge for the property for the financial year shown, and also the percentage change from the previous year’s charges. It details your contribution towards council services, the fire service and the police service</li>
        <li>The amount you have to pay, <a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">any discounts that apply</a>, and any payments made towards this bill up to the issue date</li>
        <li>How you <a href="/pages-lcc/council-tax/pay-your-council-tax/how-to-pay-your-council-tax.html">pay your bill</a>, for example direct debit. If you pay by direct debit, the bill will confirm that here, and tell you the dates that your instalments will be collected</li>
        <li>Any charge outstanding from a previous year will be shown here. This will not take into account any payment you may have made towards a previous bill after the issue date of this bill</li>
        <li>Any discounts we’ve granted for the property – <a href="/pages-lcc/council-tax/report-a-change/report-a-change.html">you will need to let us know if there is any change of occupiers</a>, or <a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">if a discount no longer applies</a>.</li>
    </ol>

    <a id="e-billing"></a>
    <h2>Request your bill by email (e-billing)</h2>
    <p>When you <a href="/pages-lcc/council-tax/manage-your-council-tax-online/register-to-manage-your-council-tax-online.html">register to manage your council tax account online</a> you will be given the option to go paperless.</p>
    <p>If you have already registered to manage your account online, you can <a href="/pages-lcc/council-tax/manage-your-council-tax-online/sign-in-to-manage-your-council-tax-online.html">sign in and change how you would like to receive your bill</a>.</p>

    <a id="request"></a>
    <h2>Querying your bill or requesting a copy</h2>
    <p>If you have any questions about your council tax bill or if you need to request a copy, please contact us.</p>
    
    <div role="note" aria-label="Information" class="text-highlight">
        <p>If emailing, please include your name and address, and account number if you have it. <a href="/pages-lcc/council-tax/your-bill.html">Your account number can be found on your bill</a>.</p>
    </div>    

    <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
            <div class="text-block">
                0113 222 4404<br/>
                (Monday to Friday, 9am to 5pm)
            </div>
        <p><strong>Email</strong></p>
            <div class="text-block">
                <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
            </div>
    </div>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#" title="" id="">What your council tax is used for</a></li>	        	    
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/how-to-pay-your-council-tax.html" title="" id="">How to pay your council tax</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax.html" title="" id="">Problems paying your council tax</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/report-a-change/change-of-name.html" title="" id="">Tell us if we need to change your name</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}