{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
    Houses in multiple occupation | Landlords, letting agents and tenants
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Landlords, letting agents and tenants
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/report-a-change.html">Landlords, letting agents and tenants</a></li>
                        <ul class="">                
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Houses in multiple occupation</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/report-a-change.html">Report a change</a></li>
            <li><a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/responsibility-for-paying-the-bill.html">Responsibilty for paying the bill</a></li>
            <li>Houses in multiple occupation</li>
        </ol>
    </nav>
</aside>

<div class="text">  
    <h2>3. Houses in multiple occupation</h2>
    <p class="lead">Find out if a property is classed as a house in multiple occupation (HMO) for council tax purposes, who is responsible for paying the bill and whether any discounts or exemptions apply.</p> 
    
    <h3>Definition of a HMO for council tax purposes</h3>
    <p>A property is classed as a house in multiple occupation for council tax purposes if it meets one of the following conditions:</p>
    <ul class="list list-bullet">
        <li>the tenant rents a room and has use of a shared kitchen and possibly shared bathroom</li>
        <li>the tenants are renting the whole house together but each tenant has their own tenancy agreement and pays only their own rent</li>
        <li>the property was constructed, or subsequently adapted, for occupation by people who do not constitute a single household, for example a house turned into bedsits with a shared kitchen and locks on the bedroom doors</li>
    </ul>   

</div>    
    
    <div class="docList one">
            <div class="listWebpart">
                <ul>
                    <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Houses%20in%20Multiple%20Occupation.pdf "><span class="info">Definition of a HMO according to council tax law<span class="arrow"></span></span><span class="thirdInfo">(PDF, 125KB)</span></a></li>                   
                </ul>
            </div>
        </div>   
    
<div class="text">        

    
    <h3>Responsibility for the council tax bill</h3> 
    <p>The owners of HMOs are responsible for paying the council tax bill.</p>

    <div role="note" aria-label="Information" class="text-highlight"> 
        Some HMOs require a licence. <a href="http://www.leeds.gov.uk/Business/Pages/Find-out-about-Houses-in-Multiple-Occupation-Licensing.aspx">Find out if you need to apply for a licence</a>.
    </div>    

    <h3>Discounts and exemptions for HMOs occupied by students</h3>      

    <h4>What if all the people living in a HMO are full-time students?</h4>
    <p>If all the tenants in a HMO are full-time students, the property will be exempt from council tax.</p>

    <h4>What if there is a mix of full-time students and others living in a HMO?</h4>
    <p>If there is one person who is not a full-time student living in a property, a discount will apply. If there are two or more people who aren’t full-time students living in a property, no discount will be granted.</p>

    <h4>How to claim an exemption or discount</h4>
    <p>Landlords need to provide the information below before we can consider awarding the exemption or discount:</p>
    <ul class="list list-bullet">
        <li>tenants’ names</li>
        <li>student ID numbers</li>
        <li>start and end dates of students’ courses and where they are studying</li>
    </ul>    
    
   <div role="note" aria-label="Information" class="text-highlight">
        <p>We may also ask for Council tax Student Certificates.</p>        
   </div>

   <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
            <div class="text-block">
                0113 222 4404<br/>
                <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
            </div>
        <p><strong>Email</strong></p>
            <div class="text-block">
                <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
            </div>
    </div>
    
    

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__previous-page">
            <a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/responsibility-for-paying-the-bill.html" rel="prev">
            <span class="pagination-nav__part-title">Previous</span>
            <span class="pagination-nav__label">Responsibility for paying the bill</span>
            </a>
        </li>      
      <div style="clear:both"></div>
  </ul>
</nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
        <div class="sideNav">
            <h3>Council tax</h3> 	    	
            <ul class="nav">
                <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/student-discount.html" title="" id="">Student discounts and exemptions</a></li>	        	    
                <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
                </li>                                                            	        
            </ul>	    
        </div>
    </nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}