{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Responsibilty for paying the bill | Landlords, letting agents and tenants
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Landlords, letting agents and tenants
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/report-a-change.html">Landlords, letting agents and tenants</a></li>
                        <ul class="">                
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Responsibilty for paying the bill</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/report-a-change.html">Report a change</a></li>
            <li>Responsibilty for paying the bill</li>
            <li><a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/houses-in-multiple-occupation.html">Houses in multiple occupation</a></li>
        </ol>
    </nav>
</aside>

<div class="text">
    <h2>2. Responsibility for paying the bill</h2>
    <p class="lead">Find out who is responsible for paying the council tax bill.</p>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>If a property is unoccupied and unfurnished for seven days or less no council tax will be payable for this period.</p>
    </div>

    <h3>Tenants who have a tenancy agreement of six months or longer</h3>
    <p>Tenants are responsible for the council tax bill whilst they are living in the property.</p>
    <p>If they leave the property unoccupied before their contract runs out, they will remain responsible for the bill until
        their tenancy agreement comes to an end, or another tenant begins a new contract.</p>
    <p>The landlord will become responsible for the bill if the property remains unoccupied after the contract runs out, until
        there is a new tenant.</p>

    <h3>Rolling tenancies</h3>
    <p>If the tenant has moved onto a rolling tenancy, they will continue to be responsible for the council tax bill whilst
        still living in the property.</p>
    <p>The tenant <strong>may</strong> remain responsible for the council tax bill after they move out. This will be the case
        if they move out before the end of their agreed period of notice and there was wording in their original fixed-term
        contract that stated they would remain responsible for the bill until this date. This is known as a ‘contractual
        periodic tenancy’.</p>
    <p>If the end of the agreed period of notice has been reached and no new tenancy agreement has begun, the landlord will
        become responsible for the bill until there is a new tenant.</p>

    <h3>Tenants who have a tenancy agreement of less than six months</h3>
    <p>Tenants are only responsible for the council tax bill whilst they are living in the property. This means that if they
        move out before the end of the contract the landlord will become responsible for paying the council tax bill until
        a new tenancy agreement begins.</p>
    <p>If the rented property is not the tenant’s <a href="/pages-lcc/council-tax/discounts-and-exemptions/second-homes.html">main residence</a><span class="sr-only"> - what is a main residence?</span>,
        the landlord is responsible for the council tax bill for the duration of their tenancy agreement.</p>

    <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
        <div class="text-block">
            0113 222 4404<br/>
            <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
        </div>
        <p><strong>Email</strong></p>
        <div class="text-block">
            <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
        </div>
    </div>



    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <ul>
            <li class="pagination-nav__previous-page">
                <a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/report-a-change.html" rel="prev">
            <span class="pagination-nav__part-title">Previous</span>
            <span class="pagination-nav__label">Report a change</span>
            </a>
            </li>
            <li class="pagination-nav__next-page">
                <a href="/pages-lcc/council-tax/landlords-lettings-agents-and-tenants/houses-in-multiple-occupation.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Houses in multiple occupation</span>
        </a>
            </li>
            <div style="clear:both"></div>
        </ul>
    </nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
        <div class="sideNav">
            <h3>Council tax</h3> 	    	
            <ul class="nav">
                <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/student-discount.html" title="" id="">Student discounts and exemptions</a></li>	        	    
                <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
                </li>                                                            	        
            </ul>	    
        </div>
    </nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}