{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Committee Structure
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
         <link href="http://democracy.leeds.gov.uk/SiteSpecific/ssMgStyles.css" rel="stylesheet">
		 <link href="{{ asset_path }}stylesheets/mod-gov-new.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Committee Structure
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/modern-gov-pages/modern-gov-pages.html">Modern Gov Pages</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Committee structure</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div id="modgov"><h1 style="display:none">Committee structure</h1>
<div class="mgLinks">

</div>
<div class="mgContent">

<h2 class="mgSectionTitle">Council</h2>
						
<h2 class="mgSectionTitle"><a class="mgSectionTitleLnk" href="mgCommitteeDetails.aspx?ID=111" title="Link to details for Council">Council</a></h2>
<div class="mgWordPara"><div class="WordSection1">
<p class="MsoNormal">Council meetings involve all ninety nine of
the City’s elected members and are chaired by the Lord
Mayor.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Somewhere in the region of six ordinary
Council meetings are held each year, usually commencing at 1.00
p.m. on a Wednesday. Business conducted at an ordinary Council
meeting includes:</p>
<p class="MsoNormal">&nbsp;</p>
<ul style="">
<li class="MsoNormal" style="">The receipt of deputations*</li>
<li class="MsoNormal" style="">Question time</li>
<li class="MsoNormal" style="">The receipt of decisions and
consideration of recommendations from the various Boards, Panels
and Committees</li>
<li class="MsoNormal" style="">Consideration of motions submitted
by individual members</li>
<li class="MsoNormal" style="">The approval of matters reserved to
the Council in the Budget and Policy Framework including the budget
and Council Plan</li>
</ul>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The Annual meeting of the Council, usually
held on an evening in late May, elects the Lord Mayor for the
municipal year and determines all committee and decision making
arrangements for the new municipal year.<span style="">&nbsp;</span></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Occasionally the Council holds special
meetings to appoint honorary aldermen or honorary freemen of the
City.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">*It should be noted that anyone interested in
bringing a deputation to a Council meeting should apply in writing
with a copy of their proposed speech to <a href="mailto:kevin.tomkinson@leeds.gov.uk">kevin.tomkinson@leeds.gov.uk</a>
at least 14 clear days prior to the meeting.<span style="">&nbsp;</span></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><span lang="EN-US" style="color:black" xml:lang="EN-US">Please note that the Council will try all means
possible to enable all interested parties to be present at Full
Council, Executive Board and Committee meetings where decisions
take place.&nbsp; However due to the limited seating capacity
within the Civic Hall meeting rooms, the Council regrets that
access for all may not always be possible.</span></p>
</div>
</div>
<h2 class="mgSectionTitle">Executive Board</h2>
						

<ul class="mgBulletList">
						<li><a href="mgCommitteeDetails.aspx?ID=102" title="Link to details for Executive Board">Executive Board</a></li>

</ul>
<h2 class="mgSectionTitle">Scrutiny Boards</h2>
						

<ul class="mgBulletList">
						<li><a href="mgCommitteeDetails.aspx?ID=793" title="Link to details for Joint Health Overview and Scrutiny Committee (Yorkshire &amp; The Humber)">Joint Health Overview and Scrutiny Committee (Yorkshire &amp; The Humber)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1090" title="Link to details for Scrutiny Board (Adults and Health)">Scrutiny Board (Adults and Health)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1089" title="Link to details for Scrutiny Board (Children and Families)">Scrutiny Board (Children and Families)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1091" title="Link to details for Scrutiny Board (Environment, Housing and Communities)">Scrutiny Board (Environment, Housing and Communities)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1088" title="Link to details for Scrutiny Board (Inclusive Growth, Culture and Sport)">Scrutiny Board (Inclusive Growth, Culture and Sport)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1087" title="Link to details for Scrutiny Board (Infrastructure and Investment)">Scrutiny Board (Infrastructure and Investment)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1041" title="Link to details for Scrutiny Board (Strategy and Resources)">Scrutiny Board (Strategy and Resources)</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1056" title="Link to details for West Yorkshire Joint Health Overview and Scrutiny Committee">West Yorkshire Joint Health Overview and Scrutiny Committee</a></li>

</ul>
<h2 class="mgSectionTitle">Community Committees</h2>
						

<ul class="mgBulletList">
						<li><a href="mgCommitteeDetails.aspx?ID=997" title="Link to details for Inner East Community Committee">Inner East Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1000" title="Link to details for Inner North East Community Committee">Inner North East Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1006" title="Link to details for Inner North West Community Committee">Inner North West Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=996" title="Link to details for Inner South Community Committee">Inner South Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1004" title="Link to details for Inner West Community Committee">Inner West Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1003" title="Link to details for Outer East Community Committee">Outer East Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1005" title="Link to details for Outer North East Community Committee">Outer North East Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=995" title="Link to details for Outer North West Community Committee">Outer North West Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1002" title="Link to details for Outer South Community Committee">Outer South Community Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1001" title="Link to details for Outer West Community Committee">Outer West Community Committee</a></li>

</ul>
<h2 class="mgSectionTitle">Statutory</h2>
						

<ul class="mgBulletList">
						<li><a href="mgCommitteeDetails.aspx?ID=965" title="Link to details for Health and Wellbeing Board">Health and Wellbeing Board</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=976" title="Link to details for Housing Advisory Board">Housing Advisory Board</a></li>

</ul>
<h2 class="mgSectionTitle">Regulatory</h2>
						

<ul class="mgBulletList">
						<li><a href="mgCommitteeDetails.aspx?ID=947" title="Link to details for City Plans Panel">City Plans Panel</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=163" title="Link to details for Licensing Committee">Licensing Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=430" title="Link to details for Licensing Sub-Committee">Licensing Sub-Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=949" title="Link to details for North and East Plans Panel">North and East Plans Panel</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=950" title="Link to details for South and West Plans Panel">South and West Plans Panel</a></li>

</ul>
<h2 class="mgSectionTitle">Advisory and Procedural</h2>
						

<ul class="mgBulletList">
						<li><a href="mgCommitteeDetails.aspx?ID=161" title="Link to details for Corporate Governance and Audit Committee">Corporate Governance and Audit Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=450" title="Link to details for Development Plan Panel">Development Plan Panel</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=547" title="Link to details for Employment Committee">Employment Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=696" title="Link to details for General Purposes Committee">General Purposes Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=402" title="Link to details for Joint Plans Panel">Joint Plans Panel</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=108" title="Link to details for Member Management Committee">Member Management Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=924" title="Link to details for Standards and Conduct Committee">Standards and Conduct Committee</a></li>
						<li><a href="mgCommitteeDetails.aspx?ID=1073" title="Link to details for West Yorkshire Adoption Joint Committee">West Yorkshire Adoption Joint Committee</a></li>

</ul>
<div class="mgHelpLine">	
</div>	

</div>
<div class="mgFooter">		

	<p>&nbsp;</p>

    <script src="edit-doc-activex.js" type="text/javascript"></script>

    <script type="text/javascript" src="jquery-ui/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.10.2.custom.min.js"></script>

    <script type="text/javascript">
	var mgJQuery = jQuery.noConflict(true);
        var thisFormValidator;
    </script>

    <script type="text/javascript" src="jquery-ui/json/json2.js"></script>
    <script type="text/javascript" src="jquery-ui/Add-ons/mg.jqueryaddons.min.js"></script>
    <script type="text/javascript" src="mgAjaxScripts.js"></script> 
          
    <script type="text/javascript">
        function CommonAjaxInit()
        {
            Common_DocumentReady(false, 629272640462387)
        }

        mgJQuery(document).ready(CommonAjaxInit);

    </script>  
</div>


</div>

{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}

{% include "pages-lcc/modern-gov-pages/modern-gov-related-pages.html" %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}