{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Modern Gov Pages
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
         <link href="http://democracy.leeds.gov.uk/SiteSpecific/ssMgStyles.css" rel="stylesheet">
         <link href="{{ asset_path }}stylesheets/mod-gov-new.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Modern Gov Pages
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Modern Gov Test Pages</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
    <ul class="list list-bullet">
        <li><a href="/pages-lcc/modern-gov-pages/calendar">Calendar of meetings</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/whats-new">What's new</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/meetings">Meetings</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/search">Search</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/officer-decisions">Officer decisions</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/epetitions">ePetitions</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/list-of-forthcoming-key-decisions">List of Forthcoming Key Decisions</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/parish-councils">Parish councils</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/committee-structure">Committees</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/your-councillors">Councillors</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/your-mps">Your MPs</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/your-meps">Your MEPs</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/library">Library</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/subscribe-to-updates">Subscribe to Updates</a></li>
    </ul>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}