<div class="relatedPages">
    <h3>Related Pages</h3>
    <ul class="nav">
        <li><a href="/pages-lcc/modern-gov-pages/calendar">Calendar of meetings</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/whats-new">What's new</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/meetings">Meetings</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/search">Search</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/officer-decisions">Officer decisions</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/epetitions">ePetitions</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/list-of-forthcoming-key-decisions">List of Forthcoming Key Decisions</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/parish-councils">Parish councils</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/committee-structure">Committees</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/your-councillors">Councillors</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/your-mps">Your MPs</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/your-meps">Your MEPs</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/library">Library</a></li>
        <li><a href="/pages-lcc/modern-gov-pages/subscribe-to-updates">Subscribe to Updates</a></li>
    </ul>
</div>