{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Parish Councils
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
         <link href="http://democracy.leeds.gov.uk/SiteSpecific/ssMgStyles.css" rel="stylesheet">
         <link href="{{ asset_path }}stylesheets/mod-gov-new.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Parish Councils
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/modern-gov-pages/modern-gov-pages.html">Modern Gov Pages</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Parish Councils</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div id="modgov"><h1 style="display:none">Parish council contact details</h1>
<p>There are 32 parish and town councils within the Leeds metropolitan district. Funds needed to support their activities are raised by adding an extra cost known as a precept to each householder’s council tax bill.</p>

<p>The parish/town councils are:</p>
<div class="mgContent">


<ul class="mgActionList">
			<li><a href="mgParishCouncilDetailsList.aspx" title="Link to list of parish councils">View full contact information</a>
			</li>

</ul>

<ul class="mgBulletList">
		<li><a href="mgParishCouncilDetails.aspx?ID=888&amp;LS=3" title="Link to contact details for Aberford &amp; District Parish Council">Aberford &amp; District Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=889&amp;LS=3" title="Link to contact details for Allerton Bywater Parish Council">Allerton Bywater Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=890&amp;LS=3" title="Link to contact details for Alwoodley Parish Council">Alwoodley Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=891&amp;LS=3" title="Link to contact details for Arthington Parish Council">Arthington Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=892&amp;LS=3" title="Link to contact details for Bardsey cum Rigton Parish Council">Bardsey cum Rigton Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=893&amp;LS=3" title="Link to contact details for Barwick in Elmet &amp; Scholes Parish Council">Barwick in Elmet &amp; Scholes Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=894&amp;LS=3" title="Link to contact details for Boston Spa Parish Council">Boston Spa Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=895&amp;LS=3" title="Link to contact details for Bramham cum Oglethorpe Parish Council">Bramham cum Oglethorpe Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=896&amp;LS=3" title="Link to contact details for Bramhope and Carlton Parish Council">Bramhope and Carlton Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=897&amp;LS=3" title="Link to contact details for Clifford Parish Council">Clifford Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=898&amp;LS=3" title="Link to contact details for Collingham with Linton Parish Council">Collingham with Linton Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=899&amp;LS=3" title="Link to contact details for Drighlington Parish Council">Drighlington Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=900&amp;LS=3" title="Link to contact details for East Keswick Parish Council">East Keswick Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=901&amp;LS=3" title="Link to contact details for Gildersome Parish Council">Gildersome Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=902&amp;LS=3" title="Link to contact details for Great &amp; Little Preston Parish Council">Great &amp; Little Preston Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=903&amp;LS=3" title="Link to contact details for Harewood Parish Council">Harewood Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=904&amp;LS=3" title="Link to contact details for Horsforth Town Council">Horsforth Town Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=905&amp;LS=3" title="Link to contact details for Kippax Parish Council">Kippax Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=906&amp;LS=3" title="Link to contact details for Ledsham Parish Council">Ledsham Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=907&amp;LS=3" title="Link to contact details for Ledston Parish Council">Ledston Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=908&amp;LS=3" title="Link to contact details for Micklefield Parish Council">Micklefield Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=886&amp;LS=3" title="Link to contact details for Morley Town Council">Morley Town Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=909&amp;LS=3" title="Link to contact details for Otley Town Council">Otley Town Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=887&amp;LS=3" title="Link to contact details for Pool-in-Wharfedale Parish Council">Pool-in-Wharfedale Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=952&amp;LS=3" title="Link to contact details for Rawdon Parish Council">Rawdon Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=910&amp;LS=3" title="Link to contact details for Scarcroft Parish Council">Scarcroft Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=911&amp;LS=3" title="Link to contact details for Shadwell Parish Council">Shadwell Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=912&amp;LS=3" title="Link to contact details for Swillington Parish Council">Swillington Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=913&amp;LS=3" title="Link to contact details for Thorner Parish Council">Thorner Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=914&amp;LS=3" title="Link to contact details for Thorp Arch Parish Council">Thorp Arch Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=915&amp;LS=3" title="Link to contact details for Walton Parish Council">Walton Parish Council</a>	</li>
		<li><a href="mgParishCouncilDetails.aspx?ID=916&amp;LS=3" title="Link to contact details for Wetherby Town Council">Wetherby Town Council</a>	</li>

</ul>
</div>
<div class="mgFooter">		
<p>For further information on Parish or Town Councils contact Yorkshire Local Councils Association (YLCA), York House, Outgang Lane, Osbaldwick, York, YO19 5UP, email <a href="mailto:admin@yorkshirelca.gov.uk">admin@yorkshirelca.gov.uk</a> or call 01904 436622.
	</p><p>&nbsp;</p>

    <script src="edit-doc-activex.js" type="text/javascript"></script>

    <script type="text/javascript" src="jquery-ui/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.10.2.custom.min.js"></script>

    <script type="text/javascript">
	var mgJQuery = jQuery.noConflict(true);
        var thisFormValidator;
    </script>

    <script type="text/javascript" src="jquery-ui/json/json2.js"></script>
    <script type="text/javascript" src="jquery-ui/Add-ons/mg.jqueryaddons.min.js"></script>
    <script type="text/javascript" src="mgAjaxScripts.js"></script> 
          
    <script type="text/javascript">
        function CommonAjaxInit()
        {
            Common_DocumentReady(false, 629272640462387)
        }

        mgJQuery(document).ready(CommonAjaxInit);

    </script>  
</div>
</div>

{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}

{% include "pages-lcc/modern-gov-pages/modern-gov-related-pages.html" %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}