{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Your councillors
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
         <link href="http://democracy.leeds.gov.uk/SiteSpecific/ssMgStyles.css" rel="stylesheet">
		 <link href="{{ asset_path }}stylesheets/mod-gov-new.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Your councillors
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/modern-gov-pages/modern-gov-pages.html">Modern Gov Pages</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Your Councillors</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div id="modgov">
    <h1 style="display:none">Your Councillors</h1>
<div class="mgLinks">
	
	
	<ul class="mgActionList">
		<li><a href="mgFindMember.aspx" title="Link to find councillors">Find your councillor</a></li>

		<li><a href="mgMemberIndex.aspx?FN=ALPHA&amp;VW=LIST&amp;PIC=0" title="Link to display councillors alphabetically"> Your councillors alphabetically</a></li>
  	<li><a href="mgMemberIndex.aspx?FN=PARTY&amp;VW=LIST&amp;PIC=0" title="Link to display councillors by political party">Your councillors by political party</a></li>
		<li><a href="mgMemberIndex.aspx?FN=WARD&amp;VW=LIST&amp;PIC=0" title="Link to display councillors by ward">Your councillors by ward</a></li>

		<li><a href="mgCommitteeMailingList.aspx?ID=0" title="Link to full list of contact details">Full list of contact details</a></li>
			<li><a href="mgUserAttendanceSummary.aspx" title="Link to member attendance summary">Member attendance summary</a></li>
			<li><a href="mgMemberIndex.aspx?VW=TABLE&amp;PIC=1&amp;FN=" title="Link to table of councillors">View councillors in a table</a></li>
	</ul>

</div>
<div class="mgContent">

		<div class="mgThumbsList">

<ul>
		
	<li>
			<a href="mgUserInfo.aspx?UID=2304">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/0/3/Info00002304/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Javaid Akhtar"><br>Councillor Javaid Akhtar</a>
			
			<p>Hyde Park and Woodhouse</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of Inner North West Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=184">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/8/1/Info00000184/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Barry Anderson"><br>Councillor Barry Anderson</a>
			
			<p>Adel and Wharfedale</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
				
				<p>Chair of Scrutiny Board (Citizens and Communities)</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6341">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/4/3/Info00006341/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Caroline Anderson"><br>Councillor Caroline Anderson</a>
			
			<p>Adel and Wharfedale</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6661">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/6/6/Info00006661/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Salma Arif"><br>Councillor Salma Arif</a>
			
			<p>Gipton and Harehills</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Lead Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4578">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/7/5/Info00004578/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Jonathan Bentley"><br>Councillor Jonathan Bentley</a>
			
			<p>Weetwood</p>
<!--			Tel:  -->
			
			<p>Liberal Democrats</p>
				
				
				<p>Deputy Leader of the Liberal Democrat Group</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=235">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/5/3/2/Info00000235/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Sue Bentley"><br>Councillor Sue Bentley</a>
			
			<p>Weetwood</p>
			
			<p>Liberal Democrats</p>
				
				
				<p>Chair of Scrutiny Board (Children and Families)</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=201">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/0/2/Info00000201/smallmug.jpg" width="90" height="122" alt="link to details of Councillor Ann Blackburn"><br>Councillor Ann Blackburn</a>
			
			<p>Farnley and Wortley</p>
			
			<p>Green Party</p>
				
				
				<p>Green Group  Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=111">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/1/1/Info00000111/smallpic.jpg" width="90" height="123" alt="link to details of Councillor David Blackburn"><br>Councillor David Blackburn</a>
			
			<p>Farnley and Wortley</p>
			
			<p>Green Party</p>
				
				
				<p>Leader of the Green Group</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=107">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/0/1/Info00000107/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Judith Blake"><br>Councillor Judith Blake</a>
			
			<p>Middleton Park</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Leader of Council and Executive Member for Economy and Culture</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2629">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/2/6/Info00002629/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Karen Bruce"><br>Councillor Karen Bruce</a>
			
			<p>Rothwell</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Outer South Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4576">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/7/5/Info00004576/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Neil Buckley"><br>Councillor Neil Buckley</a>
			
			<p>Alwoodley</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
				
				<p>Deputy Group Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=181">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/8/1/Info00000181/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Colin Campbell"><br>Councillor Colin Campbell</a>
			
			<p>Otley and Yeadon</p>
			
			<p>Liberal Democrats</p>
				
				
				<p>Liberal Democrat Group Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=109">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/0/1/Info00000109/smallpic.jpg" width="90" height="123" alt="link to details of Councillor Andrew Carter CBE"><br>Councillor Andrew Carter CBE</a>
			
			<p>Calverley and Farsley</p>
			
			<p>Conservative</p>
				
				
				<p>Leader of the Conservative Group</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=185">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/5/8/1/Info00000185/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Amanda Carter"><br>Councillor Amanda Carter</a>
			
			<p>Calverley and Farsley</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=469">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/6/4/Info00000469/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Judith Chapman"><br>Councillor Judith Chapman</a>
			
			<p>Weetwood</p>
<!--			Tel:  -->
			
			<p>Liberal Democrats</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2628">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/2/6/Info00002628/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Rebecca Charlwood"><br>Councillor Rebecca Charlwood</a>
			
			<p>Moortown</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Executive Member for Health, Wellbeing and Adults</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=190">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/9/1/Info00000190/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Brian Cleasby"><br>Councillor Brian Cleasby</a>
			
			<p>Horsforth</p>
			
			<p>Liberal Democrats</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2633">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/3/6/Info00002633/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Dan Cohen"><br>Councillor Dan Cohen</a>
			
			<p>Alwoodley</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2634">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/3/6/Info00002634/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Dawn Collins"><br>Councillor Dawn Collins</a>
			
			<p>Horsforth</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=211">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/1/2/Info00000211/smallpic.jpg" width="90" height="123" alt="link to details of Councillor David Congreve"><br>Councillor David Congreve</a>
			
			<p>Beeston and Holbeck</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=218">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/1/2/Info00000218/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Mick Coulson"><br>Councillor Mick Coulson</a>
			
			<p>Pudsey</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Outer West Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=466">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/6/4/Info00000466/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Debra Coupar"><br>Councillor Debra Coupar</a>
			
			<p>Temple Newsam</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Executive Member for Communities</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=232">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/3/2/Info00000232/smallpic.jpg" width="90" height="123" alt="link to details of Councillor Patrick Davey"><br>Councillor Patrick Davey</a>
			
			<p>City and Hunslet</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of Corporate Governance and Audit Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2632">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/3/6/Info00002632/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Neil Dawson"><br>Councillor Neil Dawson</a>
			
			<p>Morley South</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6338">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/3/3/Info00006338/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Catherine Dobson"><br>Councillor Catherine Dobson</a>
			
			<p>Killingbeck and Seacroft</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=1358">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/5/3/Info00001358/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Mark Dobson"><br>Councillor Mark Dobson</a>
			
			<p>Garforth and Swillington</p>
			
			<p>Garforth &amp; Swillington Independents</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=197">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/9/1/Info00000197/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Ryk Downes"><br>Councillor Ryk Downes</a>
			
			<p>Otley and Yeadon</p>
			
			<p>Liberal Democrats</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=239">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/3/2/Info00000239/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Jane Dowson"><br>Councillor Jane Dowson</a>
			
			<p>Chapel Allerton</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Lord Mayor</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=180">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/8/1/Info00000180/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Jack Dunn"><br>Councillor Jack Dunn</a>
			
			<p>Ardsley and Robin Hood</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=234">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/3/2/Info00000234/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Judith Elliott"><br>Councillor Judith Elliott</a>
			
			<p>Morley South</p>
			
			<p>Morley Borough Independents</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6668">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/6/6/Info00006668/smallpic.jpg" width="90" height="111" alt="link to details of Councillor Sarah Field"><br>Councillor Sarah Field</a>
			
			<p>Garforth and Swillington</p>
			
			<p>Garforth &amp; Swillington Independents</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=189">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/8/1/Info00000189/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Robert Finnigan"><br>Councillor Robert Finnigan</a>
			
			<p>Morley North</p>
<!--			Tel:  -->
			
			<p>Morley Borough Independents</p>
				
				
				<p>Leader of the Morley Borough Independent Group</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6003">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/0/0/Info00006003/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Billy Flynn"><br>Councillor Billy Flynn</a>
			
			<p>Adel and Wharfedale</p>
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=199">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/9/1/Info00000199/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Angela Gabriel"><br>Councillor Angela Gabriel</a>
			
			<p>Beeston and Holbeck</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Inner South Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6660">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/6/6/Info00006660/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Al Garthwaite"><br>Councillor Al Garthwaite</a>
			
			<p>Headingley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=1357">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/5/3/Info00001357/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Bob Gettings JP"><br>Councillor Bob Gettings JP</a>
			
			<p>Morley North</p>
<!--			Tel:  -->
			
			<p>Morley Borough Independents</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=244">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/4/2/Info00000244/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Stewart Golton"><br>Councillor Stewart Golton</a>
			
			<p>Rothwell</p>
			
			<p>Liberal Democrats</p>
				
				
				<p>Leader of the Liberal Democrat Group</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=206">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/0/2/Info00000206/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Pauleen Grahame"><br>Councillor Pauleen Grahame</a>
			
			<p>Cross Gates and Whinmoor</p>
			
			<p>Labour</p>
				
				
				<p>Chair of Scrutiny Board (Strategy and Resources)</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2285">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/5/8/2/Info00002285/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Ronald Grahame"><br>Councillor Ronald Grahame</a>
			
			<p>Burmantofts and Richmond Hill</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2290">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/9/2/Info00002290/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Kim Groves"><br>Councillor Kim Groves</a>
			
			<p>Middleton Park</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Deputy Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4563">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/6/5/Info00004563/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Caroline Gruen"><br>Councillor Caroline Gruen</a>
			
			<p>Bramley and Stanningley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the South and West Plans Panel</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=220">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/2/2/Info00000220/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Peter Gruen"><br>Councillor Peter Gruen</a>
			
			<p>Cross Gates and Whinmoor</p>
			
			<p>Labour</p>
				
				
				<p>Chair of Development Plans Panel</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2288">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/8/2/Info00002288/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Sharon Hamilton"><br>Councillor Sharon Hamilton</a>
			
			<p>Moortown</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member for Housing Management</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4568">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/6/5/Info00004568/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Mary Harland"><br>Councillor Mary Harland</a>
			
			<p>Kippax and Methley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Outer East Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2263">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/6/2/Info00002263/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Gerry Harper"><br>Councillor Gerry Harper</a>
			
			<p>Hyde Park and Woodhouse</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member - Community Sport and Participation</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=114">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/1/1/Info00000114/smallpic.jpg" width="90" height="123" alt="link to details of Councillor Peter Harrand"><br>Councillor Peter Harrand</a>
			
			<p>Alwoodley</p>
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6340">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/4/3/Info00006340/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Helen Hayden"><br>Councillor Helen Hayden</a>
			
			<p>Temple Newsam</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of Scrutiny Board (Adults and Health)</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6339">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/3/3/Info00006339/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Julie Heselwood"><br>Councillor Julie Heselwood</a>
			
			<p>Bramley and Stanningley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=1356">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/5/3/Info00001356/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Arif Hussain"><br>Councillor Arif Hussain</a>
			
			<p>Gipton and Harehills</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member for Equalities and raising aspirations around employment</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2286">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/8/2/Info00002286/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Ghulam Hussain"><br>Councillor Ghulam Hussain</a>
			
			<p>Roundhay</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=179">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/7/1/Info00000179/smallpic.jpg" width="90" height="125" alt="link to details of Councillor Graham Hyde"><br>Councillor Graham Hyde</a>
			
			<p>Killingbeck and Seacroft</p>
			
			<p>Labour</p>
				
				
				<p>Deputy Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=192">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/9/1/Info00000192/smallpic.jpg" width="90" height="122" alt="link to details of Councillor John Illingworth"><br>Councillor John Illingworth</a>
			
			<p>Kirkstall</p>
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=198">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/9/1/Info00000198/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Mohammed Iqbal"><br>Councillor Mohammed Iqbal</a>
			
			<p>City and Hunslet</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Deputy Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=205">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/5/0/2/Info00000205/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Josephine Jarosz"><br>Councillor Josephine Jarosz</a>
			
			<p>Pudsey</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2627">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/2/6/Info00002627/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Asghar Khan"><br>Councillor Asghar Khan</a>
			
			<p>Burmantofts and Richmond Hill</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Inner East Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=1363">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/6/3/Info00001363/smallpic.jpg" width="90" height="123" alt="link to details of Councillor Alan Lamb"><br>Councillor Alan Lamb</a>
			
			<p>Wetherby</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
				
				<p>Chair of Scrutiny Board (Environment and Housing)</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=204">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/0/2/Info00000204/smallpic.jpg" width="90" height="123" alt="link to details of Councillor Graham Latty"><br>Councillor Graham Latty</a>
			
			<p>Guiseley and Rawdon</p>
			
			<p>Conservative</p>
				
				
				<p>Conservative Group Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2301">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/0/3/Info00002301/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Pat Latty"><br>Councillor Pat Latty</a>
			
			<p>Guiseley and Rawdon</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4577">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/7/5/Info00004577/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Sandy Lay"><br>Councillor Sandy Lay</a>
			
			<p>Otley and Yeadon</p>
<!--			Tel:  -->
			
			<p>Liberal Democrats</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=241">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/4/2/Info00000241/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Thomas Leadley"><br>Councillor Thomas Leadley</a>
			
			<p>Morley North</p>
			
			<p>Morley Borough Independents</p>
				
				
				<p>MBI Group Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=214">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/1/2/Info00000214/smallpic.jpg" width="90" height="122" alt="link to details of Councillor James Lewis"><br>Councillor James Lewis</a>
			
			<p>Kippax and Methley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Deputy Leader and Executive Member for Resources and Strategy</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=221">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/2/2/Info00000221/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Richard Lewis"><br>Councillor Richard Lewis</a>
			
			<p>Pudsey</p>
			
			<p>Labour</p>
				
				
				<p>Executive Member for Regeneration, Transport and Planning</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=229">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/2/2/Info00000229/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Alison Lowe"><br>Councillor Alison Lowe</a>
			
			<p>Armley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Lead Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=236">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/3/2/Info00000236/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Michael Lyons OBE"><br>Councillor Michael Lyons OBE</a>
			
			<p>Temple Newsam</p>
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2626">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/2/6/Info00002626/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Christine Macniven"><br>Councillor Christine Macniven</a>
			
			<p>Roundhay</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2291">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/9/2/Info00002291/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Kamila Maqsood"><br>Councillor Kamila Maqsood</a>
			
			<p>Gipton and Harehills</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=242">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/4/2/Info00000242/smallpic.jpg" width="90" height="122" alt="link to details of Councillor James McKenna"><br>Councillor James McKenna</a>
			
			<p>Armley</p>
			
			<p>Labour</p>
				
				
				<p>Chair of the City Plans Panel</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6005">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/5/0/0/Info00006005/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Stuart McKenna"><br>Councillor Stuart McKenna</a>
			
			<p>Garforth and Swillington</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=253">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/5/2/Info00000253/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Lisa Mulherin"><br>Councillor Lisa Mulherin</a>
			
			<p>Ardsley and Robin Hood</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Executive Board Member for Children and Families</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4572">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/7/5/Info00004572/smallpic.jpg" width="90" height="122" alt="link to details of Councillor David Nagle"><br>Councillor David Nagle</a>
			
			<p>Rothwell</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Lead Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=256">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/5/2/Info00000256/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Elizabeth Nash"><br>Councillor Elizabeth Nash</a>
			
			<p>City and Hunslet</p>
			
			<p>Labour</p>
				
				
				<p>Chair of the Standards and Conduct Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=257">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/5/2/Info00000257/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Adam Ogilvie"><br>Councillor Adam Ogilvie</a>
			
			<p>Beeston and Holbeck</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chief Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=116">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/1/1/Info00000116/smallpic.jpg" width="90" height="122" alt="link to details of Councillor John Procter"><br>Councillor John Procter</a>
			
			<p>Wetherby</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
				
				<p>Deputy Leader of the Conservative Group</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=224">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/2/2/Info00000224/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Rachael Procter"><br>Councillor Rachael Procter</a>
			
			<p>Harewood</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6006">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/0/0/Info00006006/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Jonathan Pryor"><br>Councillor Jonathan Pryor</a>
			
			<p>Headingley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Deputy Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=260">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/6/2/Info00000260/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Mohammed Rafique"><br>Councillor Mohammed Rafique</a>
			
			<p>Chapel Allerton</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Executive Member for Employment, Enterprise and Opportunity</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6662">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/6/6/Info00006662/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Denise Ragan"><br>Councillor Denise Ragan</a>
			
			<p>Burmantofts and Richmond Hill</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Lead Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=269">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/6/2/Info00000269/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Karen Renshaw"><br>Councillor Karen Renshaw</a>
			
			<p>Ardsley and Robin Hood</p>
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6007">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/0/0/Info00006007/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Kevin Ritchie"><br>Councillor Kevin Ritchie</a>
			
			<p>Bramley and Stanningley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Support Executive Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2302">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/0/3/Info00002302/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Matthew Robinson"><br>Councillor Matthew Robinson</a>
			
			<p>Harewood</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=261">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/6/2/Info00000261/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Brian Selby"><br>Councillor Brian Selby</a>
			
			<p>Killingbeck and Seacroft</p>
			
			<p>Labour</p>
				
				
				<p>Chair of the Licensing Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6008">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/0/0/Info00006008/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Alice Smart"><br>Councillor Alice Smart</a>
			
			<p>Armley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Lead Member</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4570">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/7/5/Info00004570/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Alex Sobel"><br>Councillor Alex Sobel</a>
			
			<p>Moortown</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6667">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/6/6/Info00006667/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Ryan Stephenson"><br>Councillor Ryan Stephenson</a>
			
			<p>Harewood</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=1852">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/5/8/Info00001852/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Eileen Taylor"><br>Councillor Eileen Taylor</a>
			
			<p>Chapel Allerton</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Inner North East Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4567">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/7/6/5/Info00004567/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Christine Towler"><br>Councillor Christine Towler</a>
			
			<p>Hyde Park and Woodhouse</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=203">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/0/2/Info00000203/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Chris Townsley"><br>Councillor Chris Townsley</a>
			
			<p>Horsforth</p>
			
			<p>Liberal Democrats</p>
				
				
				<p>Liberal Democrat Group Deputy Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4569">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/6/5/Info00004569/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Paul Truswell"><br>Councillor Paul Truswell</a>
			
			<p>Middleton Park</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the City Development Scrutiny Board</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6663">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/6/6/Info00006663/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Eleanor Tunnicliffe"><br>Councillor Eleanor Tunnicliffe</a>
			
			<p>Roundhay</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2298">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/8/9/2/Info00002298/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Shirley Varley"><br>Councillor Shirley Varley</a>
			
			<p>Morley South</p>
<!--			Tel:  -->
			
			<p>Morley Borough Independents</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6009">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/9/0/0/Info00006009/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Fiona Venner"><br>Councillor Fiona Venner</a>
			
			<p>Kirkstall</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the Inner West Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=230">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/0/3/2/Info00000230/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Paul Wadsworth"><br>Councillor Paul Wadsworth</a>
			
			<p>Guiseley and Rawdon</p>
			
			<p>Conservative</p>
				
				
				<p>Chair, Outer North West Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=106">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/0/1/Info00000106/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Keith Wakefield"><br>Councillor Keith Wakefield</a>
			
			<p>Kippax and Methley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=4566">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/6/6/5/Info00004566/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Janette Walker"><br>Councillor Janette Walker</a>
			
			<p>Cross Gates and Whinmoor</p>
			
			<p>Independent</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2631">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/1/3/6/Info00002631/smallpic.jpg" width="90" height="121" alt="link to details of Councillor Neil Walshaw"><br>Councillor Neil Walshaw</a>
			
			<p>Headingley</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Chair of the North and East Plans Panel</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=6002">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/0/0/Info00006002/smallpic.jpg" width="90" height="128" alt="link to details of Councillor Terry Wilford"><br>Councillor Terry Wilford</a>
			
			<p>Farnley and Wortley</p>
			
			<p>Green Party</p>
				
				
				<p>Deputy Group Whip</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=222">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/2/2/2/Info00000222/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Gerald Wilkinson"><br>Councillor Gerald Wilkinson</a>
			
			<p>Wetherby</p>
			
			<p>Conservative</p>
				
				
				<p>Chair, Outer North East Community Committee</p>
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=2303">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/3/0/3/Info00002303/smallpic.jpg" width="90" height="122" alt="link to details of Councillor Rod Wood"><br>Councillor Rod Wood</a>
			
			<p>Calverley and Farsley</p>
<!--			Tel:  -->
			
			<p>Conservative</p>
				
	
	</li>		
	<li>
			<a href="mgUserInfo.aspx?UID=1864">
			<img class="mgCouncillorImages" src="http://democracy.leeds.gov.uk/UserData/4/6/8/Info00001864/smallpic.jpg" width="90" height="135" alt="link to details of Councillor Lucinda Yeadon"><br>Councillor Lucinda Yeadon</a>
			
			<p>Kirkstall</p>
<!--			Tel:  -->
			
			<p>Labour</p>
				
				
				<p>Deputy Leader and Executive Member for Environment and Sustainability</p>
	
	</li>
</ul>

		</div>
</div>

</div>

{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}

{% include "pages-lcc/modern-gov-pages/modern-gov-related-pages.html" %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}