{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Test content from 2010 site
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Apply for council housing
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Page title</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="freeContentArea">			
                     	    	
					<div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Main Body Text</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_LimitedHTMLFieldControl" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label"><h2>Am I eligible for rehousing?</h2>

<p>All applications for council housing will be assessed to make sure that offers of accommodation are made only to those who are eligible.</p>

<p>To be eligible applicants must be aged 16 years old and over. Eligibility also depends on your nationality, immigration status and if you've recently lived abroad. This is because the law says that there are some people who arrive in the UK from abroad that we cannot rehouse. The law on eligibility is complex and subject to regular change; if you are not eligible we will write to you to explain why we are unable to rehouse you.</p>

<p>Every eligible customer who makes an application for housing to the Council will be considered for rehousing. There are many factors we will look at to decide whether you qualify to be a tenant. Applications will be non-qualifying on the grounds of unacceptable housing related behaviour.  Some examples of unacceptable behaviour include rent arrears, anti-social behaviour, criminal activity or damage to property, causing nuisance or perpetrating domestic violence or causing serious damage to property.</p>

<p>If your application is found to be non-qualifying we will write to you to explain why.</p>
<br>


<h2>How to apply</h2>

<p>You need to be a member of the Leeds Homes Register to apply for council housing. Once you are on the Leeds Homes register you can bid for available properties. We advertise properties through our choice based lettings scheme. You can find out more on the <strong><a href="http://www.leedshomes.org.uk/default.aspx?menuPath=Home">Leeds Homes website</a></strong>.</p>

<p>We also advertise through our weekly Leeds Homes flyer which is published every Wednesday and available in our housing offices and one stop centres.</p>

<p>The bidding cycle runs from Wednesday 8am to Monday 5pm. You can bid any day you like and can place up to 3 bids per week.</p>

<br>

<h2>How to get a membership&nbsp;form</h2>
<p>You can apply for a Leeds Homes membership by:</p>

<ul>
<li>downloading a copy&nbsp;of the <strong><a href="/docs/Leeds%20Homes%20Application%20Form%20(low%20res).pdf">Leeds Homes membership form (PDF 603KB)</a></strong></li>

<li>visting your <strong><a href="/residents/Pages/Your-local-area.aspx">local housing office or one stop centre</a></strong></li>

<li>calling Housing Leeds on <strong>0113 222 4413</strong> (9am to 5pm Monday to Friday)</li>

<li><strong><a href="/Pages/ContactByEmail.aspx?termID=721">emailing Housing Leeds</a></strong></li>
</ul>

<br>

<h2>Returning your completed&nbsp;membership&nbsp;form</h2>

<br>

<p><strong>Applicants living in Leeds</strong></p>

<p>You must take your completed membership&nbsp;form and original copies of your identity proofs to a <strong><a href="/residents/Pages/Your-local-area.aspx">housing office or one stop centre</a></strong>. Your original identity proofs will be verified, copied and returned to you. <strong>Leeds Homes cannot accept identity proofs if they are not verified.</strong></p>

<br>

<p><strong>Applicants living outside Leeds</strong></p>
<p>If you currently live outside Leeds and cannot go in person to a housing office or one stop centre, please send your completed membership&nbsp;form and photocopies of your identity proofs to the address below. <strong>You must not send original copies of identity proofs through the post to us.</strong></p>

<p><strong>Housing Registrations Team<br>
1st Floor<br>
2 Great George Street<br>
Leeds<br>
LS2 8BA</strong></p>

<br>

<h2>What happens next?</h2>
<p>After your membership&nbsp;has been approved you wil be added to the Leeds Homes Register and issued with a membership number. You can then bid on properties.</p>

<br>

<h2>Waiting times – what factors affect this?</h2>
<p>There is very high demand for council housing in Leeds. There are around 24,000 households on the housing register and we currently let around 5,000 properties a year. This means that we are unable to rehouse the majority of households on the register. It is advisable to consider alternative housing options.</p>

<p>Our properties are let in one of the following ways:</p>
<ul>
<li>75% of council homes are advertised according to housing need and are usually let to the person in the highest priority band who has been waiting the longest</li>
<li>25% of council homes are advertised in the date of registration quota and let to the person with the earliest date of registration and a local connection to the Ward area the property is in, regardless of their priority</li>
</ul>

<p>Waiting times vary between areas and property types. We publish detailed lettings information on the <a href="http://www.leedshomes.org.uk/"><strong>Leeds Homes website</strong></a>.</p>
<br>

<h2>How are applications prioritised?</h2>
<p>Your application will be placed into one of three priority bands according to your housing needs:</p>
<ul>
<li>Band A – urgent need</li>
<li>Band B – non-urgent need</li>
<li>Band C – all other households, including those with no housing need.</li>
</ul>

<p>We will look at your medical needs, your housing conditions, whether you are homeless and any other reason that you need to be rehoused to decide which priority band you should be in.</p>

<p>When your application is registered you will receive a letter to confirm your application number, priority band and date of registration.</p>

<p>You must notify the Council of any changes in your circumstances that may affect your application.</p>
<br>


<h2>What happens when I have submitted an application?</h2>

<p>Your application will be assessed to confirm that you and your household are eligible and qualifying. The length of time it takes to confirm registration will depend upon a number of factors, including providing proof of identity.</p>

<p>You will need to provide proof of identity to your local housing office or one stop centre. Your original proofs will be verified, copied and returned to you.</p>

<p>When your application is registered you will receive a letter to confirm your application number, priority band and date of registration.</p>
<br>


<h2>Swapping your home (Mutual Exchange)</h2>
<p>A mutual exchange is when two or more tenants decide to swap homes. You can find out more on the <strong><a href="/residents/Pages/HSG-Swap-your-home-with-a-Mutual-Exchange.aspx">Mutual Exchange page</a></strong>.&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</p></div>
				</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}