{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Test content from 2010 site
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Council Tax payments
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Page title</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="freeContentArea">			
                     	    	
					<div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Main Body Text</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_LimitedHTMLFieldControl" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label"><p><strong>This page </strong><strong>tells you the different ways you can pay your Council Tax .</strong></p>
<p>Other common Council Tax queries:</p>
<div style="overflow-x: auto;">
  <strong>
</strong><strong>
</strong><strong>
</strong><strong>
</strong><strong>
</strong><strong>
</strong><strong>
</strong><strong>
</strong><table class="styledTable">
<tbody><tr><td><a href="/residents/Pages/Apply-for-a-council-tax-reduction.aspx"><strong>Discounts</strong></a></td>
<td><a href="/residents/Pages/Report-a-change-of-address.aspx"><strong>Report a change of address</strong></a></td>
<td><a href="/residents/Pages/Report-a-change-of-address.aspx"><strong>Adding/removing a person from address</strong></a></td></tr>
<tr><td><a href="/residents/Pages/Exemptions-for-occupied-properties.aspx"><strong>Exemptions for occupied properties</strong></a></td>
<td><a href="/residents/Pages/Exemptions-for-unoccupied-properties.aspx"><strong>Exemptions for unoccupied properties</strong></a></td>
<td><a href="/residents/Pages/Second-homes-and-the-Council-Tax.aspx"><strong>Second homes</strong></a></td></tr>
<tr><td><a href="https://youraccount.leeds.gov.uk/publicaccesslive/selfservice/dashboard.htm"><strong>Checking housing benefit details online</strong></a></td>
<td><a href="/residents/Pages/Council-Tax-charges-and-bands.aspx"><strong>Appeal your tax band</strong></a></td>
<td><a href="/residents/Pages/Empty-properties-and-the-Council-Tax.aspx"><strong>Empty property</strong></a></td></tr>

  </tbody></table>
</div>
<p>If you need to <strong>find out your account number</strong> then you'll need to call or <a href="https://youraccount.leeds.gov.uk/publicaccesslive/selfservice/dashboard.htm"><strong>log in to your online account</strong></a></p>
<p>If you are <a title="what if you can't pay your council tax page" href="/residents/Pages/What-if-you-can't-pay-your-council-tax.aspx"><strong>struggling to pay</strong></a> your Council Tax we can help you.&nbsp;</p>
<p>Annual bills are sent out in March and you can choose to pay in one lump sum, half-yearly, or&nbsp;10 monthly instalments from April to January. These instalments are due on the 10th of each month - &nbsp;this means that payments need to reach your Council Tax account by this date.</p>
<p>The easiest way to pay your Council Tax is by Direct Debit.</p>
<h2 class="ms-rteElement-H2">Setting up a Direct Debit&nbsp;or changing the payment date</h2>
<p><strong></strong>&nbsp;If you choose to pay by Direct Debit you have a choice of three dates, either the 10th, the 20th, or the last day of the month, and you can choose to pay your annual Council Tax over 12 months rather than 10. You can set up or change a Direct Debit online by using <strong>Top Tasks</strong>. Setting up a new Direct Debit overrides your old one if you already had one active on your account. You will need your Council Tax account&nbsp;number and bank account details.&nbsp;&nbsp; </p>
<p>You can also set up a Direct Debit by:<br></p>
<ul><li>downloading the Direct Debit&nbsp;instruction from&nbsp;the <strong>Documents </strong>section&nbsp;<br></li>
<li>phoning us with your bank account details and Council Tax account number.<br></li></ul>
<strong>What happens next?</strong><span style="font-size: 1em; line-height: 1.8em;">&nbsp;</span> <p>We will send you a Direct Debit confirmation letter at least 10 days before your first payment is due. Then each month on the due date we will ask for payment direct from your bank account. </p>
<h2 class="ms-rteElement-H2">Other ways to pay&nbsp;<span style="font-size: 1em; color: rgb(51, 51, 51); line-height: 1.8em;">&nbsp;</span></h2>
<p><strong>By Standing Order, telephone banking or online banking</strong>&nbsp;</p>
<p>Make payments to: NatWest, Head Office Collection Account No 00000000, sort code 57-12-72.&nbsp;Please give your Council Tax account number which you will find&nbsp;on your bill.<br><br><strong>By debit card over the telephone - available every day, 24 hours a day</strong><br>Phone (0113) 395 7100 and follow the easy, step-by-step instructions.<br><br><strong>Over the internet - available every day, 24 hours a day</strong><br>You can pay safely and securely online - go to 'Top tasks' to do this.&nbsp;</p>
<p><strong>In person</strong><br>You can pay at any of the following for free - just take your Council Tax bill with you:<br>A Post Office - by cash, debit card or cheque (payable to Post Office Ltd).<br>Paypoint outlets – by cash only.&nbsp;<br><br>More information on other online Council Tax services can be found in the <strong>related pages section.</strong>&#8203;&#8203;&#8203;&#8203;&#8203;</p></div>
				</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-system/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}