{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Test content from 2010 site
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Housing Associations and Co-operative Housing Groups
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Page title</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="freeContentArea">			
<p>Housing Associations provide rented housing which is similar to local councils – often to people on a low income or who need special types of housing.</p>
 
<p>Some of them provide homes for particular groups of people; for example sheltered housing. They do not make a profit and many of them are charitable organisations. They are often called Registered Social Landlords (RSLs) or Registered Providers (RPs).</p>

<h2>Applying for a home with a housing association</h2>

<p>You can apply for a home with a housing association by contacting them directly. You can also apply to some of them by registering with Leeds Homes (CBL-Choiced Based Lettings). You can search  for available housing association properties by <strong><a rel="external" href="http://www.leedshomes.org.uk/default.aspx?menuPath=SearchHomes">selecting your preferred housing provider on the search</a></strong> page.</p>

<p>If you want to find out more about housing associations in England, visit the <strong><a rel="external" href="http://www.housing.org.uk/">National Housing Federation website</a></strong>.</p>

<div class="panel">
    <h3 class="top">Accent Housing​</h3>
    <p class="font-xsmall">​Accent Housing own 21,500 homes which include over 34,000 residents call home nationally. They have 5 Regional offices throughout England with their Yorkshire office based in Bradford</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Jeremy Downs House, Senior Way, Bradford, BD5 0QB</li>
        <li><strong>Telephone: </strong>0345 678 0555</li>
        <li><strong>Website: </strong><a rel="external" href="http://www.accentgroup.org/">www.accentgroup.org</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Affinity Sutton</h3>
    <p class="font-xsmall">Affinity Sutton are a large national social housing provider. They provide affordable housing for people on low-incomes who are in housing need and operate an in house 'Choice Based Lettings' system</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Holme House, Manor Lane, Holmes Chapel, Cheshire, CW4 8AF</li>
        <li><strong>Telephone: </strong>0300 100 0303</li>
        <li><strong>Website: </strong><a rel="external" href="https://www.affinitysutton.com/">www.affinitysutton.com</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Accent Housing​</h3>
    <p class="font-xsmall">​Accent Housing own 21,500 homes which include over 34,000 residents call home nationally. They have 5 Regional offices throughout England with their Yorkshire office based in Bradford</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Jeremy Downs House, Senior Way, Bradford, BD5 0QB</li>
        <li><strong>Telephone: </strong>0345 678 0555</li>
        <li><strong>Website: </strong><a rel="external" href="http://www.accentgroup.org/">www.accentgroup.org</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Affinity Sutton</h3>
    <p class="font-xsmall">Affinity Sutton are a large national social housing provider. They provide affordable housing for people on low-incomes who are in housing need and operate an in house 'Choice Based Lettings' system</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Holme House, Manor Lane, Holmes Chapel, Cheshire, CW4 8AF</li>
        <li><strong>Telephone: </strong>0300 100 0303</li>
        <li><strong>Website: </strong><a rel="external" href="https://www.affinitysutton.com/">www.affinitysutton.com</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Accent Housing​</h3>
    <p class="font-xsmall">​Accent Housing own 21,500 homes which include over 34,000 residents call home nationally. They have 5 Regional offices throughout England with their Yorkshire office based in Bradford</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Jeremy Downs House, Senior Way, Bradford, BD5 0QB</li>
        <li><strong>Telephone: </strong>0345 678 0555</li>
        <li><strong>Website: </strong><a rel="external" href="http://www.accentgroup.org/">www.accentgroup.org</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Affinity Sutton</h3>
    <p class="font-xsmall">Affinity Sutton are a large national social housing provider. They provide affordable housing for people on low-incomes who are in housing need and operate an in house 'Choice Based Lettings' system</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Holme House, Manor Lane, Holmes Chapel, Cheshire, CW4 8AF</li>
        <li><strong>Telephone: </strong>0300 100 0303</li>
        <li><strong>Website: </strong><a rel="external" href="https://www.affinitysutton.com/">www.affinitysutton.com</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Accent Housing​</h3>
    <p class="font-xsmall">​Accent Housing own 21,500 homes which include over 34,000 residents call home nationally. They have 5 Regional offices throughout England with their Yorkshire office based in Bradford</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Jeremy Downs House, Senior Way, Bradford, BD5 0QB</li>
        <li><strong>Telephone: </strong>0345 678 0555</li>
        <li><strong>Website: </strong><a rel="external" href="http://www.accentgroup.org/">www.accentgroup.org</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>

<div class="panel">
    <h3 class="top">Affinity Sutton</h3>
    <p class="font-xsmall">Affinity Sutton are a large national social housing provider. They provide affordable housing for people on low-incomes who are in housing need and operate an in house 'Choice Based Lettings' system</p>
    <ul class="list bottom">
        <li><strong>Address: </strong>Holme House, Manor Lane, Holmes Chapel, Cheshire, CW4 8AF</li>
        <li><strong>Telephone: </strong>0300 100 0303</li>
        <li><strong>Website: </strong><a rel="external" href="https://www.affinitysutton.com/">www.affinitysutton.com</a></li>
        <li><strong>How to apply: </strong>CBL & Apply Direct</li>
    </ul>
</div>
<!--
<br>
<br>
<table cellspacing="0" class="ms-rteTable-default" style="font-size: 1em; width: 100%;"><tbody><tr class="ms-rteTableHeaderRow-default"><th class="ms-rteTableHeaderFirstCol-default" rowspan="1" colspan="1">&#8203;&#8203;&#8203;Name</th>
<th class="ms-rteTableHeaderOddCol-default" rowspan="1" colspan="1">Description&#8203;</th>
<th class="ms-rteTableHeaderEvenCol-default" rowspan="1" colspan="1">Contact Details&#8203;</th>
<th class="ms-rteTableHeaderOddCol-default" rowspan="1" colspan="1">How to apply&#8203;</th></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Accent Housing&#8203;</th>
<td class="ms-rteTableOddCol-default">&#8203;Accent Housing own 21,500 homes which include over 34,000 residents call home nationally. They have 5 Regional offices throughout England with their Yorkshire office based in Bradford</td>
<td class="ms-rteTableEvenCol-default">&#8203;&#8203;Jeremy Downs House<br>
Senior Way, Bradford, BD5 0QB<br>
Tel: <strong>0345 678 0555</strong><br>
<strong><a href="http://www.accentgroup.org/">www.accentgroup.org</a></strong>
</td>
<td class="ms-rteTableOddCol-default">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Affinity Sutton</th>
<td class="ms-rteTableOddCol-default">&#8203;Affinity Sutton are a large national social housing provider. They provide affordable housing for people on low-incomes who are in housing need and operate an in house 'Choice Based Lettings' system</td>
<td class="ms-rteTableEvenCol-default">&#8203;Holme House, Manor Lane, Holmes Chapel,<br>
Cheshire, CW4 8AF<br>
Tel: <strong>0300 100 0303</strong><br>
<strong><a href="https://www.affinitysutton.com/">www.affinitysutton.com</a></strong>
</td>
<td class="ms-rteTableOddCol-default">&#8203;CBL&nbsp;&amp;&nbsp; Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Anchor&#8203;</th>
<td class="ms-rteTableOddCol-default">&#8203;The Anchor Group is England’s largest not-for-profit housing association, providing housing, care and support to people over 55 years old</td>
<td class="ms-rteTableEvenCol-default">&#8203;Anchor Hub, 2 Godwin Street, Bradford<br>
BD1 2ST<br>
Tel: <strong>0808 149 7017</strong><br>
<strong><a href="http://www.anchor.org.uk/">www.anchor.org.uk</a></strong>
</td>
<td class="ms-rteTableOddCol-default">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Broadacres&#8203;</th>
<td class="ms-rteTableOddCol-default">&#8203;Broadacres have a number of properties available for rent in Boston Spa. &nbsp; If you would like to apply for housing in the Leeds area you will need to register an application through the Leeds Homes Choice Based Letting Scheme which covers housing throughout Leeds</td>
<td class="ms-rteTableEvenCol-default">&#8203;Broadacres House, Mount View,<br>
Standard Way, Northallerton,<br>
North Yorkshire, DL6 2Y,<br>
Tel: <strong>01609 767 900</strong><br>
<strong><a href="http://www.broadacres.org.uk/">www.broadacres.org.uk</a></strong>
</td>
<td class="ms-rteTableOddCol-default">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Canopy</th>
<td class="ms-rteTableOddCol-default">&#8203;Canopy provides decent affordable accommodation for people that are homeless or in housing need.Canopy is a small housing project with a limited number of properties and therefore usually has a new house available once every couple of months</td>
<td class="ms-rteTableEvenCol-default">&#8203;114 Lady Pit Lane,<br>
Leeds, LS11 6EE<br>
Tel: <strong>0113 294 6868</strong><br>
<strong><a href="http://canopyhousing.org/">www.canopyhousing.org</a></strong>
</td>
<td class="ms-rteTableOddCol-default">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Connect</th>
<td class="ms-rteTableOddCol-default">&#8203;Connect Housing offer 1,800 homes for all types of households, plus 700 properties for older people, 400 supporte housing property and 200 affordable ownership homes. They have homes across Leeds, Kirklees and the Calderdale &amp; Wakefield</td>
<td class="ms-rteTableEvenCol-default">&#8203;205 Roundhay Road, Leeds, LS8 4HS<br>
Tel: <strong>0300 5000 600</strong><br>
<strong><a href="http://www.connecthousing.org.uk/Home.aspx">www.connecthousing.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default">&#8203;CBL Only</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Habbingteg&#8203;</th>
<td class="ms-rteTableOddCol-default">&#8203;Habinteg Housing Association are a national housing provider with a strong focus on housing and services for disabled people, &nbsp;offering places to live that meet their needs and provide the highest levels of independence, choice and control over their daily lives</td>
<td class="ms-rteTableEvenCol-default">&#8203;Chapman House, Unit 1, Adwalton Business Park,<br>
132 Wakefield Road, Drighlington, Bradford, BD11 1DR<br>
Tel: <strong>0113 285 9340</strong><br>
<strong><a>www.habinteg.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Hanover&#8203;</th>
<td class="ms-rteTableOddCol-default">&#8203;Hanover is a national leader in providing a range of attractive and affordable homes and related services designed exclusively for people aged 55 and over, helping to meet individual needs and local demands</td>
<td class="ms-rteTableEvenCol-default">&#8203;Dove Court, Bolton Street,<br> Bradford, BD3 0BJ<br>
Tel: <strong>0800 280 2575 &amp;<br>
01274 302 070</strong><br>
<strong><a href="http://www.hanover.org.uk/">www.hanover.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default">&#8203;CBL &amp; &nbsp;Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Home Group&#8203;</th>
<td class="ms-rteTableOddCol-default">&#8203;Home Group, a social enterprise and a charity with a turnover of over £325m, is one of the UK’s largest providers of high quality housing and supported housing services and products</td>
<td class="ms-rteTableEvenCol-default">&#8203;Knight House, 2 Sandbeck Court,<br>
Wetherby, LS22 7BA<br>
Tel: <strong>01937 588 497</strong>
<strong><a href="https://www.homegroup.org.uk/">www.homegroup.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Housing and Care 21&#8203;</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Housing &amp; Care 21 is a leading national provider of retirement housing and care services for older people, mainly those aged 65 and above</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Tricorn House, 51-53 Hagley Road,<br>
Birmingham, B16 8TP<br>
Tel: <strong>0370 192 4000</strong><br>
<strong><a href="http://www.housingandcare21.co.uk/">www.housingandcare21.co.uk</a></strong>
</td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Leeds &amp; Yorkshire HA</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Leeds &amp; Yorkshire have 1,300 properties located across Leeds, Whitby, Scarborough, Barnsley, Mirfield, Barnoldswick, Earby and Settle; ranging from studio apartments to four bedroom houses suitable for single people, couples and families, dependant on the size of the property&#8203;</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;2 Shire Oak Road, Leeds, LS6 2NT<br>
Tel: <strong>0113 278 3335</strong><br>
<strong><a href="http://www.lyha.co.uk/">www.lyha.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Leeds Federated HA</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Leeds Federated is a housing association with around 4,000 properties across Leeds, Wakefield and North Yorkshire</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Arthington House, 30 Westfield Road,<br>
Leeds, LS3 1DE<br>
Tel: <strong>0113 386 1000</strong>
<strong><a href="https://www.lfha.co.uk/">www.lfha.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL Only</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Leeds Jewish HA</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Leeds Jewish Housing Association is a Jewish led, minority ethnic housing association, providing homes primarily for the Jewish Community</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;311 Stonegate Road, Leeds LS17 6SZ<br>
Tel: <strong>0113 203 4910</strong><br>
<strong><a href="http://www.ljha.co.uk/">www.ljha.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Methodist Homes&#8203;</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;MHA is a national organisation providing housing, care and services for the elderly</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Epworth House, Stuart Street,<br>
Derby, DE1 2EQ<br>
Tel: <strong>01332 296 200</strong><br>
<strong><a href="http://www.mha.org.uk/">www.mha.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL &amp; &nbsp;Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Places for People</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Places for People are one of the largest property and leisure management, development and regeneration companies in the UK. They provide private and social rented properties within the Leeds area</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Stanley House, The Boulevard,<br>
Leeds Dock, Leeds, LS10 1PZ<br>
Tel: <strong>0845 850 9571</strong><br> 
<strong><a href="http://www.placesforpeople.co.uk/">www.placesforpeople.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Railway</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Railway Housing Association owns 1,500 rented homes in 24 local authority areas, mainly concentrated in the areas of Darlington, Doncaster, Durham, East Riding, Hull, Leeds, Newcastle and York. In addition, we manage 73 leasehold properties for older people</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Bank Top House, Garbutt Square<br>
Neasham Road, Darlington, DL1 4DR<br>
Tel: <strong>0800 028 7428</strong><br>
<strong><a href="http://www.railwayha.co.uk/">www.railwayha.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Riverside (English Churches)&#8203;</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;The Riverside Group is a housing association and registered providers of social housing nationwide. As a social landlord they provide support to people of all ages and circumstances</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;3 Linden House, Sardinia Street,<br>
Leeds, LS10 1BH<br> 
Tel: <strong>0345 111 0000</strong><br>
<strong><a href="https://www.riverside.org.uk/">www.riverside.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Salvation Army Housing Association&#8203;</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Saha (Salvation Army Housing Association) is a leading provider of
residential centres, foyers, and move-on housing for single &amp; homeless
people in the UK</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;2nd Floor,  53-55 Victoria Square,<br>
Bolton, BL1 1RZ<br>
Tel: <strong>0800 970 6363</strong><br>
<strong><a href="http://saha.org.uk/">www.saha.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Sanctuary</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Sanctuary Housing manages more than 12,000 properties in parts of
Cheshire, Kingston-upon-Hull, Lincolnshire, Nottinghamshire, Staffordshire and
Yorkshire</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;6 Killingbeck Court, Leeds, LS14 6UF<br>
Tel: <strong>0800 131 3348 or 0300 123 3511</strong><br>
<strong><a href="https://www.sanctuary-housing.co.uk/">www.sanctuary-housing.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Stonewater</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Stonewater is one of the UK’s most significant social housing providers,
with 30,000 homes under management and £1.6 billion in assets. We also have a
significant development programme to help address the rising demand for housing</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Jephson House, Lowfields Business Park,<br>
Old Power Way, Halifax, HX5 9DE<br>
Tel:  <strong>01202 319 119</strong><br>
<strong><a href="https://www.stonewater.org/">www.stonewater.org</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;The Guinness Partnership Ltd.</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;The Guinness Partnership have 60,000 homes across England. They provide general and sheltered social rented properties within the Leeds area</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;6 Victoria Court, Bank Square, Morley, LS27 9SE<br>
Tel: <strong>0303 123 1890</strong><br>
<strong><a href="http://www.guinnesspartnership.com/">www.guinnesspartnership.com</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL &amp; Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Together Housing Group</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;The Together Housing Group is a leading provider of quality affordable and modern homes for rent or sale across the North of England</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Royd House, Low Mills, Guiseley, LS20 9LU<br>
Tel: <strong>0300 555 5561</strong><br>
<strong><a href="http://www.togetherhousing.co.uk/">www.togetherhousing.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Unity</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Unity Housing Association is an organisation committed to building strong sustainable neighbourhoods through the provision of high quality housing and social and employment opportunities</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;113/115 Chapeltown Road, Leeds, LS7 3HY<br>
<strong>0113 200 7700</strong><br>
<strong><a href="http://unityha.co.uk/">www.unityha.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL Only</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">Wakefield District Housing&#8203;</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;WDH is a housing association that offers social housing in the Wakefield area and area's with in South Leeds</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Merefield House, Whistler Drive,<br>
Castleford, WF10 5HX<br>
Tel: <strong>0345 850 7507</strong>
<strong><a href="http://www.wdh.co.uk/">www.wdh.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL Only</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">York Housing Association&#8203;</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;York HA Provides houses for single people, couples, students, and a variety of services for people in greater housing need</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;2 Alpha Court, Monks Cross Drive,<br>
Huntington, York, YO32 9WN<br>
Tel: <strong>01904 636 061</strong>
<strong><a href="http://www.yorkha.org.uk/">www.yorkha.org.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr>
<tr class="ms-rteTableEvenRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Yorkshire Housing</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Yorkshire Housing is a registered social landlord and housing association providing affordable homes throughout the Yorkshire region. They operate in Barnsley, Bradford, Calderdale, Craven, Doncaster, East Riding, Harrogate, Kirklees, Leeds, Rotherham, Ryedale, Selby, Sheffield, Wakefield and York</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Yorkshire Housing Dysons Chambers,<br>
12-14 Briggate, Leeds, LS1 6ER<br>
Tel: <strong>0345 366 4404</strong>
<strong><a href="https://www.yorkshirehousing.co.uk/">www.yorkshirehousing.co.uk</a></strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;CBL&nbsp;&amp;<br>Apply Direct</td></tr>
<tr class="ms-rteTableOddRow-default"><th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="text-align: left;">&#8203;Your Housing Group</th>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Your Housing have more than 33,000 homes across the North West, Yorkshire and the Midlands. These range from general properties for social and affordable rent, through to retirement living developments and innovative private rental offers&#8203;</td>
<td class="ms-rteTableEvenCol-default" rowspan="1">&#8203;Ingots Building, Cemetary Road, Yeadon, LS19 7UP<br>
<strong>0345 345 0272</strong><br>
<strong><a href="http://www.yourhousingoptions.co.uk/View/HousingOptions/HousingOptionDetail.aspx?id=4dcf37af-108f-4eef-a91a-a66992adbe0f">www.yourhousingoptions.co.uk</a></strong><br>
</td>
<td class="ms-rteTableOddCol-default" rowspan="1">&#8203;Apply Direct</td></tr></tbody></table>
&nbsp;&#8203;&#8203;	-->    	
					<div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Main Body Text</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_LimitedHTMLFieldControl" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label">&#8203;&#8203;&#8203;&#8203;&#8203;</div>
				</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-system/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}