{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Test content from 2010 site
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    School calendar
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Page title</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="freeContentArea">			
                     <div id="ctl00_m_g_4f1931c5_defd_44cc_afe9_b4b383593814">
	<div>
		<table class="styledTable" cellspacing="0" rules="all" caption="Leeds School holidays for 2015 - 2016" summary="Leeds School holidays for 2015 - 2016" border="1" id="gv" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th scope="col">Holiday</th><th scope="col">Schools close</th><th scope="col">Schools open</th>
				</tr>
			</thead><tbody>
				<tr>
					<td>Spring mid-term</td><td>Friday 10 February 2017</td><td>Monday 20 February 2017</td>
				</tr><tr>
					<td>Easter</td><td>Friday 31 March 2017</td><td>Tuesday 18 April 2017</td>
				</tr><tr>
					<td>May bank holiday</td><td>Friday 28 April 2017</td><td>Tuesday 2 May 2017</td>
				</tr><tr>
					<td>Summer mid-term</td><td>Friday 26 May 2017</td><td>Monday 5 June 2017</td>
				</tr><tr>
					<td>Summer</td><td>Wednesday 26 July 2017</td><td>Monday 4 September 2017</td>
				</tr><tr>
					<td>Autumn mid-term</td><td>Friday 20 October 2017</td><td>Monday 30 October 2017</td>
				</tr><tr>
					<td>Christmas</td><td>Friday 15 December 2017</td><td>Tuesday 2 January 2018</td>
				</tr>
			</tbody><tfoot>

			</tfoot>
		</table>
	</div>




</div>	    	
					<div id="ctl00_PlaceHolderMain_ctl00_label" style="display:none">Main Body Text</div><div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_LimitedHTMLFieldControl" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label"><p>The school calendar tells you&nbsp;when terms start and&nbsp;finish&nbsp;during the school year&nbsp;including half terms and bank holidays. There is a summary of the calendar on this page and you can download the full version (including future calendars)&nbsp;from the <strong>Documents </strong>section on this page or from these links:<br>


</p>
<p><a title="2015-16 School calendar PDF" href="/docs/Leeds%20School%20Calendar%20-%202015-16.pdf"><strong>2015-16 school calendar</strong> </a>(PDF 109 KB)<br><a title="2016-17 school calendar PDF" href="/docs/Leeds%20school%20calendar%202016-2017.pdf"><strong>2016-17 school calendar</strong></a> (PDF 52 KB)<br><a title="2017-18 school calendar PDF" href="/docs/Leeds%20school%20calendar%202017-2018.pdf"><strong>2017-18 school calendar</strong></a> (PDF 52 KB)</p>

<p><strong>Please note that the 2018/19 school calendar will be published here at the end of June</strong>.</p>

<br>

<h2>School Easter break</h2>
<p>Since 2010 schools in Leeds have had a fixed Easter break. The two week Easter holiday always falls during the first two weeks in April, regardless of when the Easter bank holidays fall. Depending on the year, the Easter bank holiday can fall at the beginning, middle, or end of the Easter break, but once every few years it falls entirely outside of the Easter break.</p>

<p>For voluntary-aided or academy schools please contact the individual school as dates may vary.</p>

<br>

<h2>Training days</h2>
<p>For details of individual schools five training days, please contact the <a title="Link to school search on Leeds City Council's website" href="/residents/Pages/SchoolsSearch.aspx"><strong>school directly</strong> </a>as these are not the same for all schools.&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</p>

<br>

<h2>Contact us</h2>
<p>For further information you can email us at <strong><a href="mailto:children.leeds@leeds.gov.uk">children.leeds@leeds.gov.uk</a></strong>&#8203;&#8203;&#8203;<span id="ms-rterangecursor-start" style="display: none;"></span><span id="ms-rterangecursor-end" style="display: none;"></span></p></div>
				</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-system/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}