{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Contact us
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Contact us
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Contact us</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="panel">
   <div class="text">
      <h2>Save time, do it online!</h2>
      <p>You can pay for things and find information quickly and easily on this website.</p>
      <p>Please go to the relevant part of the website to find what you want:</p>
      <ul class="list list-bullet bottom">
         <li>choose the service you want from our 
            <a href="\">home page</a></li>
         <li class="bottom">to make a payment, go to the 
            <a href="/Pages/Make-a-payment.aspx">payments page</a><br/></li>
      </ul>
   </div>
</div>
<div class="text">
   <h2>Most frequently used contacts</h2>
   <div role="note" aria-label="Information" class="text-highlight">
      <p>Our standard opening hours are Mon - Fri 9am - 5pm.<br/></p>
   </div>
</div>
<div class="box-layout main">
   <div class="box-layout-item">
      <h3>
         <a href="/Pages/Bins-and-recycling.aspx">Bins and recycling</a></h3>
      <ul class="list list-nav">
         <li>
            <a href="/Pages/Check-your-bin-day.aspx">Check your bin day</a></li>
         <li>
            <a href="/Pages/BinCollectionProblems.aspx">Bin collection problems</a></li>
         <li>
            <a href="/Pages/RequestBins.aspx">Request a new bin</a></li>
      </ul>
      <p class="telephone bottom">
         <span class="sr-only">Telephone: </span>0113 222 4406<span class="additionalInfo"></span></p>
   </div>
   <div class="box-layout-item">
      <h3>
         <a href="/Pages/Council-tax-and-benefits.aspx">Council Tax</a></h3>
      <ul class="list list-nav">
         <li>
            <a href="/Pages/Council-Tax-payments.aspx">Pay your Council Tax</a></li>
         <li>
            <a href="/Pages/Council-Tax-payments.aspx">Help and Advice</a></li>
         <li>
            <a href="/Pages/Report-a-change-of-address.aspx">Report a change of address</a></li>
      </ul>
      <p class="telephone bottom">
         <span class="sr-only">Telephone: </span>0113 222 4404<span class="additionalInfo"></span></p>
   </div>
   <div class="box-layout-item">
      <h3>
         <a href="/Planning.aspx">Planning</a></h3>
      <ul class="list list-nav">
         <li>
            <a href="/council/Public-Access.aspx">View applications and decisions</a></li>
         <li>
            <a href="/council/Permitted-development---do-I-need-planning-permissin.aspx">Do I need planning permission</a></li>
         <li>
            <a href="/council/Make-an-application.aspx">Submit an application</a></li>
      </ul>
      <p class="telephone bottom">
         <span class="sr-only">Telephone: </span>0113 222 4409<span class="additionalInfo"></span></p>
   </div>
   <div class="box-layout-item">
      <h3>
         <a href="/Pages/Schools-and-learning.aspx">Schools</a></h3>
      <ul class="list list-nav">
         <li>
            <a href="/Pages/School-calendar.aspx">School holidays</a></li>
         <li>
            <a href="/Pages/SchoolsSearch.aspx">Find a school</a></li>
         <li>
            <a href="/Pages/Admissions.aspx">Admissions</a></li>
      </ul>
      <p class="telephone bottom">
         <span class="sr-only">Telephone: </span>0113 222 4414<span class="additionalInfo">School admissions</span></p>
   </div>
   <div class="box-layout-item">
      <h3>
         <a href="/Pages/Parking.aspx">Parking</a></h3>
      <ul class="list list-nav">
         <li>
            <a href="/Pages/Parking-in-Leeds.aspx">City centre parking</a><br/></li>
         <li>
            <a href="/Pagesparkingpermits.aspx">Resident parking permits</a></li>
         <li>
            <a href="/Pages/parking-and-bus-lane-tickets.aspx">Parking and bus lane fines</a></li>
      </ul>
      <p class="telephone">
         <span class="sr-only">Telephone: </span>0113 378 5000<span class="additionalInfo">General parking info - 8.30am to 5pm (Mon to Fri)</span></p>
      <p class="telephone bottom">
         <span class="sr-only">Telephone: </span>0113 222 4444<span class="additionalInfo">Blue badge</span></p>
   </div>
   <div class="box-layout-item">
      <h3>
         <a href="/Pages/Housing.aspx">Housing</a></h3>
      <ul class="list list-nav">
         <li>
            <a href="/Pages/HSG-Council-Housing.aspx">Council housing</a></li>
         <li>
            <a href="/Pages/HSG-report-a-repair.aspx">Request a repair</a></li>
         <li>
            <a href="/Pages/Private-tenants.aspx">Advice for private tenants</a></li>
      </ul>
      <p class="telephone">
         <span class="sr-only">Telephone: </span>0113 222 4412<span class="additionalInfo">Homelessness/housing advice</span></p>
      <p class="telephone bottom">
         <span class="sr-only">Telephone: </span>0800 188 4000<span class="additionalInfo">Council housing</span></p>
   </div>
</div>

<h3>Other useful contacts are:</h3>
<div class="box-layout other">
  <div class="box-layout-item">
    <h4><a href="/Pages/Adult-Social-Care.aspx">Adult social care</a></h4>
    <p class="telephone bottom"><span class="sr-only">Telephone: </span>0113 222 4401<span class="additionalInfo"></span></p>
  </div>
   <div class="box-layout-item">
    <h4><a href="/Pages/Births-deaths-and-marriages.aspx">Births, deaths and marriages</a></h4>
    <p class="telephone bottom"><span class="sr-only">Telephone: </span>0113 222 4408<span class="additionalInfo"></span></p>
  </div>
   <div class="box-layout-item">
    <h4><a href="/council/Pages/Elections.aspx">Elections and referendum</a></h4>
    <p class="telephone bottom"><span class="sr-only">Telephone: </span>0113 222 4411<span class="additionalInfo"></span></p>
  </div>
   <div class="box-layout-item">
    <h4><a href="/Pages/Environmental-health.aspx">Environmental health</a></h4>
    <p class="telephone bottom"><span class="sr-only">Telephone: </span>0113 222 4406<span class="additionalInfo"></span></p>
  </div>
   <div class="box-layout-item">
    <h4><a href="/Pages/Keeping-children-safe.aspx">Keeping children safe</a></h4>
    <p class="telephone bottom"><span class="sr-only">Telephone: </span>0113 222 4403<span class="additionalInfo"></span></p>
  </div>
   <div class="box-layout-item">
    <h4><a href="/Pages/Report-a-highways-issue.aspx">Roads and pavements</a></h4>
    <p class="telephone bottom"><span class="sr-only">Telephone: </span>0113 222 4407<span class="additionalInfo"></span></p>
  </div>
</div>

<div class="text">
    
    <div role="note" aria-label="Information" class="text-highlight text-highlight--red">
        <h2>Emergency and out-of-hours</h2>
        <p>If you need to contact the council urgently when our offices are closed phone one of our <a href="/pages/Emergency-out-of-hours-contact-numbers.aspx">emergency numbers</a>.</p>
    </div>

    <h2>Can't find what you're looking for?</h2>
    <p>You can find the best way to contact each service in our <a href="/a-to-z-council-services">Services A-Z</a>.</p>
    <p>Alternatively, you can contact our general enquiries team on 0113 222 4444 or write to us at Leeds City Council, Civic Hall, Calverley Street, Leeds, LS1 1UR.</p>

    <h2>Visit us</h2>
    <p>At our One Stop Centres we provide advice on a range of council services. We work with a variety of partners to help bring you the services that you need locally.</p>
    <p><a href="/where-i-live" class="btn btn-primary btn-arrow">Find your nearest One Stop Centre</a></p>
    <h2>British Sign Language (BSL)</h2>
    <p>Ways for deaf British sign language (BSL) users to <a href="/accessibility/british-sign-language-bsl">access our services</a>.</p>


    <h2>Interpretation and translation</h2>
    <p>If you need information in another language, please visit our <a href="/Pages/Language-Access-Provision.aspx">language access provision page</a>.</p>
</div>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
    
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}