{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Contact us
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Contact us
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Contact us</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <h2>Ways to contact us</h2>
    <p>You can contact the team in a number of different ways. Most people find it easiest to get in touch online.</p>
    <h3>Live chat</h3>
    <p>Chat online now with one of our dedicated customer care advisers and receive assistance with your query straight away.</p>
    <script type="text/javascript" src="//leedscitycouncil.widget.custhelp.com/euf/rightnow/RightNow.Client.js"></script> 
    <div id="myChatLinkContainer">
        <div id="myChatLink">
            <div id="myChatLinkInfo">
                <h4>Live chat</h4>
            </div>
        </div>
    </div>

    <h3>Phone</h3>
    <p>You can call our automated phone line to get support at any time. This can transfer you through to an advisor during office hours, or let you leave a message at other times. We aim to respond to messages within 2 days.</p>
    <div class="text-block">
        <p><strong>0113 469 5000</strong></p>
    </div>
    <p>We are open:</p>
    <ul class="list list-bullet">
        <li>Monday, Wednesday and Thursday from 8.30am - 5pm</li>
        <li>Tuesday from 10am - 5pm</li>
        <li>Friday from 8.30am - 3.40pm</li>
    </ul>
    <p>Calls are charged at the local rate.</p>
    <h3>Post</h3>
    <div class="text-block">
        <p>Council Tax Team, <br>PO Box 657 <br>LS1 9BS</p>
    </div>
    <h3>In person</h3>
    <p>At our One Stop Centres we provide advice on a range of council services. We work with a variety of partners to help bring you the services that you need locally.</p>
    <a href="#" class="btn btn-primary btn-arrow">Find your nearest One Stop Centre</a>
</div>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
    
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}