{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Contact us
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Contact us
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Contact us</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<div class="panel top">
      <div class="text">
         <h2>Save time, do it online!</h2>
         <p>You can make payments and find information quickly and easily on our website:</p>
         <ul class="list list-bullet bottom">
            <li>choose the service you want from our 
               <a href="/">home page</a>, or use&#160;the links below</li>
            <li class="bottom">
               <a href="/your-council/pay">make a payment</a></li>
            <li>
               <a href="/your-council/consultations-and-feedback/let-us-know">compliments, complaints and feedback</a></li>
         </ul>
      </div>
   </div>
   <h2>Use our online services for:</h2>
   <div class="box-layout transparent other">
      <div class="box-layout-item">
         <h3> 
            <a href="/residents/bins-and-recycling">Bins and recycling</a></h3>
         <p>Check your bin day, report collection problems and more</p>
      </div>
      <div class="box-layout-item">
         <h3> 
            <a href="/residents/parking-roads-and-travel">Parking, roads and travel</a></h3>
         <p>Pay or appeal a parking&#160;ticket, find parking in Leeds,&#160;and report problems on the roads</p>
      </div>
      <div class="box-layout-item">
         <h3> 
            <a href="/council/Pages/Elections.aspx">Elections and voting</a></h3>
         <p>Register to vote, postal voting and elections information</p>
      </div>
      <div class="box-layout-item">
         <h3> 
            <a href="/residents/environmental-health">Environmental health</a></h3>
         <p>Report&#160;problems including fly-tipping,&#160;dog fouling, noise nuisance and lost dogs.</p>
      </div>
      <div class="box-layout-item">
         <h3> 
            <a href="/residents/children-families-and-carers/schools-and-learning">Schools</a></h3>
         <p>Find a school in Leeds, admissions information and the Leeds school calendar</p>
      </div>
   </div>
   <div class="text">
      <h2 class="top">Contact details</h2>
      <div role="note" aria-label="Information" class="text-highlight">
         <p>Use our online services 24 hours a day, seven days a week, or call us Monday to Friday, 9am to 5pm.</p>
      </div>
   </div>
   <div class="box-layout transparent main">
      <div class="box-layout-item">
         <h3>
            <a href="/residents/health-and-social-care/adult-social-care">Adult social care</a></h3>
         <ul class="list list-nav">
            <li>
               <a href="/residents/health-and-social-care/adult-social-care/getting-social-care-and-support-for-adults">Getting social care and support</a></li>
            <li>
               <a href="/residents/health-and-social-care/adult-social-care/help-to-live-at-home">Adaptations for your home</a></li>
            <li>
               <a href="/residents/health-and-social-care/adult-social-care/safeguarding-adults-board">Help for adults being abused or neglected</a></li>
         </ul>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0113 222 4401<span class="additionalInfo"></span></p>
      </div>
      <div class="box-layout-item">
         <h3>
            <a href="/residents/health-and-social-care/keeping-children-safe">Keeping children safe</a></h3>
         <ul class="list list-nav">
            <li>
               <a href="/residents/health-and-social-care/keeping-children-safe/report-a-child-protection-concern">Report a child protection concern</a></li>
         </ul>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0113 222 4403<span class="additionalInfo"></span></p>
      </div>
      <div class="box-layout-item">
         <h3>
            <a href="/residents/births-deaths-and-marriages">Births, deaths and marriages</a></h3>
         <ul class="list list-nav">
            <li>
               <a href="/residents/births-deaths-and-marriages/register-a-birth">Register a birth</a></li>
            <li>
               <a href="/residents/births-deaths-and-marriages/register-a-death">Register a death</a></li>
            <li>
               <a href="/residents/births-deaths-and-marriages/ceremonies">Ceremonies</a></li>
         </ul>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0113 222 4408<span class="additionalInfo"></span></p>
      </div>
      <div class="box-layout-item">
         <h3>
            <a href="/Pages/Council-tax-and-benefits.aspx">Council tax</a></h3>
         <ul class="list list-nav">
            <li>
               <a href="/Pages/Council-Tax-payments.aspx">Payments</a></li>
            <li>
               <a href="/council-tax/manage-your-council-tax-online">Manage your council tax online</a></li>
            <li>
               <a href="/council-tax/report-a-change">Report a change</a></li>
         </ul>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0113 222 4404<span class="additionalInfo"></span></p>
      </div>
      <div class="box-layout-item">
         <h3>
            <a href="/Planning.aspx">Planning</a></h3>
         <ul class="list list-nav">
            <li>
               <a href="/your-council/planning/public-access">View applications and decisions</a></li>
            <li>
               <a href="/your-council/planning/permitted-development">Do I need planning permission</a></li>
            <li>
               <a href="/your-council/planning/make-an-application">Submit an application</a></li>
         </ul>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0113 222 4409<span class="additionalInfo"></span></p>
      </div>
      <div class="box-layout-item">
         <h3>
            <a href="/Pages/Housing.aspx">Housing</a></h3>
         <ul class="list list-nav">
            <li>
               <a href="/Pages/HSG-Council-Housing.aspx">Council housing</a></li>
            <li>
               <a href="/Pages/HSG-report-a-repair.aspx">Request a repair</a></li>
            <li>
               <a href="/Pages/Private-tenants.aspx">Advice for private tenants</a></li>
         </ul>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0113 222 4412<span class="additionalInfo">Homelessness/housing advice</span></p>
         <p class="telephone">
            <span class="sr-only">Telephone: </span>0800 188 4000<span class="additionalInfo">Council housing</span></p>
      </div>
   </div>
   
   <div role="note" aria-label="Information" class="text-highlight text-highlight--red">
      <div class="text">
         <h2>Emergency and out-of-hours</h2>
         <p>If you need to contact the council urgently when our offices are closed phone one of our 
            <a href="/pages/Emergency-out-of-hours-contact-numbers.aspx">emergency numbers</a>.</p>
      </div>
   </div>
   <div class="text">
            <h2>News and press office</h2>
      <p>Contact our press office on 0113 378 6007 or visit our 
      <a href="https://news.leeds.gov.uk/">newsroom</a>.</p>
      <h2>Can&#39;t find what you&#39;re looking for?</h2>
      <p>You can find the best way to contact each service in our 
         <a href="/a-to-z-council-services">Services A-Z</a>.</p>
      <p>Alternatively, you can contact our general enquiries team on 0113 222 4444 or write to us at Leeds City Council, Civic Hall, Calverley Street, Leeds, LS1 1UR.</p>
      <h2>Visit us</h2>
      <p>At our One Stop Centres we provide advice on a range of council services. We work with a variety of partners to help bring you the services that you need locally.</p>
      <p> 
         <a href="/where-i-live" class="btn btn-primary btn-arrow">Find your nearest One Stop Centre</a></p>
      <h2>British Sign Language (BSL)</h2>
      <p>Ways for deaf British sign language (BSL) users to 
         <a href="/accessibility/british-sign-language-bsl">access our services</a>.</p>
      <h2>Interpretation and translation</h2>
      <p>If you need information in another language, please visit our 
         <a href="/Pages/Language-Access-Provision.aspx">language access provision page</a>.</p>
   </div> 
{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
    
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}