{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Form elements
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Form elements
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Form elements</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
{% include "includes/lcc-components/form-elements.html" %}
<!--<div class="text">
    <p>The easiest and safest way to pay council tax is by Direct Debit. Please complete and submit the online Direct Debit form and we will do the rest.</p>
    <p>You will need the following items before you start:</p>

    <ul class="list list-bullet">
        <li>Your Council Tax billing reference number</li>
        <li>Your bank account number and sort code — you must be the holder of the bank account and authorised to set up a Direct Debit.</li>
    </ul>

    <a href="#" class="btn btn-primary btn-arrow">Submit a Direct Debit instruction</a>

    <h2 class="heading-large">Large heading</h2>

    <p>For more information consult the <a href="#" rel="external">Direct Debit website</a> directly.</p>

    <div class="notice">
        <i class="fa fa-exclamation-triangle" aria-hidden="true">
            <span class="sr-only">Warning</span>
        </i>
        <strong class="bold-small">If you do not pay, we'll be forced to send Rod round.</strong>
    </div>

    <h3 class="heading-medium">Medium heading</h3>

    <p>Council Tax is usually split into 10 equal monthly payments. However, you can now choose to spread the payments over 12 months.</p>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.</p>
    </div>

    <p>If you already pay by Direct Debit and want to spread your payments email the Council Tax team.</p>

    <h3 class="heading-large">Large heading</h3>

    <p>Council Tax is usually split into 10 equal monthly payments. However, you can now choose to spread the payments over 12 months.</p>

    <h3 class="heading-small">Small heading</h3>

    <p>Council Tax is usually split into 10 equal monthly payments. However, you can now choose to spread the payments over 12 months.</p>

    <a href="#" class="btn btn-secondary btn-small">Pay by credit / debit card</a>

    <p>If you already pay by Direct Debit and want to spread your payments email the Council Tax team.</p>

</div>

<h2 class="heading-large">Definition list</h2>
{% include "includes/design-patterns/list-definition.html" %}
<h2 class="heading-large">Data table</h2>
{% include "includes/design-patterns/table-data.html" %}
<h2 class="heading-large">Numeric tabular data</h2>
{% include "includes/design-patterns/table-data-numeric.html" %}
<h2 class="heading-large">Highlight box</h2>
<div class="panel">
    <h3 class="heading-medium top">Highlight box title</h3>
    <p class="bottom">This is a paragraph within the highlighted box content</p>
</div>
<div class="highlight-box highlight-box__blue">
    <h3 class="heading-medium top">Highlight box blue title</h3>
    <p>This is a paragraph within the highlighted box content</p>
</div>
<h2 class="heading-large">Images</h2>
<h3 class="heading-medium top">Image full width</h3>
<img class="img-content" src="/public/images/16-9-image-leeds.jpg" alt="" />
<h3 class="heading-medium">Image right</h3>
<img class="img-content img-right" src="/public/images/16-9-image-leeds.jpg" alt="" />
<p>If you already pay by Direct Debit and want to spread your payments email the Council Tax team.</p>
<div class="clear"></div>
<h3 class="heading-medium">Image left</h3>
<img class="img-content img-left" src="/public/images/16-9-image-leeds.jpg" alt="" />
<p>If you already pay by Direct Debit and want to spread your payments email the Council Tax team.</p>
<div class="clear"></div>-->
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}