{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Part Nav Example
{% endblock %}


  {% block css_register %}
        <script src="https://use.typekit.net/pws7qio.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Who can get Council Tax support
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  <div class ="breadcrumb">
    <span sitemapproviders="SPSiteMapProvider,SPXmlContentMapProvider" hideinteriorrootnodes="true"><!--<a href="index" width="0" height="0" style="border-width:0px;"></a>--><span><a class="bc-root" href="/lcc-home.html">Home</a></span><span>
        <img id="ctl00_PlaceHolderMain_ctl00_ctl01_Image1" src="/_catalogs/masterpage/images/breadcrumb_line.png">
    </span><a href="/pages-lcc/service-page-example.html">Council Tax</a></span>
    </div>
 {% endblock %}

{% block sectionOneContent %}
{% include "includes/design-patterns/part-nav.html" %}
<h1 class="part-title">Deductions for adults in the household</h1>
<p>Council Tax Support entitlement may change if you have other adults (apart from your partner) living with you.</p>

<p>Deductions can be made from the amount of Council Tax Support you get if you share your home with any adults who are not dependant on you – for example, adult children, relatives or friends. These deductions are made because these people should pay something towards your council tax. If you are in this position you may already be aware that these are called non dependant deductions.</p>

<p>The amount deducted from your Council Tax Support entitlement is based on the weekly gross income of the non-dependant.</p>

<p>If you are experiencing extreme financial difficulty you may be able to get temporary help in certain circumstances.</p>
{% include "includes/design-patterns/pagination.html" %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}