{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Report a change of name
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Report a change of name
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Report a change</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Report a change of name</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

    <p class="lead">It is important that you tell us straight away if the name on your account needs changing.</p>

    <h2>Name change due to marriage or divorce</h2>
    <p>Provide us with your:</p>
    <ul class="list list-bullet bottom">
        <li>council tax reference number</li>
        <li>previous and current names</li>
        <li>full address</li>
    </ul>

    <h2>Name on your account is incorrect</h2>
    <p>Provide us with your:</p>
    <ul class="list list-bullet bottom">
        <li>council tax reference number</li>
        <li>full name and the name as it appears on your current account</li>
        <li>full address</li>
    </ul>

    <div class="text-block">
        <p><strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
        <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
    </div>

    <h2>Name change by deed poll</h2>
    <p>If you have changed your name by deed poll, you will need to provide us with the following:</p>
    <ul class="list list-bullet">
        <li>your previous and current name</li>
        <li>full address </li>
        <li>council tax reference number</li>
        <li>copy of your deed poll certificate</li>
    </ul>

    <p>You can hand these in to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or post them to:</p>

    <div class="text-block">
        <p>Leeds City Council<br/>
        PO BOX 60<br/>
        Leeds<br/>
        LS2 8JR</p>
    </div>

    <h2>Changing your name if you claim housing benefit or council tax support</h2>
    <p>Print a copy of the Change in circumstances form. Complete section 3, sign and hand it in at your nearest <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or post it to us at:<?p>
    <div class="text-block">
        <p>Welfare and Benefits<br/>
        Selectapost 15<br/>
        Leeds<br/>
        LS2 8BA</p>
    </div>

    <div class="docList one">
        <div class="listWebpart">
            <ul>
                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Change of Circumstances Form.pdf"><span class="info">Change in circumstances form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 0.9MB)</span></a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/report-a-change/change-in-circumstances.html" title="" id="">Change in circumstances</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}