{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Tell us if we need to change your address
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Tell us if we need to change your address
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
 <ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/report-a-change/report-a-change.html">Report a change</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Tell us if we need to change your address</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

   <p class="lead">As soon as you know your moving date let us know. You may not hear from us straight away as we will only process the changes you send us within seven days of this date.</p>

   <ul class="accordion" data-module="accordion">
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving from one Leeds address to another</a>
                <div style="display: none;" class="content-block">
                <p>You will get a closing bill for the address you are moving out of and an opening bill for your new address.</p>
                <p>If you've overpaid for your old address, we will usually use the credit to reduce what you owe for your new address.</p>
                <p><a href="/pages-lcc/council-tax/council-tax-bands-and-charges.html">Check the council tax band for your new address</a></p>
            </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving into Leeds</a>
                <div style="display: none;" class="content-block">
                <p>We charge you from the date you purchased your property or, if you are renting, from the date your tenancy begins.</p>
                <p>Remember to tell your previous council that you’ve moved.</p>
                <p><a href="/pages-lcc/council-tax/council-tax-bands-and-charges.html">Check the council tax band for your new address</a></p>
            </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving out of Leeds</a>
                <div style="display: none;" class="content-block">
                <p>We charge you up to the date your property sells or, if you are renting, the date your tenancy ends.</p>
                <p>Your new council will charge you from the day you move into their area - remember to tell them you have moved in so they can bill you at your new address.</p>
                <p>If you have overpaid, we will issue a refund when we close your account.</p>
                <p><a href="/pages-lcc/council-tax/council-tax-bands-and-charges.html">Check the council tax band for your new address</a></p>
            </div>
            </div>
        </li>
    </ul>

    <a rel="external" class="btn btn-primary btn-arrow bottom" href="https://youraccount.leeds.gov.uk/publicaccesslive/selfservice/services/changeofaddress/coastart.htm"><span class="sr-only">Moving out of Leeds: </span>Tell us about your change of address</a>
    
    <a id="second"></a>
    <h2>How to tell us about a change of address if you claim housing benefit or Council Tax Support</h2>
    <p>If you claim housing benefit, Council Tax Support or free school meals please use one of the following forms to tell us about your change of address:</p>
    
</div>

<div class="docList one">
    <div class="listWebpart">
        <ul>
            <li class="word"><a href="http://www.leeds.gov.uk/docs/Change of Address form for Council Tenants and Home Owners.doc"><span class="info">Change of address form for council tenants/homeowners<span class="arrow"></span></span><span class="thirdInfo">(Word, 119KB)</span></a></li>
            <li class="word"><a href="http://www.leeds.gov.uk/docs/Change of Address form for Private Tenants.doc"><span class="info">Change of address form for private tenants<span class="arrow"></span></span><span class="thirdInfo">(Word, 185KB)</span></a></li>
        </ul>
    </div>
</div>      

<div class="text">     
    <p>Complete and return your form to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or by post to:</p>
    <div class="text-block">
        <p>Leeds City Council<br/>
        PO BOX 60<br/>
        Leeds<br/>
        LS2 8JR</p>
    </div>
</div>




{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/report-a-change/change-of-name" title="" id="">Tell us about your change of name</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/report-a-change/other-changes.html" title="" id="">Other changes you need to tell us about</a></li>            	        	    
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions" title="" id="">Discounts and exemptions</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}