/*BOOTSTRAP OVERIDES*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 20px;
  padding-left: 20px; }

.container-fluid {
  max-width: 1500px; }

.container-fluid.full {
  max-width: 100%; }

/*CUSTOM CSS BEGINS*/
html {
  height: 100%;
  min-height: 100%; }

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  color: #333; }

@media (max-width: 767px) {
  body {
    font-size: 14px; } }

/*HYPERLINKS*/
a {
  cursor: pointer;
  color: #216486; }

a:focus, a:active, input[type=submit]:focus {
  background-color: #FFBF47 !important;
  color: #333 !important;
  text-decoration: none; }

/*SECTIONS*/
.sectionOne.home {
  background: #1f5d7c url(../images/home-1.jpg) scroll no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center -100px;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: inset 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 10px 5px 0px rgba(0, 0, 0, 0.2); }

.sectionOne.home:after {
  content: "";
  display: block;
  background: rgba(33, 45, 58, 0.9);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(33, 45, 58, 0.7), rgba(33, 45, 58, 0.9));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(33, 45, 58, 0.7), rgba(33, 45, 58, 0.9));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(33, 45, 58, 0.7), rgba(33, 45, 58, 0.9));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(33, 45, 58, 0.7), rgba(33, 45, 58, 0.9));
  /* Standard syntax */
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 100%; }

/*BUTTONS*/
.btn {
  border-radius: 0;
  padding: 16px 20px;
  display: inline-block;
  white-space: normal; }

.btn-lg {
  border-radius: 0;
  padding: 20px 30px;
  font-size: 1.2em; }

.btn-outline, .btn-outline:active {
  border: 1px solid #fff;
  color: #fff !important;
  text-decoration: none !important;
  background: transparent; }

.btn-outline:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 20px; }

.btn-lg.btn-outline:after {
  padding-left: 30px; }

.btn-go {
  background: #00823b;
  color: #fff;
  padding: 14px 60px 14px 20px;
  font-size: 19px;
  position: relative;
  border-bottom: 3px solid #01682d;
  box-shadow: inset 0 1px 1px #6DDA9B; }

.btn-go:hover {
  background: #01682d;
  color: #fff; }

.btn-go:after {
  content: '\f105';
  font-family: FontAwesome;
  margin-left: 20px;
  background: #01682d;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  padding: 14px 20px;
  box-shadow: inset 0 1px 1px #6DDA9B; }

@media (max-width: 767px) {
  .btn-go {
    padding: 16px 60px 16px 16px;
    font-size: 16px; } }

/*BREADCRUMB*/
.breadcrumb {
  background: #27779F;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #27779F, #1F5D7C);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #27779F, #1F5D7C);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #27779F, #1F5D7C);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #27779F, #1F5D7C);
  /* Standard syntax */
  border-radius: 0;
  color: #fff;
  padding: 0;
  margin: 0 0 30px; }

.breadcrumb ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0; }

.breadcrumb ul li {
  float: left; }

.breadcrumb ul li a {
  font-size: 0.875em;
  color: #ffffff;
  padding: 0.5em 10px;
  display: inline-block;
  margin-right: 1px;
  font-weight: 700; }

.breadcrumb ul li a:hover {
  text-decoration: none;
  background: #1F5D7C; }

.breadcrumb ul li a:before {
  content: '\f105';
  font-family: FontAwesome;
  padding-right: 0.5em; }

.breadcrumb > ul > li + li:before {
  display: none; }

@media (max-width: 990px) {
  .breadcrumb {
    margin: 0 0 20px; }
  .breadcrumb ul {
    padding: 0.75em 0; } }

/*HELPER CLASSES*/
.no-padding {
  padding: 0; }

.padding {
  padding: 0 3.750em; }

@media (max-width: 767px) {
  .padding {
    padding: 0 1.875em; } }

/*TYPOGRAPHY*/
h1 {
  font-size: 3.750em;
  font-weight: 800;
  margin: 20px 0; }

.heading-medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 1em; }

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
    margin: 0.333em 0; } }

/*FORMS**/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 1.125em;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #EDF2F5;
  border-radius: 0;
  height: 55px; }

.search input[type="text"] {
  border: 0; }

.search .btn {
  height: 55px;
  width: 55px;
  font-size: 40px;
  padding: 0;
  border: 0;
  line-height: 1em;
  background: #c0392b;
  color: #fff; }

.search .btn:hover {
  border: 0;
  background: #8E2B20;
  color: #fff; }

.search .btn:focus {
  border: 0;
  background: #8E2B20;
  color: #fff;
  outline: 4px solid #FFBF47; }

.search .input-group-btn:last-child > .btn, .search .input-group-btn:last-child > .btn-group {
  margin-left: 0; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 4px solid #FFBF47; }

@media (max-width: 767px) {
  .search input[type="text"] {
    font-size: 1em; } }

/*NAV MAIN*/
.nav-main {
  border: 0;
  min-height: 0;
  margin: 0;
  padding: 1.5em 0;
  z-index: 5; }

.logo {
  color: #216486;
  font-weight: 700;
  font-size: 2.250em; }

@media (max-width: 767px) {
  .logo {
    font-size: 1.5em; }
  .nav-main {
    padding: 1em 0; } }

/*HOME BANNER*/
.home-banner {
  padding: 0;
  display: inline-block;
  width: 100%; }

.home-search {
  padding-top: 3.125em; }

@media (max-width: 767px) {
  .home-search {
    padding-top: 2em; } }

/*POPULAR LINKS*/
.popular-links h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.875em;
  margin: 1.333em 0 0.667em;
  font-weight: 700; }

.popular-links ul {
  padding: 0;
  margin: 0; }

.popular-links ul li {
  list-style: none;
  float: left;
  padding: 0 1.5em 1em 0; }

.popular-links ul li a {
  color: #fff;
  display: inline-block;
  font-size: 1em; }

.popular-links ul li a:before {
  content: '\f105';
  font-family: FontAwesome;
  padding-right: 0.5em;
  color: #fff; }

@media (max-width: 1200px) {
  .popular-links h2 {
    margin: 1.333em 0 0.667em;
    font-size: 1.5em; }
  .popular-links ul li {
    margin: 0 1em 0.625em 0;
    padding: 0; } }

@media (max-width: 767px) {
  .popular-links ul li {
    float: none; }
  .popular-links h2 {
    font-size: 1.3em;
    margin: 1.300em 0 0.5em; }
  .popular-links ul li {
    margin-bottom: 0.5em;
    padding: 0;
    padding: 0; }
  .popular-links ul li a {
    font-size: 1em;
    padding: 0; }
  .popular-links ul li:last-child {
    margin-bottom: 0px; }
  .popular-links ul li a {
    font-size: 1.1em; } }

@media (min-width: 650px) and (max-width: 767px) {
  .popular-links ul li {
    margin-bottom: 0.5em;
    width: 50%;
    float: left; } }

/*POPULAR LINKS - SERVICE PAGE*/
.popular-links.service-page h2 {
  color: #333;
  font-size: 1em;
  margin: 0 1em 0 0;
  line-height: 1.4em;
  float: left; }

.popular-links.service-page ul li a {
  color: #216486; }

.popular-links.service-page ul li:after {
  color: #c0392b; }

.popular-links.service-page ul li:before {
  color: #bbbbbb; }

/*DO IT ONLINE*/
.online-links {
  padding: 0; }

.online-links ul {
  padding: 0;
  margin: 0; }

.online-links ul li {
  list-style: none;
  width: 33%;
  float: left; }

.online-links ul li a {
  padding: 1em;
  display: inline-block;
  color: #fff;
  font-size: 1.250em;
  background: #1f5d7c;
  text-align: center;
  width: 100%; }

.online-links ul li a:hover {
  background: #EDF2F5;
  color: #1f5d7c;
  text-decoration: none; }

.online-links ul li a span {
  font-size: 0.7em;
  display: block;
  color: #dfe3e5;
  margin-top: 0.6em;
  line-height: 1.2; }

.online-links ul li a:hover span {
  color: #1f5d7c; }

.online-links ul li a:focus span {
  color: #333; }

.online-links ul li a i {
  display: block;
  font-size: 4rem;
  margin-bottom: 0.2em; }

.online-links ul li.title {
  padding: 0;
  width: 66%;
  background: transparent; }

.online-links ul li.title h2 {
  margin: 2em 0 0;
  font-size: 1.5em;
  color: #ffffff; }

.online-links ul li.title h2 span {
  font-size: 3em;
  color: #ffffff; }

.online-links ul li:nth-child(2) {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent; }

.online-links ul li:nth-child(4), .online-links ul li:nth-child(5) {
  border-left: 1px solid transparent; }

.online-links ul li:nth-child(2), .online-links ul li:nth-child(5) {
  width: 34%; }

@media (min-width: 1500px) {
  .online-links {
    padding: 0 20px 0 0; } }

@media (min-width: 1201px) and (max-width: 1400px) {
  .online-links ul li.title h2 {
    margin: 70px 0 0;
    font-size: 1em; }
  .online-links ul li.title h2 span {
    font-size: 3.5em; } }

@media (max-width: 1200px) {
  .online-links ul li.title {
    width: 100%;
    padding: 0 20px 1.250em; }
  .online-links ul li, .online-links ul li:nth-child(2), .online-links ul li:nth-child(5) {
    width: 25%;
    border-right: 1px solid transparent;
    border-bottom: 0; }
  .online-links ul li:nth-child(2), .online-links ul li:nth-child(4), .online-links ul li:nth-child(5) {
    border-left: 0; }
  .online-links ul li:nth-child(5) {
    border-right: 0; }
  .online-links ul li.title h2 {
    margin: 1em 0 0;
    font-size: 1.5em; }
  .online-links ul li.title h2 span {
    font-size: 1em;
    display: inline-block;
    font-weight: 700; } }

@media (max-width: 767px) {
  .online-links ul li.title {
    padding: 0 20px 1.250em; }
  .online-links ul li a i {
    font-size: 2rem; }
  .online-links ul li.title h2 {
    font-size: 1.3em;
    margin: 1em 0 0; }
  .online-links ul li a {
    padding: 1em; } }

@media (max-width: 600px) {
  .online-links ul li, .online-links ul li:nth-child(2), .online-links ul li:nth-child(5) {
    width: 50%; }
  .online-links ul li:nth-child(2), .online-links ul li:nth-child(3) {
    border-bottom: 1px solid transparent; }
  .online-links ul li:nth-child(2) {
    border-left: 0; }
  .online-links ul li:nth-child(3), .online-links ul li:nth-child(5) {
    border-right: 0; } }

/*SERVICES*/
.home .services.popular ul li {
  min-height: 290px; }

.home .services.popular ul li ul li {
  min-height: 0; }

ul li.title {
  background: transparent;
  border: none !important; }

ul li.title h2 {
  color: #333333;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700; }

ul li.title h2 span {
  display: block;
  font-size: 5rem;
  font-weight: 800;
  line-height: 0.9em;
  color: #1F5D7C; }

.services {
  padding: 40px 20px; }

.services.other {
  padding: 0 20px 40px;
  display: inline-block;
  width: 100%; }

.services.service-page {
  padding: 30px 20px 40px; }

.services.service-page.more {
  padding: 0px 20px 40px; }

.services ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  background: #EDF2F5; }

.services.service-page.more ul {
  background: #ffffff; }

.services ul li {
  width: 20%;
  float: left;
  background: #EDF2F5;
  list-style: none;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.services ul li h2 {
  padding: 0.5em; }

.services ul li a {
  padding: 20px;
  display: inline-block;
  background: #EDF2F5;
  width: 100%;
  color: #216486;
  font-size: 1.313em;
  position: relative; }

.services ul li a:hover {
  background: #eee; }

.services ul li a h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1em; }

.services ul li ul {
  padding: 1em 1.5em;
  border-top: 1px solid #fff; }

.services ul li ul li {
  width: 100%;
  float: none;
  border: none !important; }

.services ul li ul li a {
  font-size: 0.875em;
  font-weight: 400;
  padding: 0 0 0 1em;
  margin-bottom: 0.75em;
  color: #444444;
  border: none !important;
  background: transparent; }

.services ul li ul li a.more {
  color: #216486;
  margin-bottom: 0; }

.services ul li ul li a:hover {
  background: transparent !important;
  text-decoration: underline !important;
  color: #216486 !important; }

.services ul li ul li a:before {
  content: '\f105';
  font-family: FontAwesome;
  top: 0px;
  left: 0px;
  position: absolute; }

/*POPULAR SERVICES*/
.services.other li.title, .services.popular li.title {
  background: #ffffff; }

.services.popular ul li h2 {
  margin-top: 2.500em; }

.services.popular ul li a:hover {
  background: #216486;
  color: #fff;
  text-decoration: none; }

.services.popular ul li h3 {
  min-height: 45px;
  line-height: 1; }

/*OTHER SERVICES*/
.services.other ul li {
  background: #EDF2F5;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.services.other ul li h2 {
  padding: 1em 0.5em; }

.services.other ul li a {
  background: #EDF2F5;
  min-height: 150px; }

.services.other ul li a:hover {
  text-decoration: none;
  background: #216486;
  color: #fff;
  border-color: #212d3a; }

.services.other ul li a h3 {
  margin: 0 0 0.4em; }

.services.other ul li a p, .services.popular ul li a p {
  color: #666666;
  font-size: 0.7em;
  margin: 0; }

.services.popular ul li a p {
  display: none; }

.services ul li a:hover p {
  color: #fff; }

@media (min-width: 990px) and (max-width: 1400px) {
  ul li.title h2 span {
    font-size: 4rem; } }

@media (max-width: 1300px) {
  .services ul li {
    width: 25%; } }

@media (max-width: 990px) {
  .home .services.popular ul li {
    min-height: 0; }
  .services, .services.other {
    padding: 0px 20px 0px; }
  .services, .services.other {
    padding: 0px 20px 0px; }
  .services.other {
    padding: 0px 20px 5px; }
  .services.service-page, .services.service-page.more {
    padding: 20px 20px 5px; }
  .services.popular ul li {
    background: #EDF2F5; }
  .services ul li.title {
    width: 100%;
    border-right: none;
    border-left: none; }
  .services ul li {
    width: 50%;
    border-left: none;
    border-bottom: 1px solid #ffffff; }
  .services.popular ul li h2, .services.other ul li h2 {
    margin-top: 0px;
    padding: 20px 0;
    font-size: 1.3em; }
  .services.popular ul li h2 span, .services.other ul li h2 span {
    display: inline-block;
    font-weight: 700;
    font-size: 1em; }
  .services.other ul li a, .services.popular ul li h3 {
    min-height: 0px; }
  .services ul li a {
    padding: 20px;
    position: relative; }
  .services ul li a h3 {
    position: relative; }
  .services ul li a h3:after {
    content: '\f105';
    font-family: FontAwesome;
    position: absolute;
    top: 0px;
    right: 0px; }
  .services a.jump-to {
    display: none; }
  .services ul li ul, .services.other ul li a p {
    display: none; }
  .services.other ul li a p, .services.popular ul li a p {
    display: block;
    line-height: 1.3em;
    margin-top: 0.5em; }
  .services ul li a h3 {
    font-size: 0.9em; }
  .services.other ul li a h3 {
    margin: 0; } }

@media (max-width: 600px) {
  .services ul li {
    width: 100%;
    border-right: none;
    border-left: none; }
  .services ul {
    display: block; } }

/*services - service page*/
.services.service-page ul li.title, .services.service-page a.jump-to {
  display: none; }

.services.service-page ul li:nth-child(6n+6) {
  border-right: none; }

.services.service-page ul li a:after {
  top: auto;
  bottom: 1em; }

/*services - more - service page*/
.services.more.service-page ul li.title {
  display: block;
  width: 100%; }

.services.more.service-page ul li.title h2 {
  font-size: 2em;
  padding: 0 0 0.5em 0;
  font-weight: 700;
  text-transform: none; }

.services.more.service-page ul li {
  border: 1px solid #EDF2F5;
  border-right: none; }

.services.more.service-page ul li:last-child {
  border-right: 1px solid #EDF2F5; }

.services.more.service-page ul li a {
  background: #FFFFFF;
  min-height: 0px; }

.services.more.service-page ul li a:hover {
  color: #fff;
  background: #216486; }

@media (max-width: 1200px) {
  .services.service-page ul li:nth-child(6n+6) {
    border-right: 1px solid #fff; } }

@media (max-width: 990px) {
  .services.more.service-page {
    padding: 0 20px 40px; }
  .services.more.service-page ul li.title h2 {
    padding: 20px 0;
    font-size: 1.8em; }
  .services.more.service-page ul li {
    border: 1px solid #EDF2F5;
    border-left: 1px solid #EDF2F5; }
  .services.service-page ul li:nth-child(6n+6) {
    border-right: 1px solid #fff; } }

/*FEEDBACK FORM*/
#feedback-form {
  padding: 0 20px 40px; }

a#feedback {
  display: inline-block;
  font-size: 1em;
  border: 1px solid #EDF2F5;
  padding: 1em;
  background: #216486;
  color: #fff; }

a#feedback:hover {
  background: #27779F;
  color: #fff;
  text-decoration: none; }

a#feedback.active {
  background: #EDF2F5;
  border-color: #EDF2F5;
  color: #216486; }

a#feedback.active:hover {
  color: #216486; }

a#feedback:focus {
  color: #333 !important; }

a#feedback:after {
  content: '\f107';
  font-family: FontAwesome;
  padding-left: 0.2em;
  font-size: 1.3em;
  line-height: 0; }

a#feedback.active:after {
  content: '\f106'; }

#feedback-form-content {
  display: none;
  background: #EDF2F5;
  padding: 1em; }

#helpful_no_select, #helpful_maybe_select {
  display: none; }

input[type=submit].btn-go {
  padding: 10px 20px; }

/*A TO Z*/
#a-to-z {
  background: #EDF2F5;
  padding: 1.875em 0;
  width: 100%;
  border-top: 1px solid #fff; }

#a-to-z a h2 {
  display: inline-block;
  margin: 0;
  line-height: 1em; }

#a-to-z a:hover h2 {
  text-decoration: underline; }

#a-to-z ul {
  float: right;
  padding: 0;
  margin: 0; }

#a-to-z ul li {
  float: left;
  list-style: none;
  padding: 0 0 0 1.250em;
  text-transform: uppercase; }

#a-to-z ul li.inactive a {
  color: #ccc; }

#a-to-z ul li.inactive a:hover {
  text-decoration: none; }

#a-to-z ul li a {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1em; }

@media (max-width: 1250px) {
  #a-to-z {
    padding: 1.875em 0 1.250em; }
  #a-to-z a h2 {
    margin: 0 0 1.250em; }
  #a-to-z ul {
    display: block;
    width: 100%; }
  #a-to-z ul li {
    padding: 0 1em 1em 0; } }

@media (max-width: 767px) {
  #a-to-z ul li {
    width: 8.33%;
    padding: 0 0 0.5em 0; }
  #a-to-z {
    padding: 1.875em 0 1.250em; } }

@media (max-width: 600px) {
  #a-to-z ul li {
    width: 11.1111111111%;
    padding: 0 0 0.5em 0; } }

/*FOOTER*/
footer {
  background: #27779F;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #27779F, #1F5D7C);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #27779F, #1F5D7C);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #27779F, #1F5D7C);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #27779F, #1F5D7C);
  /* Standard syntax */
  color: #fff;
  padding: 40px 0; }

@media (max-width: 767px) {
  footer {
    padding: 1.875em 0; } }

footer hr {
  padding: 0;
  display: inline-block;
  width: 100%;
  margin: 35px 0;
  border-top: 1px solid #5C96B3; }

footer h3 {
  border-bottom: 1px solid #5C96B3;
  padding-bottom: 20px;
  margin-bottom: 35px; }

/*footer services*/
.footer-services ul {
  width: 50%;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0; }

.footer-services ul li {
  margin-bottom: 15px; }

.footer-services ul li:last-child {
  margin-bottom: 0; }

.footer-services ul li a {
  color: #fff; }

/*nav footer*/
.footer-links {
  margin: 0 0 35px; }

.footer-links ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%; }

.footer-links ul li {
  list-style: none;
  display: inline-block; }

.footer-links ul li:after {
  content: '|';
  color: #fff;
  padding: 0 0.625em; }

.footer-links ul li a {
  color: #fff; }

/*FOOTER LOGO*/
.footer-logo span {
  background: url(../images/lcc-logo-white-01.svg) center center no-repeat;
  width: 176px;
  height: 53px;
  display: block;
  margin: 0 0 20px; }

/*footer-social-media*/
.footer-social-media ul {
  display: inline-block;
  padding: 0;
  margin: 0 0 1.875em; }

.footer-social-media ul li {
  float: left;
  list-style: none;
  padding: 0.5em; }

.footer-social-media ul li:first-child {
  padding: 0.5em 0.5em 0.5em 0; }

.footer-social-media ul li a {
  color: #fff;
  font-size: 1.5em;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 0.5em;
  text-align: center; }

.footer-social-media ul li a:hover {
  color: #1f5d7c;
  background: #fff; }

.footer-social-media ul li a i {
  width: 1.5em;
  height: 1.5em; }

@media (max-width: 900px) {
  .footer-social-media ul li a {
    font-size: 1.2em; } }

/*BACK TO THE TOP*/
.cd-top {
  display: inline-block;
  height: 2.500em;
  width: 2.500em;
  position: fixed;
  bottom: 2.500em;
  right: 0.625em;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(51, 122, 183, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999; }

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #337ab7;
  opacity: 1; }

@media only screen and (min-width: 767px) {
  .cd-top {
    right: 1.250em;
    bottom: 1.250em; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 3.750em;
    width: 3.750em;
    right: 1.875em;
    bottom: 1.875em; } }

/*SKIP LINKS*/
a.skip {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999; }

a.skip:focus, a.skip:active {
  left: 0.625em;
  top: 0.625em;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 999;
  padding: 0.625em; }

/*SKIP LINKS END*/
/*CONTENT-BLOCK*/
.content-block {
  max-width: 48em;
  padding-bottom: 2.5em; }

.content-block h1 {
  margin-bottom: 50px; }

.content-block p, .content-block ul, .content-block ol, article p, article ul, article ol, .btn-go {
  margin: 0.75em 0; }

.content-block p a {
  text-decoration: underline; }

.content-block h2, .content-block h3, .secondary-nav h2, .contact-us-box h2 {
  font-weight: 700; }

.content-block h2, .secondary-nav h2, .contact-us-box h2 {
  font-size: 24px;
  margin: 1.2em 0 0.4em 0; }

.content-block h2:first-child {
  margin-top: 0px; }

.content-block h3 {
  font-size: 20px;
  margin: 1.2em 0 0.4em 0; }

.content-block p, .secondary-nav ul li a {
  font-size: 1em;
  line-height: 1.6em; }

@media (min-width: 767px) {
  .content-block h2, .secondary-nav h2, .contact-us-box h2 {
    font-size: 28px; }
  .content-block h3 {
    font-size: 22px; }
  .content-block p, .secondary-nav ul li a {
    font-size: 18px; } }

/*SECONDARY NAV*/
.secondary-nav {
  width: 100%;
  margin: 1.188em 0;
  background: transparent; }

.secondary-nav h2 {
  padding: 0 0 0.8em 0;
  margin: 0;
  font-size: 24px;
  border-bottom: 1px solid #E0E7E9; }

.secondary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.secondary-nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #E0E7E9; }

.secondary-nav ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0.75em 0; }

.secondary-nav ul li a:hover {
  text-decoration: underline;
  color: #1F5D7C; }

.secondary-nav ul li:before {
  content: '\f105';
  font-family: FontAwesome;
  padding-right: 0.5em;
  color: #216486; }

.secondary-nav ul li.active a,
.secondary-nav ul li.active:before {
  color: #333; }

.secondary-nav ul li.related-topic a {
  font-weight: 700; }
