<div class="sectionSubsite">
    <h2>External Links</h2>
    
        <p>Disclaimer: Leeds City Council (LCC) are not responsible
        for the content on any external site.</p>
   <a href="http://artuk.org/" target="_blank" rel="external">Art UK - view our art collections online<span class="sr-only">new window link</span></a>
   <a href="http://www.leedsinspired.co.uk/" target="_blank" rel="external">Leeds Inspired<span class="sr-only">new window link</span></a> 
   <a href="http://www.lmgshoponline.com/" target="_blank" rel="external">Shop online at Leeds Museums and Galleries<span class="sr-only">new window link</span></a> 
    </div>