<ul class="promo-group">

            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Abbey House Museum</h3></a>
            </li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Kirkstall Abbey</h3></a></li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Leeds Art Gallery</h3></a></li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Leeds Discovery Centre</h3></a></li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Leeds Industrial Miuseum At Armley Mills</h3></a></li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Lotherton Hall</h3></a></li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Temple Newsam</h3></a></li>
            <li class="equal-item"><a href=""> <img src="/public/img/AH_Explore.jpg"><h3>Thwaite Mills Watermill</h3></a></li>
        </ul>