               <nav id="main-menu" class="main-nav">
                    <div class="container-fluid">
                        
                   <ul>
                       <li><a href="index.html" class="selected">Home</a></li>
                       <li><a href="visit.html">Visit</a>
                         <ul>
                       <li><a href="">Abbey House Museum</a></li>
                       <li><a href="">Kirkstall Abbey</a></li>
                       <li><a href="">Leeds Art Gallery</a></li>
                       <li><a href="">Leeds City Museum</a></li>
                       <li><a href="">Leeds Discovery Centre</a></li>
                       <li><a href="">Leeds Industrial Museum at Armley Mills</a></li>
                       <li><a href="">Lotherton Hall</a></li>
                       <li><a href="">Temple Newsam</a></li>
                       <li><a href="">Thwaite Mills Watermill</a></li>
                       </ul>
                       </li>
                       <li><a href="">Exhibitions</a>
                     
                       </li>
                        <li><a href="">Collections</a></li>
                        <li><a href="">Join and support</a></li>
                        <li><a href="">Learn</a></li>
                        <li><a href="">Venue hire</a></li>
                   </ul>
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                