<style>
    footer{
        margin-top:30px !important;
    }
    
    @media (min-width: 641px){
        footer{
            margin-top:50px !important;
        }
    }
</style>

<div class="col-lg-12">
    <nav>
        <ul>
            <li><a href="\">Home</a></li>
            <li><a href="/design-system/styles.html">Styles</a></li>
            <li><a href="/design-system/components.html">Components</a></li>
            <li><a href="/design-system/patterns.html">Patterns</a></li>
        </ul>
    </nav>
</div>

<div class="col-sm-6 logo-footer">
    <span></span>
</div>

<div class="col-sm-6">
    <p class="copyright">Copyright © Leeds City Council 2018</p>
</div>

