<div class="mega-promo">
    <div class="mega-promo__item half">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a half promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img half">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free half promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img half">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free half promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a quarter promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free quarter promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img two-thirds">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free two-thirds promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free third promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free third promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo which is really long, it just keeps going and going</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free third promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free third promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free third promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo which is really long, it just keeps going and going</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free quarter promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free quarter promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item no-img quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a image free quarter promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
</div>