<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__previous-page">
        <a href="#" rel="prev">
          <span class="pagination-nav__part-title">Previous</span>
          <span class="pagination-nav__label">Who can get Council Tax support</span>
        </a>
      </li>
      <li class="pagination-nav__next-page">
        <a href="#" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Council Tax support and notifications</span>
        </a>
      </li>
      <div style="clear:both"></div>
  </ul>
</nav>