<h2>Design elements</h2>
<div class="groupPromo">
  <div class="listWebpart">
      <ul>
        <li>
            <a href="/design-system/design-elements/buttons">
                <h3>Buttons</h3>
                <p>Button text, button alignment, creating buttons.</p>
            </a>
        </li>
        <li>
            <a href="/design-system/design-elements/colour">
                <h3>Colours</h3>
                <p>Colour contrast, colour palettes.</p>
            </a>
        </li>   
        <li>
            <a href="/design-system/design-elements/data">
                <h3>Data</h3>
                <p>Data in a table, numeric tabular data, definition lists.</p>
            </a>
        </li>
        <li>
            <a href="/design-system/design-elements/errors-and-validation">
                <h3>Errors and validation</h3>
                <p>Summary boxes, highlighting errors in forms.</p>
            </a>
        </li>         
        <li>
            <a href="/design-system/design-elements/form-elements">
                <h3>Form elements</h3>
                <p>Form fields, labels, focus states, radio buttons, checkboxes.</p>
            </a>
        </li> 
        <li>
            <a href="/design-system/design-elements/icons-and-images">
                <h3>Icons, images and videos</h3>
                <p>Icons, image ratios, accessible media player.</p>
            </a>
        </li>
        <li>
            <a href="/design-system/design-elements/panels">
                <h3>Panels</h3>
                <p>Highlight various types of content.</p>
            </a>
        </li> 
        <li>
            <a href="/design-system/design-elements/typography">
                <h3>Typography</h3>
                <p>Headings, body text, links, lists, inset text, hidden text.</p>
            </a>
        </li>           
    </ul>
  </div>
</div>