<div class="row sub-section-nav">
    <div class="sub-section">
        <h2 class="heading-medium sub-section-heading">Exemptions and discounts</h2>
        <ul class="list list-nav">
            <li>
                <a href="#">Single person discount</a>
            </li>
            <li>
                <a href="#">Student discount</a>
            </li>
            <li>
                <a href="#">Empty and unoccupied properties</a>
            </li>
            <li>
                <a href="#">More about exemptions and discounts</a>
            </li>
        </ul>
    </div>
    <div class="sub-section">
        <h2 class="heading-medium sub-section-heading">Help with payments</h2>
        <ul class="list list-nav">
            <li>
                <a href="/pages-lcc/part-nav-example.html">Council Tax support</a>
            </li>
            <li>
                <a href="#">Make a Council Tax appeal</a>
            </li>
            <li>
                <a href="#">What happens if I don't pay my Council Tax</a>
            </li>
            <li>
                <a href="#">Request a refund on your Council Tax account</a>
            </li>
        </ul>
    </div>
    <div class="sub-section">
        <h2 class="heading-medium sub-section-heading">More about Council Tax</h2>
        <ul class="list list-nav">
            <li>
                <a href="#">View your Council Tax account</a>
            </li>
            <li>
                <a href="#">Explanation of your Council Tax bill</a>
            </li>
            <li>
                <a href="#">What your Council Tax is used for</a>
            </li>
            <li>
                <a href="#">Contact us about Council Tax</a>
            </li>
        </ul>
    </div>
</div>