
$head-background: #fff;

// headerTop.scss -- responsive icons color
$menu-link-color:#AA1C40;


// mainNav.scss
$main-nav-background: #D5DBE1;
$main-nav-selected-link:#871633;

//footer.scss
$footer-font-color:#333;

// sectionSubsite.scss - socialamedia.scss
$section-Background:#efefef;

//  socialamedia.scss
$social-link-color:#337ab7;

@import 'base';
@import 'cookieBanner';
@import 'masterHead';
@import 'headerTop';
@import 'mainMenuSubsites';
@import 'breadcrumb';
@import 'variables';
@import 'mixins';
@import 'footer';
@import 'sectionSubsite';
@import 'promo';
@import 'carousel';
@import 'socialMedia';
@import 'sideNavigation';
@import 'accordion';
@import 'a-z';
@import 'globalSearch';

body{
    background:#f6f6f6;

}


    .sectionOne .container {
        background:#fff;
    }

// logo overides to accomodate diiferent logo aspect ratios

 .logo{

        height:150px;
        width:400px;
        background:url(/public/img/adopt4leeds/logo.png) center center no-repeat;
        background-size: 100%;

        @media (max-width: 767px){
            height:100px;
        }
    }

// sharepoint overides for search button background
 .ms-srch-sb > .ms-srch-sb-searchLink  {
        @include linearGradient(#618CB7, #32567B);
}

.ms-srch-sb > input {
    background:#f6f6f6;
}


// Main menu overides
   @media (min-width: 678px){

      $navlink-background-color: darken(#AA1C40,5%);
      $navlink-background-color-hover: darken(#AA1C40,10%);
.main-nav{
    
            ul
            {
                padding:7px  0 0 0;
                margin-left:0px;
            
            li{
             
                    a {
                        @include linearGradient(#CA214D, #AA1C40);

                        &:hover, &:focus
                        {
                         background:$navlink-background-color !important;
                        }
                        
                    }

                    ul{
                        background:$navlink-background-color;

                        li, li:first-of-type {
                            border-color:$navlink-background-color-hover;
                        }

                        a{
                                background:$navlink-background-color !important;

                                &:hover, &:focus
                                {
                                   background: $navlink-background-color-hover !important;
                                }


                                
                        }
                    }

                   
                }

            }

          }
   }
 ul.menu li a.main-menu {
     background:#AA1C40;
      &:hover, &:focus, &.active
      {
          background:darken(#AA1C40, 5%);
      }
 }

 
  @media (max-width: 767px){   

 #main-menu {

    background:lighten(#AA1C40, 4%);
    .container
             {    
                background:lighten(#AA1C40, 4%);
             }

}

      }

         

 // footer overides 


footer.main {
    background: none;
    color: #333;
    padding:0px;

.container{
       background:$main-nav-background;
}


.footerGlobal
{
      background: none;
   .container{
       padding:0 25px;
       background:darken( $main-nav-background, 5%)
}
}

}



