{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Age Friendly Leeds
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Age Friendly Leeds
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Age Friendly Leeds</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<img class="img-responsive page-logo" src="/public/images/age-friendly-leeds/age-friendly-logo.jpg">
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
    <div class="groupPromo">
  <div class="listWebpart">
      <ul>
        <li>
            <a href="#">
                <h3>What are we doing?</h3>
                <p>Find out what we are doing in Leeds to be age friendly</p>
            </a>
        </li> 
        <li>
            <a href="#">
                <h3>Who do we work with? </h3>
                <p>Find out who we work with to make Leeds age friendly</p>
            </a>
        </li> 
        <li>
            <a href="#">
                <h3>How can you get involved?</h3>
                <p>Find out how to get involved in Age Friendly Leeds</p>
            </a>
        </li>   
        <li>
            <a href="#">
                <h3>News and events</h3>
                <p>Find out about... </p>
            </a>
        </li>              
    </ul>
  </div>
</div>


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}

 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 

{% endblock %}

{% block sectionTwoContent %}

{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<div class="mega-promo">
        <div class="mega-promo__item third">
        <a href="#" rel="pdf">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/age-friendly-leeds/charter.png)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">The Age Friendly Charter</h3>
                <p class="mega-promo__secondary">A new Charter has been produced listing six positive Age Friendly statements and pledges to help make the city age friendly.</p>
            </div>
            <!--<span class="mega-promo__highlight">Highlight text</span>-->
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/age-friendly-leeds/stay-well.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Stay well this winter</h3>
                <p class="mega-promo__secondary">Winter friends is a campaign aimed at tackling the effects of cold weather related illness </p>
            </div>
            <!--<span class="mega-promo__highlight">LIVE</span>-->
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/age-friendly-leeds/age-event.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Age UK Reading Group</h3>
                <p class="mega-promo__secondary">Why not come along and join in with this informal and friendly group where we read and discuss a lively mix of books?</p>
            </div>
            <span class="mega-promo__highlight">Event - 1 Jan 2018</span>
        </a>
    </div>
</div>
<div class="panel top alt">
    <div class="row">
        <div class="col-md-6">
            <h3 class="heading-large">Centre for better ageing</h3>
            <p>Mauris feugiat, justo ut venenatis commodo, neque ligula finibus tellus, non fermentum dui tellus in turpis. Praesent hendrerit urna magna, sit amet lacinia dui viverra sit amet. ​​</p>
        </div>
        <div class="col-md-6">
            <div class="media-container">
                <p>
                    <a rel="external" href="https://www.youtube.com/watch?v=eh1p2yu9qG8&feature=youtu.be&list=PLWWVt0d5HKsUz5YsO7W_h0e3Kbxppxj0y%5D">Leeds City Council Graduate Programme</a>
                </p>
            </div>
        </div>
    </div>
</div>
<h2>Contact us</h2>
<p><strong>Email:</strong> <a href="mailto:agefrtiendly@leeds.gov.uk">agefrtiendly@leeds.gov.uk </a><p>
<p><strong>Twitter:</strong> <a rel="external" href="#">@AgeFriendlyLDS</a><p>
<div class="sponsor-logos">
    <a href="#"><img class="img-responsive" src="/public/images/age-friendly-leeds/tts-logo.png"><span class="sr-only">Time to Save (external website)</span></a>
    <a href="#"><img class="img-responsive" src="/public/images/age-friendly-leeds/centre-for-ageing-better-logo.png"><span class="sr-only">Centre for Ageing Better (external website)</span></a>
    <a href="#"><img class="img-responsive" src="/public/images/age-friendly-leeds/dementia-friendly-logo.png"><span class="sr-only">Dementia Friendly (external website)</span></a>
    <a href="#"><img class="img-responsive" src="/public/images/age-friendly-leeds/lopf-logo.jpg"><span class="sr-only">Leeds Older People's Forum (external website)</span></a>
</div>
{% endblock %}

{% block sectionThreeContent %}

{% endblock %}

{% block sectionThreeRightHandColumn %}

{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}