



body{
    font-weight:300;
    background:red;
}


.masterhead{

    a.navbar-brand {
    background: url(../../img/whatson/lccLogo.svg) center center no-repeat;
}
}

// logo overides to accomodate diiferent logo aspect ratios
.sectionHeader{
    padding:0px;
    background:#2c3e50;


    .col-lg-12{
 

        
 .logo{
        height:192px;
        width:100%;
        background:url(../../img/whatson/logo.svg) center top no-repeat;
      

        @media (max-width: 767px){
            width:100%;
        }

    }
      }
}

.sectionOne{
    background:#fff;
    color:#333;
}