.design-system{

    footer.main{
        background:$blue;
    }

    .sectionOne{
        padding-bottom:50px
    }

    .sectionHeader .container-fluid .header-wrapper{
        height:65px;
        @media (max-width: 990px) {
            height:45px;
        }
    }

    //design system specific styling
    .service-title{
        text-align:right;
        position:relative;
        padding:0;
        font-weight:400;
    }
    .header-logo a {
        background-image: url(../images/logo-lcc-digital.svg);
        width: 190px;
        height:22px;
        @media (max-width: 990px) {
            width:105px;
            height:12px;
        }
    }
    .container-fluid{
        max-width: 100% !important;
    }
    .container{
        max-width: 1170px !important;
    }
    .contents-box{
        margin-bottom:25px;
        .heading-contents{
            margin-top:0;
            @include sr-only();
        }
        .list-contents{
            @media (min-width: 641px){
                padding-bottom:25px;
                margin:0;
            }
            li{
                margin:0;
                a{
                    border-left:3px solid $lighter-grey;
                    padding:0 15px;
                    margin-bottom:15px;
                    display:inline-block;
                }
            }
        }
    } 
    :not(pre) > code[class*="language-"], pre[class*="language-"]{
        margin-top:0;
    }
    pre[class*="language-"]{
        border:1px solid darken($panel-color,5%);
    }
    .heading-mark-up{
        background:$panel-color;
        padding:10px 15px;
        margin:30px 0 -1px;
        font-size:19px;
        color:$secondary-font-color;
        border:1px solid darken($panel-color,5%);
    }
    .cd-top {
        width:100%;
        border-radius:0;
        right:0;
        bottom:0;
        background:$blue;
        border-top:1px solid white;
        @media (min-width: 641px){
            padding:20px;
            font-size:19px;
        }
        &.cd-top.cd-fade-out {
            opacity: .9;
            &:hover{
                background:$blue;
                opacity: .7;
            }
        }
        &:hover{
            background:$blue;
            opacity: .7;
        }
    }
    .page-header-section{
        margin:30px 0;
        @media (min-width: 641px){
            margin:50px 0;
        }
        h1{
            margin:0 0 15px;
        }
        p{
            @include text();
            margin:0;
            color:$secondary-font-color;
        }
    }
    .groupPromo{
        a{
            font-family:$font-secondary;
            font-weight:700;
            font-size:19px;
            padding-right:40px;
            @media (min-width: 641px){
                font-size:24px;
            }
            &:after{
                content: '\f105';
                font-family: FontAwesome;
                position: absolute;
                top: 20px;
                right: 20px;
                color: #9DA5B2;
                @media (min-width: 767px){
                    top: 30px;
                    right: 30px;
                }
            }
        }
        p{
            font-family:$font-primary;
        }
    }

    .mega-promo.home{
        margin: 30px 0 0 -15px;
        padding:0;
        @media (min-width: 641px){
            margin: 60px 0 0 -15px;
            padding:0;
        }
    }
}
/*temporarily hide masterhead*/
.masterhead {
    display:none;

    &.lcc{
      display:block;
    }
}

@media screen and (max-width: 400px){
  .highlighted a.btn {
      width: auto;
  }
}

//hr
hr {
    margin-top: 40px;
}

.copyright{
  @media (min-width: 767px){
      text-align:left !important;
      margin-top:15px;
  }
}

.intro{
    text-align:center;
    max-width:35em;
    margin:70px auto;

    @media (max-width: 641px){
        margin:40px auto;
    }

    h1{
        font-size:70px;
        margin:0 0 25px;

        @media (max-width: 641px){
            font-size:40px;
            margin:0 0 20px;
        }
        
        span{
            font-size:20px;
            display:block;
        }
    }

    p.lead{
        margin:0 0 40px;

        @media (max-width: 641px){
            margin:0 0 30px;
        }
    }
}

.logo-footer span {
    background: url('/public/images/lcc-logo-white-01.svg') left center no-repeat;
}

//nav
.main-nav {
    background:$lighter-grey;
    @media (max-width: 990px){
        position: relative;
        left: 0;
        top: 0px;
        z-index: 0;
        min-height: auto;
        width: 100%;
        transition: none;
    }
    .container-fluid {
        @media (max-width: 990px){
            padding:0 15px;
        }
        ul{
            li{
                @media (max-width: 990px){
                    border-top: 0;
                    margin: 0px;
                    padding-top: 0 !important;
                    width: auto;
                }
                &.active{
                    a{
                        border-bottom:5px solid $base-link-color;
                        font-weight:bold;
                        @media (max-width: 641px){
                            border-bottom:3px solid $base-link-color;
                        }
                    }
                }
                a{
                    font-size:19px;
                    padding:7px 10px;
                    text-decoration:none;
                    margin:0;
                    color:$base-link-color;
                    border-bottom:5px solid transparent;
                    border-top:5px solid transparent;
                    @media (max-width: 641px){
                        border-bottom:3px solid transparent;
                        border-top:3px solid transparent; 
                    }
                    &:hover{
                        background:none;
                        text-decoration:none;
                        color:$base-link-color;
                        border-bottom:5px solid $base-link-color;
                        @media (max-width: 500px){
                            border-bottom:3px solid $base-link-color;
                        }
                    }
                    @media (max-width: 990px){
                        width:auto;
                        font-size:19px;
                        padding:10px;
                        text-decoration:none;
                        &:hover{
                            background:transparent;
                        }
                    }
                    @media (max-width: 500px){
                        font-size:16px;
                        padding:7px;
                    }
                    @media (max-width: 400px){
                        font-size:14px;
                    }
                }
            }
        }
    }
}

.design-system-side-nav{
    &.stick {
        width:15.66%;
        @media (min-width: 1600px){
            width:250px;
        }
        ul{
            padding:0;
            margin:0;
        }
    }
    ul{
        padding:0;
        margin:45px 0;
        li{
            a{
                text-decoration:none;
                padding:10px 15px;
                display:block;
                border-left:5px solid transparent;
                &:hover{
                    border-left:5px solid $base-link-color;
                    color:$base-link-color;
                    padding:15px;
                    padding:10px 15px;
                    background:$lighter-grey;
                }
                &:visited{
                    color:$base-link-color;
                }
                p{
                    display:none;
                }
            }
            &.active{
                a{
                    border-left:5px solid $base-link-color;
                    font-weight:bold;
                    background:$lighter-grey;
                    padding:10px 15px;
                }
            }
        }
    }
}

.design-system-content{
    padding:0 15px 100px;
    @media (min-width: 768px){
        border-left:1px solid $lighter-grey;
        padding:0 50px 100px;
    }
}

.design-system-menu{
    @media (min-width: 768px){
        padding-right:0;
        border-right:1px solid $lighter-grey;
        margin-right:-1px;
    }
    .design-system-side-nav{
        @media (max-width: 767px){
            display:none;
        }
    }
    .link-back{
        margin:30px 0 0;
        @media (min-width: 768px){
            display:none;
        }
    }
}

.design-system-landing-page-menu{
    ul{
        padding:0;
        margin:0;
        @include three-columns();
        li{
            margin:0;
            a{
                border-left:3px solid $lighter-grey;
                padding:0 15px;
                margin-bottom:15px;
                display:inline-block;
            }
        }
    }
}

.heading-contents{
    margin-top:15px;
}

.design-system-intro{
    background:$blue;
    padding:30px 0;
    @media (min-width: 641px){
        padding:50px 0;
    }
    h1{
        margin:0 0 10px;
        color:white;
        line-height:1.1;
        font-size:32px;
        @media (min-width: 641px){
            font-size:60px;
        }
        span{
            display:block;
        }
    }
    p{
        color:white;
        margin:0;
        line-height:1.6;
        font-size:16px;
        max-width:28em;
        @media (min-width: 641px){
            font-size:21px;
        }
    }
}

.back-top{
    width:100%;
    text-align:center;
    background:$dark-blue;
    color:white;
    padding:15px;
    display:block;
    text-decoration:none;
    &:visited{
        color:white;
    }
    &:hover{
        background:lighten($dark-blue,5%);
        color:white;
    }
}