.design-system{

    //design system specific styling

    .container-fluid{
        max-width: 1600px !important;
    }
    .contents-box{
        .heading-contents{
            margin-top:0;
            margin-bottom:15px;
        }
        .list-contents{
            border-bottom:1px solid $border-color;
            padding-bottom:30px;
        }
    } 
    :not(pre) > code[class*="language-"], pre[class*="language-"]{
        margin-top:0;
    }
    .heading-mark-up{
        background:#bfc1c3;
        padding:10px 15px;
        margin-bottom:0;
        font-size:16px;
    }
    .cd-top {
        &.cd-top.cd-fade-out {
            opacity: .8;
        }
    }
}
/*temporarily hide masterhead*/
.masterhead {
    display:none;

    &.lcc{
      display:block;
    }
}

@media screen and (max-width: 400px){
  .highlighted a.btn {
      width: auto;
  }
}

//hr
hr {
    margin-top: 40px;
}

.copyright{
  @media (min-width: 767px){
      text-align:right !important;
      margin-top:50px;
  }
}

.intro{
    text-align:center;
    max-width:35em;
    margin:70px auto;

    @media (max-width: 641px){
        margin:40px auto;
    }

    h1{
        font-size:70px;
        margin:0 0 25px;

        @media (max-width: 641px){
            font-size:40px;
            margin:0 0 20px;
        }
        
        span{
            font-size:20px;
            display:block;
        }
    }

    p.lead{
        margin:0 0 40px;

        @media (max-width: 641px){
            margin:0 0 30px;
        }
    }
}

.logo-footer span {
    background: url('/public/images/lcc-logo-white-01.svg') left center no-repeat;
}

//nav
.main-nav {
    background:$lighter-grey;
    @media (max-width: 990px){
        position: relative;
        left: 0;
        top: 0px;
        z-index: 0;
        min-height: auto;
        width: 100%;
        transition: none;
    }
    .container-fluid {
        @media (max-width: 990px){
            padding:0 15px;
        }
        ul{
            li{
                @media (max-width: 990px){
                    border-top: 0;
                    margin: 0px;
                    padding-top: 0 !important;
                    width: auto;
                }
                a{
                    font-size:21px;
                    padding:10px 0;
                    text-decoration:none;
                    margin-right:25px;
                    color:$base-link-color;
                    border-bottom:5px solid transparent;
                    border-top:5px solid transparent;
                    &:hover{
                        background:none;
                        text-decoration:none;
                        color:$base-link-color;
                        border-bottom:5px solid $base-link-color;
                    }
                    &.active{
                        border-bottom:5px solid $base-link-color;
                        font-weight:bold;
                    }
                    @media (max-width: 990px){
                        width:auto;
                        font-size:19px;
                        padding:10px 0;
                        text-decoration:none;
                        margin-right:15px;
                        &:hover{
                            background:transparent;
                        }
                    }
                    @media (max-width: 500px){
                        font-size:16px;
                        margin-right:10px;
                    }
                    @media (max-width: 400px){
                        font-size:14px;
                        margin-right:8px;
                    }
                }
            }
        }
    }
}

.design-system-side-nav{
    ul{
        padding:0;
        margin:0;
        &.level-one{
            margin-top:15px;
        }
        li{
            a{
                text-decoration:none;
                padding:10px;
                display:block;
                border-left:5px solid transparent;
                &:hover{
                    border-left:5px solid $base-link-color;
                    color:$base-link-color;
                    padding:10px;
                }
                &:visited{
                    color:$base-link-color;
                }
            }
            .level-two{
                display:none;
                margin:10px 0 30px;
            }
            &.active{
                a{
                    border-left:5px solid $base-link-color;
                    font-weight:bold;
                    padding:10px;
                }
                .level-two{
                    //display:block;
                    li{
                        a{
                            font-size:16px;
                            padding:5px 10px;
                        }
                    }
                }
            }
        }
    }
}

.design-system-content{
    @media (min-width: 768px){
        border-left:1px solid $border-color;
        padding:0 50px 50px;
    }
}

.design-system-menu{
    @media (min-width: 768px){
        padding-right:0;
    }
    .design-system-side-nav{
        @media (max-width: 767px){
            display:none;
        }
    }
    .link-back{
        margin-top:30px;
        @media (min-width: 768px){
            display:none;
        }
    }
}

.heading-contents{
    margin-top:15px;
}