{% extends "page_layouts/layout_subsite.html" %}

{% block page_title %}
	Classes & Activities
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/active/application.css" rel="stylesheet">
   {% endblock %}

{% block headersection %}
  {% include "includes/header_brand_twoCol_sports.html" %}
  {% include "includes/active/main_nav.html" %}    
{% endblock %}   

{% block header %}
  {% include "includes/breadcrumb_sp.html" %}
<h1>Classes & Activities</h1>
{% endblock %}
 
 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

<p>Have a look through our swimming, classes and sports to find out what is available at your local leisure centres and in your local community in Leeds.​​</p>
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="three blockLink turquoise"><a href="/Pages/Activity-Details.aspx?Category=Fitness+Class"><img src="http://active.leeds.gov.uk/PublishingImages/icon-fitnessclasses.png" alt=""><span class="info">Fitness Classes<span class="arrow"></span></span></a></li>
      <li class="three blockLink blue"><a href="swimming.html"><img src="http://active.leeds.gov.uk/PublishingImages/icon-swimming.png" alt=""><span class="info">Swimming<span class="arrow"></span></span></a></li>
      <li class="three blockLink purple"><a href="/classesandactivities/sports/Pages/default.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/icon-courthire.png" alt=""><span class="info">Sports<span class="arrow"></span></span></a></li>
    </ul>
  </div>
</div>
{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
  {% include "includes/active/more-than-a-gym.html" %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
 {% include "includes/active/sectionSix.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}


