{% extends "layout_multi_sections-lcc-forms.html" %}

{% block page_title %}
	Report a pothole or damaged road surface - Question two
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /forms/form-example/report-a-pothole-or-damaged-road-surface/start-page
{% endblock %}

{% block service_name %}
    Report a pothole or damaged road surface
{% endblock %}

{% block form_progress %}
   Question 2 of 5
{% endblock%}
 
{% block header %}
   Question two
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<a href="/forms/form-example/report-a-pothole-or-damaged-road-surface/question-1" class="link-back form-back">Back</a>
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block sectionOneContent %}
<form>
    <div class="form-group">
        <fieldset>
            <legend class="sr-only">Where do you live?</legend>
            <label class="block-label" for="radio-1" data-target="radio-1">
            <input type="radio" id="radio-1" name="radio-group" value="Yes" aria-controls="radio-1" aria-expanded="false">
            Yes
            </label>
            <label class="block-label" for="radio-2" data-target="radio-2">
            <input type="radio" id="radio-2" name="radio-group" value="No" aria-controls="radio-2" aria-expanded="false">
            No
            </label>
        </fieldset>
    </div>
    <a class="btn btn-primary btn-arrow" href="/forms/form-example/report-a-pothole-or-damaged-road-surface/question-3">Continue</a>
</form>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/footer-forms.html" %}
 {% endblock %}