{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Appeal a parking or bus lane fine
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Pay or appeal a parking or bus lane fine
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/parking-roads-and-travel/parking-roads-and-travel.html">Parking, roads and travel</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/parking-roads-and-travel/pay-or-appeal-a-parking-or-bus-lane-fine/pay-or-appeal-a-parking-or-bus-lane-fine.html">Pay or appeal a parking or bus lane fine</a></li>
                        <ul class="">                
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Appeal</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
        <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
            <ol>
                <li><a href="/pages-lcc/parking-roads-and-travel/pay-or-appeal-a-parking-or-bus-lane-fine/pay-or-appeal-a-parking-or-bus-lane-fine.html">Pay <span class="sr-only">a parking or bus lane fine</span></a></li>
                <li>Appeal</a><span class="sr-only"> a parking or bus lane fine</span></li>
            </ol>
        </nav>
    </aside>

<div class="text">

    <h2>2. Appeal</h2>
    <p class="lead">If you think you've been incorrectly given a parking or bus lane ticket, the easiest and quickest way to appeal is online.</p>
   
    <p>You will need the ten digit PCN Number that appears on your Penalty Charge Notice (starting with LS) and your vehicle registration number.</p>
    

    <a href="https://parkingfines.leeds.gov.uk/" class="btn btn-primary btn-arrow bottom">Appeal a parking or bus lane fine</a>

    <div role="note" aria-label="Information" class="text-highlight">
            <p>If you have already appealed online you should have received email confirmation that we have received your appeal. We aim to respond within ten working days.</p>
        </div>

    <h3>Appeal by post</h3>
    <p>If you are unable to <a href="https://parkingfines.leeds.gov.uk/">appeal online</a>, you can tell us why you shouldn't have been given a ticket by post. Quote your PCN number and include any documents that may help prove why you shouldn't have received a ticket to:</p>
    <div class="text-block">            
            <p>Parking Services<br/>
                PO Box 139<br>
                Leeds<br>
                LS9 1AA</p>
        </div>      
    
    <h3>Appeal discounts</h3>
    <p>If we receive your appeal within 14 days of the ticket being issued the ticket will be frozen at the discounted amount of either £35, £25 or £30 (bus lane) until you receive a decision on your appeal.</p>
    <p>If unsuccessful you will be given another 14 days to pay the discounted amount from the date of the decision.</p>
    
    <h3>The appeals process</h3>
    Appeals against PCNs issued by Leeds City Council are considered by the <a href="https://www.trafficpenaltytribunal.gov.uk/">Traffic Penalty Tribunal</a>.</p>
    <p>More information on how PCNs are issued in Leeds and the appeals process can be found in our Parking Services Procedures Manual.</p>​​​
    <div class="docList one">
            <div class="listWebpart">
                <ul>
                    <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Parking%20Services%20Procedures%20Manual%20TMA2004%20Issue%203%20rev%20Nov%202013.pdf"><span class="info">Parking Services Procedures Manual<span class="arrow"></span></span><span class="thirdInfo">(PDF, 88KB)</span></a></li>
                </ul>
            </div>
    </div>
    


     

    

    <div class="panel">
        <h2>Contact us</h2>
        <p>If you've lost your PCN or need advice or assistance, let us know.</p>
        <p><strong>Please note that we cannot accept appeals by telephone</strong>.</p>
        <strong>Phone</strong>
        <div class="text-block">
            0113 378 5000<br/>
            (Monday to Friday, 8.30am to 5pm Mon to Fri)        
        </div>
        <strong>Email</strong>
            <div class="text-block">
                <a href="mailto:parkingservices@leeds.gov.uk">parkingservices@leeds.gov.uk</a>
            </div>
    </div>


    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
            <ul>
                <li class="pagination-nav__previous-page">
                    <a href="/pages-lcc/parking-roads-and-travel/pay-or-appeal-a-parking-or-bus-lane-fine/pay-or-appeal-a-parking-or-bus-lane-fine.html" rel="next">
                    <span class="pagination-nav__part-title">Previous</span>
                    <span class="pagination-nav__label">Pay</span>
                    </a>
                </li>
                <div style="clear:both"></div>
            </ul>
    </nav>    

</div>
    
    
     



{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Parking, roads and travel</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#" title="" id="">Blue badge parking</a></li>	        	    
            <li><a class="item" href="#" title="" id="">City centre parking information</a></li>
            <li><a class="item" href="#" title="" id="">Vehicle clamping and removal</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Parking, roads and travel</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}