               <nav id="main-menu" class="main-nav">
                    <div class="container-fluid">
                        
                   <ul>
                       <li><a href="index.html" class="selected">Home</a></li>
                       <li><a href="findacentre.html">Find A Centre</a></li>
                       <li><a href="classesandactivities.html">Classes & Activities</a></li>
                       <li><a href="communitysport.html">Community Sport</a></li>
                       <li><a href="memberships.html">Memberships</a></li>
                   </ul>
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                