  <hr class="spacer-top" xmlns:ddwrt2="urn:frontpage:internal">
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="four blockLink turquoise"><a href="/findacentre/Pages/default.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/icon-map.png" alt=""><span class="info">Find A Centre<span class="arrow"></span></span></a></li>
      <li class="four blockLink blue"><a href="/classesandactivities/Pages/default.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/icon-activity.png" alt=""><span class="info">Classes &amp; Activities<span class="arrow"></span></span></a></li>
      <li class="four blockLink purple"><a href="/memberships/Pages/default.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/icon-membership.png" alt=""><span class="info">Memberships<span class="arrow"></span></span></a></li>
      <li class="four blockLink orange"><a href="/communitysport/Pages/default.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/icon-community.png" alt=""><span class="info">Community Sport<span class="arrow"></span></span></a></li>
    </ul>
  </div>
</div>
  <hr class="spacer-bottom" xmlns:ddwrt2="urn:frontpage:internal">