  <hr class="spacer-top" xmlns:ddwrt2="urn:frontpage:internal">
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="two blockLink double promo external blue"><a href="https://sportandactivelifestyles.wordpress.com"><img src="http://active.leeds.gov.uk/PublishingImages/Blog-pod.jpg" alt=""><span class="sr-only">External link opens in new window</span><span class="info">Take a look at the Sport and Active Lifestyles blog<span class="arrow"></span></span></a></li>
      <li class="four blockLink promo purple"><a href="/communitysport/Pages/Events.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/carousel-2.jpg" alt=""><span class="info">Find events near you<span class="arrow"></span></span></a></li>
      <li class="four blockLink promo turquoise"><a href="/communitysport/leedsletsgetactive/Pages/Leeds%20Let%27s%20Get%20Active.aspx"><img src="http://active.leeds.gov.uk/PublishingImages/Let%27s-Get-Active-logo-pod.jpg" alt=""><span class="info">Leeds Let's Get Active<span class="arrow"></span></span></a></li>
      <li class="four blockLink promo orange"><a href="/classesandactivities/sports/Pages/default.aspx"><img src="http://active.leeds.gov.uk/classesandactivities/sports/PublishingImages/Tennis-pod_2.jpg" alt="Find out more about sport in leeds"><span class="info">Find out more about sport in leeds<span class="arrow"></span></span></a></li>
    </ul>
  </div>
</div>
  <hr class="spacer-bottom" xmlns:ddwrt2="urn:frontpage:internal">