<section class="sectionSix" id="sectionSix">
        <div class="sectionSixWrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <hr class="spacer-top">
                        
                        <div id="ctl00_m_g_fc4ca157_10a1_43aa_bbdf_6ea94a322d6f">
                        <div class="socialMedia">
                            <div class="listWebpart">
                                <h2>
                                    <div id="ctl00_m_g_fc4ca157_10a1_43aa_bbdf_6ea94a322d6f_pnlHeaderWithoutLink">	
                                        Connect with us
                                    </div>
                                </h2>
                                <div class="freeContentArea">
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/BodylineLeeds">
                                            facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/bodylineleeds">
                                            twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/playlist?list=PLggQFjpTLgpIOol5J-lwOJiZ0Fl7opkx1">
                                            you tube
                                        </a>
                                    </li>
                                </ul>            
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    
                        <hr class="spacer-bottom">
                    
                    </div>
                </div>
                <!-- /.ROW -->
            </div>
            <!--\.CONTAINER-->
        </div>
    </section>