{% extends "layout_multi_sections-lcc-forms.html" %}

{% block page_title %}
	Request a new or replacement bin - Confirmation page
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /forms/form-example/request-a-new-or-replacement-bin/start-page
{% endblock %}

{% block service_name %}
    Request a new or replacement bin
{% endblock %}

{% block form_progress %}
{% endblock%}
 
{% block header %}
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block sectionOneContent %}
<div class="panel panel-confirmation">
    <h1>Application complete</h1>
    <p class="font-large">Your reference number is<br> 
    <strong>DH8NTER</strong></p>
</div>
<div class="text">
    <p>We have sent you a confirmation email.</p>
    <h2>What happens next</h2>
    <p>We've sent your application to Leeds City Council Head Office.</p>     
    <p>They will contact you either to confirm your registration, or to ask for more information.</p>   
    <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
</div>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/footer-forms.html" %}
 {% endblock %}