<ul class="list list-nav list-atoz">
    <li><h2><a href="#">Adoption</a></h2></li>
    <li><a href="#">Adoption</a></li>
    <li><a href="#">Family placement</a></li>
    <li><a href="#">Fostering</a></li>
    <li><h2><a href="#">Allotments</a></h2></li>
    <li><a href="#">Apply for an allotment</a></li>
    <li><h2><a href="#">Anti social behaviour</a></h2></li>
    <li><a href="#">Report anti social behaviour</a></li>
    <li><h2><a href="#">Apprenticeships in Leeds</a></h2></li>
    <li><a href="#">Leeds Pathways: Learning, training and employment for young people in Leeds </a></li>
</ul>