<div class="atoz">
    <div class="container-fluid">
        <div class="row">
            <div class ="col-lg-12">
                <h3 class="atoz__header">A-Z of Services</h3>
                    <ul class="atoz__list">
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">a</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">b</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">c</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">d</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">e</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">f</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">g</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">h</a></li>
                        <li class="atoz__list-item inactive">i</li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">j</a></li>
                        <li class="atoz__list-item inactive">k</li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">l</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">m</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">n</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">o</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">p</a></li>
                        <li class="atoz__list-item inactive">q</li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">r</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">s</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">t</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">u</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">v</a></li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">w</a></li>
                        <li class="atoz__list-item inactive">x</li>
                        <li class="atoz__list-item inactive">y</li>
                        <li class="atoz__list-item inactive">z</li>
                        <li class="atoz__list-item"><a href="/pages-lcc/atoz-page-a.html">All</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
