<div id="OngoingIncidents">
    <div class="IncidentPanel Information">
        <h3>Help</h3>
        <p>Do not panic</p>
        <div class="clearfix"></div>
        <div class="IncidentFooter">
            <p>Updated: Tuesday, October 17, 2017 3:13 PM</p>
        </div>
    </div>
    <div class="IncidentPanel Warning">
        <h3>Election Polls Closure</h3><img data-action="zoom" src="/public/images/16-9-image-leeds.jpg">
        <p>&#8203;Warning: Polls Closure in Leeds for an election that could serve a bittersweet victory for chancellor David Hunter.......!</p>
        <a href="/residents/elections">More information</a>
        <div class="clearfix"></div>
        <div class="IncidentFooter">
            <p>Updated: Monday, October 16, 2017 10:17 AM</p>
        </div>
    </div>
    <div class="IncidentPanel Highlight">
        <h3>This is a system test - please ignore</h3>
        <p>This is message text This is message text This is message text This is message text This is message text</p>
        <div class="clearfix"></div>
        <div class="IncidentFooter">
            <p>Updated: Friday, October 13, 2017 1:19 PM</p>
        </div>
    </div>
    <div class="IncidentPanel Summary">
        <h3>This is another test</h3>
        <img data-action="zoom" src="/public/images/16-9-image-leeds.jpg">
        <p>&#8203;Another test</p>
        <div class="clearfix"></div>
        <div class="IncidentFooter">
            <p>Updated: Friday, October 13, 2017 1:17 PM</p>
        </div>
    </div>
    <div class="IncidentPanel Information">
        <h3>Test 2</h3><img data-action="zoom" src="/public/images/16-9-image-leeds.jpg">
        <p>&#8203;Another incident...................................</p>
        <div class="clearfix"></div>
        <div class="IncidentFooter">
            <p>Updated: Friday, October 13, 2017 1:16 PM</p>
        </div>
    </div>
    <div class="IncidentPanel Warning">
        <h3>Summary</h3><img data-action="zoom" src="/public/images/16-9-image-leeds.jpg">
        <p>A massive hole has appeared in the middle of&nbsp;Branch road. The police have said they are looking into it!</p>
        <div class="clearfix"></div>
        <div class="IncidentFooter">
            <p>Updated: Friday, October 13, 2017 1:15 PM</p>
        </div>
    </div>
</div>