<div class="groupPromo">
  <div class="listWebpart">
      <ul>
        <li>
            <a href="/pages-lcc/content-page-example.html">
                <h3>School term dates</h3>
                <p>Check session and holiday dates for schools</p>
            </a>
        </li>
        <li>
            <a href="/pages-lcc/content-page-example.html">
                <h3>School admissions</h3>
                <p>Find out how to apply for a place at school and how you can appeal a decision</p>
            </a>
        </li>
        <li>
            <a href="/pages-lcc/content-page-example.html">
                <h3>Report a concern (safeguarding)</h3>
                <p>If you’re worried about somebody, please get in touch to let us know</p>
            </a>
        </li>
        <li>
            <a href="/pages-lcc/content-page-example.html">
                <h3>Policies and strategies</h3>
                <p>Report a change of address or occupancy that may affect your Council Tax or set up a new account</p>
            </a>
        </li>
    </ul>
  </div>
</div>