<ul class="promo-group lcc">
    <li>
        <a href="/pages-lcc/content-page-example.html">
            <h3>Make a Council Tax payment</h3>
            <p>Pay by card or use interent banking</p>
        </a>
    </li>
    <li>
        <a href="/pages-lcc/content-page-example.html">
            <h3>Pay Council Tax by direct debit</h3>
            <p>Find out how to setup a direct debit</p>
        </a>
    </li>
    <li>
        <a href="/pages-lcc/content-page-example.html">
            <h3>Council Tax bands & charges</h3>
            <p>Find out about property bandings and charges</p>
        </a>
    </li>
    <li>
        <a href="/pages-lcc/content-page-example.html">
            <h3>Change in circumstances</h3>
            <p>Report a change of address or occupancy that may effect your Council Tax or setup a new account</p>
        </a>
    </li>
</ul>