<ul class="list list-nav three-columns">
    <li><a href="#">Abandoned vehicles</a></li>
    <li><a href="#">Activities and events for young people</a></li>
    <li><a href="#">Activities for older people</a></li>
    <li><a href="#">Adaptations to your home</a></li>
    <li><a href="#">Addictions</a></li>
    <li><a href="#">Adoption</a></li>
    <li><a href="#">Adult education</a></li>
    <li><a href="#">Adult protection</a></li>
    <li><a href="#">After school care</a></li>
    <li><a href="#">Age Restricted Sales</a></li>
    <li><a href="#">AIDS/HIV advice and support</a></li>
    <li><a href="#">Air quality testing</a></li>
    <li><a href="#">Alarms</a></li>
    <li><a href="#">Alcohol - advice and support</a></li>
    <li><a href="#">Allotments</a></li>
    <li><a href="#">Alternative providers of care</a></li>
    <li><a href="#">Alzheimer's</a></li>
    <li><a href="#">Anti-social behaviour orders</a></li>
    <li><a href="#">Antisocial behaviour</a></li>
    <li><a href="#">Apprenticeships</a></li>
    <li><a href="#">Arboriculture</a></li>
    <li><a href="#">Archives</a></li>
    <li><a href="#">Area development frameworks</a></li>
    <li><a href="#">Art galleries</a></li>
    <li><a href="#">Arts development</a></li>
    <li><a href="#">Asbestos monitoring</a></li>
    <li><a href="#">ASBOs</a></li>
</ul>