<div class="mega-promo">
    <div class="mega-promo__item featured blue">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/triathlon.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">ITU World Triathlon Series 2017</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">Back in Leeds. Go Brownlee's!</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/civic-hall.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Full Council Meeting Webcast</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">LIVE</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/food-festival.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Leeds Indie Food Fest</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <!--<span class="mega-promo__highlight">Highlight text</span>-->
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/leeds-pride.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Leeds Pride</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <!--<span class="mega-promo__highlight">Highlight text</span>-->
        </a>
    </div>
</div>