<div id="report-a-problem">
    <a role="button" data-toggle="collapse" href="#report-a-problem-content" aria-expanded="false" aria-controls="report-a-problem-content" class="report-a-problem-toggle">
        Is there anything wrong with this page?
    </a>
    <div class="collapse" id="report-a-problem-content" aria-expanded="false">
        <h2>Help us improve LEEDS.GOV.UK</h2>

        <form>
            <input id="url" name="url" type="hidden" value="https://www.leeds.gov.uk/[page-title]">

            <input id="page_owner" name="page_owner" type="hidden" value="">

            <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

            <div class="form-group">
                <label for="what_doing" class="form-label">What you were doing</label>
                <input id="what_doing" class="form-control" name="what_doing" type="text">
            </div>

            <div class="form-group">
                <label for="what_wrong" class="form-label">What went wrong</label>
                <input id="what_wrong" class="form-control" name="what_wrong" type="text">
            </div>

            <div class="form-group">
                <button name="commit" type="submit" class="btn btn-primary">Send</button>
            </div>

        </form>

    </div>
</div>