{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
Resident parking schemes and permits
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Resident parking schemes and permits
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


{% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/parking-roads-and-travel/parking-roads-and-travel.html">Parking, roads and travel</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/parking-roads-and-travel/parking.html">Parking</a></li>
                    <ul class="">
                        <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Resident parking schemes and permits</li>       
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<h2>Apply for or renew a permit</h2>

<h3>Online</h3>
<p class="lead">The quickest and easiest way to apply for or renew most permits is online.</p>
<p>Resident, business, visitor, NHS, accredited landlord and low emission vehicle parking permits can be applied for and renewed
    online.</p>
<a rel="external" href="https://parkingpermits.leeds.gov.uk/default.asp" class="btn btn-primary btn-arrow bottom">Apply for or renew a parking permit</a>

<h3>By post</h3>
<p>If you are unable to apply for or renew a permit online, use the relevant form below and return, along with necessary documentation,
    to:</p>
<div class="text-block">
    Parking Services<br/> P.O. Box 139<br/> Leeds
    <br/> LS9 1AA
</div>

<div class="docList two">
    <div class="listWebpart">
        <ul>
            <li class="word"><a href="http://www.leeds.gov.uk/docs/Application%20of%20parking%20permit.doc"><span class="info">Parking permit application form<span class="arrow"></span></span><span class="thirdInfo">(Word, 122KB)</span></a></li>
            <li class="word"><a href="http://www.leeds.gov.uk/docs/Application%20of%20parking%20permit.doc"><span class="info">Parking permit renewal form<span class="arrow"></span></span><span class="thirdInfo">(Word, 1.6MB)</span></a></li>
        </ul>
    </div>
</div>

<h2>Cancel or replace a permit, or tell us about a change</h2>
<a rel="external" href="https://parkingpermits.leeds.gov.uk/default.asp" class="btn btn-primary btn-arrow bottom">Cancel or replace a parking permit, or tell us about a change</a>



<div class="panel">
    <h2>Contact us</h2>
    <p><strong>Phone</strong></p>
    <div class="text-block">
        0113 376 5000<br/>
        <span class="font-xsmall">(Monday to Friday, 8:30am to 5pm)</span>
    </div>
    <p><strong>Email</strong></p>
    <div class="text-block">
        <a href="mailto:parkingservices@leeds.gov.uk">parkingservices@leeds.gov.uk</a>
    </div>
    <p><strong>Post</strong></p>
    <div class="text-block">
        Parking Services<br/> P.O. Box 139<br/> Leeds
        <br/> LS9 1AA​</a>
    </div>
</div>


{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Parking, roads and travel</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#" title="" id="">Blue Badge Parking</a></li>	        	    
            <li><a class="item" href="#" title="" id="">City centre parking and information</a></li>
            <li><a class="item" href="#" title="" id="">Pay or appeal a parking or bus lane fine</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/parking-roads-and-travel/parking-roads-and-travel.html">More <span class="sr-only">in Parking, roads and travel</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}