{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	How to pay your council tax
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    How to pay your council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>How to pay your council tax</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">

    <p class="lead">You can pay in many ways, including by direct debit, online, by phone, by post, or in person.</p>

    <h2>Set up or amend a Direct Debit</h2>
    <p>If you pay by direct debit you can choose to pay over 10 or 12 months - you can also choose to pay on the 10th, 20th or last day of the month.</p> 

    <p>You’ll need:</p>

    <ul class="list list-bullet">
        <li>your council tax account number (this can be found on your bill)</li>
        <li>your bank account number and sort code</li>
        <li>the name(s) on the bank account</li>
    </ul>

    <a href="https://youraccount.leeds.gov.uk/publicaccesslive/selfservice/services/directdebit.htm;jsessionid=8AEEF69CDCBDD4591104468F335858EB?_flowId=services%2Fdirectdebit&_flowExecutionKey=e1s1" class="btn btn-primary btn-arrow bottom">Set up or amend a Direct Debit online</a>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>You can use this link to change your existing direct debit as well. Please fill in a new form and we will update your direct debit details.</p>
    </div>    

    <h2>Debit card</h2>
    <h3>Online</h3>
    <p>You’ll need your council tax account number. This can be found on your council tax bill.</p> 
    <a href="https://payments.leeds.gov.uk/ePayments/ctax.aspx" class="btn btn-primary btn-arrow bottom">Make a debit card payment online</a>
    <h3>By phone</h3>
    <p>Pay by phone using our 24 hour automated payment line:</p>
    <div class="text-block">
        <p>0113 395 7100</p>
    </div> 

    <h2>Online banking, telephone banking and standing orders</h2>
</div>

<div class="text-block">
    <p><strong>Name of organisation:</strong> Leeds City Council</br>
    <strong>Bank and branch name:</strong> National Westminster Bank, 8 Park Row, Leeds LS1 1QS</br>
    <strong>Branch address:</strong> Head Office Collection</br>
    <strong>Account number:</strong> 00000000</br>
    <strong>Sort code:</strong> 57-12-72</p>
</div>

<div class="text">
    <h2>In person</h2>
    <p>Take your bill to pay at a:</p>
    <ul class="list list-bullet">
        <li><a href="http://www.postoffice.co.uk/branch-finder" rel="external">Post Office</a> - pay by cash, debit card or cheque</li>
        <li><a href="https://www.paypoint.com/en-gb/consumers/store-locator" rel="external">Paypoint outlet</a> – pay by cash or debit card</li>
    </ul>

    <h2>Post</h2>
    <p>Make cheques payable to Leeds City Council. Write your account number on the back and post it to:</p>
    <div class="text-block">
        <p>Leeds City Council<br/>PO BOX 60 <br>Leeds <br>LS2 8JR</p>
    </div> 
</div>

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax.html" title="" id="">Problems paying your council tax</a></li>	        	    
            <li><a class="item" href="/pages-lcc/council-tax/manage-your-council-tax-online/manage-your-council-tax-online.html" title="" id="">Manage your council tax online</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}