{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Other ways to pay our Council Tax
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Other ways to pay your Council Tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Other ways to pay your Council Tax</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">
 
    <p class="lead">If you cannot <a href="/pages-lcc/council-tax/pay-your-council-tax-online.html">pay your council tax online</a> there are other options you can use.</p>

    <h2>Pay by standing order</h2>

    <p>To set up a standing order use your council tax account number as your payment reference. This can be found in the top right hand corner on your council tax bill. Standing orders can be set up to come out on any day of the month.</p>

    <p>Your bank will need the following information:</p>
</div>

<div class="text-block">
    <p><strong>Name of organisation:</strong> Leeds City Council</br>
    <strong>Bank and branch name:</strong> National Westminster Bank, 8 Park Row, Leeds LS1 1QS </br>
    <strong>Branch address:</strong> Head Office Collection</br>
    <strong>Account number:</strong> 00000000</br>
    <strong>Sort code:</strong> 57-12-72</p>
</div>

<div class="text">

    <h2>Pay by telephone</h2>

    <p>You can call our 24 hour automated payment line on 0113 395 7100. You can only pay by debit card and you will need your account number which can be found on your council tax bill.</p>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>If you wish to pay by credit card, or to discuss further, call our contact centre 0113 222 4404 (Mon to Fri, 9am to 5pm).</p>
    </div>

    <h2>Pay by post</h2>

    <p>Please make cheques and postal orders payable to 'Leeds City Council'. These should be sent to Leeds City Council, PO Box 60, Leeds, LS2 8BB.</p>        
    <div role="note" aria-label="Information" class="text-highlight">
        <p>You must write your name, address and tenancy reference number on the reverse of the cheque or postal order.</p>
    </div>

    <h2>Pay in person</h2>

    <p>Simply take the bill together with your payment to any Post Office or PayPoint. If you still have your payment card you can continue to use this. However, this will not be replaced if lost.</p>
    <p>You can pay by cash or cheque at the Post Office. If you pay by cheque at the Post Office you must make the cheque payable to 'Post Office Ltd'. Only cash is accepted at PayPoint outlets and there may be a limit to the amount that you can pay. A receipt will only be issued on request.</p>
    <p><a href="http://www.postoffice.co.uk/branch-finder" rel="external">Find your nearest Post Office</a></p>
    <p><a href="http://www.allpay.net/outlets" rel="external">Search for your nearest PayPoint outlet</a></p>


    <div role="note" aria-label="Information" class="text-highlight">
        <p>If you lose your bill please call us on 0113 395 7100, we will be able to issue you with a new copy of your bill.</p>
    </div>
     
</div>

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax-online.html" title="" id="">Pay your council tax online</a></li>	        	    
            <li><a class="item" href="#" title="" id="">Problems paying your council tax</a></li>
            <li><a class="item" href="#" title="" id="">Your council tax account</a></li>
            <li><a class="item" href="#" title="" id="">Report a change</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}