{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Problems paying your council tax
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Problems paying your council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Problems paying your council tax</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">
    <p class="lead">If you’re struggling to pay your council tax, contact us straight away so that we can help.</p>
    <p>Council tax is a priority debt along with rent, mortgage, fuel bills, child maintenance and court fines. You need to prioritise the payment of council tax because serious action can be taken if you do not pay. </p>
    <p>Don’t wait to get a reminder. If you ignore a reminder, you will be sent a <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html">court summons</a> and you will then end up having to pay additional costs. </p>
    
    <div role="note" aria-label="Information" class="text-highlight">
    <p>We can set up arrangements for you to pay weekly, fortnightly or monthly, and may be able to extend your payments over a longer period.</p>
    </div>
    
    <h2>Debt advice</h2>
    <p>There are <a href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax#debtadvice">several organisations you can speak to</a> if you’re having problems with debt.</p>

    <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
            <div class="text-block">
                0113 222 4404<br/>
                <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
            </div>
        <p><strong>Email</strong></p>
            <div class="text-block">
                <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
            </div>
        <p><strong>In person</strong></p> 
            <div class="text-block">
                Visit any of our <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centres</a>    
            </div>
        <p><strong>By post</strong></p>
            <div class="text-block">
                <p>Leeds City Council, P.O. Box 60, Leeds, LS2 8JR</p>
            </div>                        
    </div>  
    <a id="debtadvice"></a>
    <div class="panel panel-border">  
        <h2>Organisations that offer debt advice</h2>      
        <ul class="list list-bullet">
            <li><a href="https://www.citizensadvice.org.uk/debt-and-money/" rel="external">Citizens Advice</a> provides free, independent and confidential advice on debt and money problems</li>
            <li><a href="http://www.debtadvicefoundation.org/" rel="external">Debt Advice Foundation</a> offer free, confidential support and advice about debt</li>
            <li><a href="https://www.moneyadviceservice.org.uk/en" rel="external">The Money Advice Service</a> is a free and impartial money advice service, set up by the government</li>
            <li><a href="http://www.leeds.gov.uk/c/Pages/leedsmic/default.aspx" rel="external">The Money Information Centre</a> provides details of the various organisations and agencies in Leeds that offer free help and advice on money, debt, budgeting, reducing bills and affordable loans</li>
            <li><a href="https://www.nationaldebtline.org/EW/Pages/default.aspx" rel="external">National Debtline</a> provides free, impartial and confidential debt advice to people across the UK</li>
            <li><a href="http://www.stepchange.org/" rel="external">StepChange</a> offer advice and practical solutions to help people with debt and money problems</li>
        </ul>
    </div>
</div>




{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3 class="heading-small">Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/how-to-pay-your-council-tax.html" title="" id="">Pay your council tax</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/what-happens-if-you-dont-pay.html" title="" id="">What happens if you don't pay</a></li>	        	    
            <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>             
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}