{% extends "design-system-page-layout-guide.html" %}

{% set section_id = "styles" %} <!-- Section id var for main nav --> 
{% set page_id = "colour" %} <!-- Page id var for side nav --> 
{% set page_title = "Colour" %} <!-- Page title var for page header (H1) and page title -->  

{% block sectionOneTop %}{% endblock %}

{% block sectionLeftHandColumn %}
    <!-- Side nav include -->  
    {% include "includes/design-system/design-system-side-nav.html" %}
{% endblock %}

{% block sectionOneRightContent %}
<div class="page-header-section">
    <h1>{{ page_title }}</h1>
    <p class="lead">The LEEDS.GOV.UK colour palette.</p>
</div>

<!-- Page content goes here -->

<div class="contents-box">
    <h2 class="heading-contents">Contents</h2>
    <ul class="list list-contents">
        <li><a href="#main-colours">Main colours</a></li>
        <li><a href="#greys">Greys</a></li>
        <li><a href="#colour-contrast">Colour contrast</a></li>
    </ul>
</div>

<div class="text">
    <h2 class="heading-large top" id="main-colours">Main colours</h2>
</div>

<div class="colour-palette">
    <div class="colour-palette_item blue">
        <div class="colour-palette_variant">
            #007299
        </div>
        <div class="colour-palette_variant">
            #3399BB
        </div>
        <div class="colour-palette_variant">
            #003F55
        </div>
        <div class="colour-palette_variant">
            #E5F1F5
        </div>
    </div>
    <div class="colour-palette_item green">
        <div class="colour-palette_variant">
            #008000
        </div>
        <div class="colour-palette_variant">
            #009A00
        </div>
        <div class="colour-palette_variant">
            #004d00
        </div>
        <div class="colour-palette_variant">
            #E6FFE6
        </div>
    </div>
    <div class="colour-palette_item red">
        <div class="colour-palette_variant">
            #E11C0E
        </div>
        <div class="colour-palette_variant">
            #F23D30
        </div>
        <div class="colour-palette_variant">
            #99130A
        </div>
        <div class="colour-palette_variant">
            #FBC4C0
        </div>
    </div>
    <div class="colour-palette_item yellow">
        <div class="colour-palette_variant">
            #FFBF47
        </div>
        <div class="colour-palette_variant">
            #FFC861
        </div>
        <div class="colour-palette_variant">
            #FAA300
        </div>
        <div class="colour-palette_variant">
            #FFF4E0
        </div>
    </div>
</div>

<div class="text">
    <h2 class="heading-large" id="greys">Greys</h2>
</div>

<div class="colour-palette">
    <div class="colour-palette_item single black">
        <div class="colour-palette_variant">
            #212224
        </div>
    </div>
    <div class="colour-palette_item single light-black">
        <div class="colour-palette_variant">
            #3D414A
        </div>
    </div>
    <div class="colour-palette_item single dark-grey">
        <div class="colour-palette_variant">
            #666B76
        </div>
    </div>
    <div class="colour-palette_item single grey">
        <div class="colour-palette_variant">
            #9DA5B2
        </div>
    </div>
    <div class="colour-palette_item single light-grey">
        <div class="colour-palette_variant">
            #DCDEE1
        </div>
    </div>
    <div class="colour-palette_item single lighter-grey">
        <div class="colour-palette_variant">
            #F6F7FA
        </div>
    </div>
    <div class="colour-palette_item single white">
        <div class="colour-palette_variant">
            #F6F7FA
        </div>
    </div>
</div>

<div id="colour-contrast" role="note" aria-label="Information" class="text-highlight">
    <h2 class="heading-medium top">Accessibility: Colour contrast</h2>
    <p class="text">The colour contrast ratio for text and interactive elements should be at least 4.5:1 <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html" rel="external">as recommended by the W3C</a>. </p>
</div>

{% endblock %}