{% extends "page_layouts/layout_content.html" %}

{% block page_title %}
    Accessiblity
{% endblock %}

{% block header %}
    Accessiblity Statement
{% endblock %}

{% block content%}          
    <p>We hope you'll find this website easy to use. We are committed to making our website as accessible as possible.</p>

    <p>The website is designed to follow the accessibility guidelines issued by the <a href="#" rel="external" title="Find out more about world-wide accessibility guidelines and initiatives - Link opens in a new window">World Wide Web Consortium (W3C) <span class="sr-only">(external link)</span></a>.</p>

    <p>We aim to meet the W3C <a href="#" rel="external">Web Content Accessibility Guidelines 2.0 <span class="sr-only">(external link)</span></a> in all parts of the website.</p>

    <p>We have carried out an independent audit of the website's accessibility in relation to W3C Level AA criteria.</p>

    <h2>Readability</h2>

    <p>We have made every effort to ensure this web site is easily readable using 'plain english'. We carry out regular research with our local customers and all our publishers attend training to present content in an easy to read format.</p>

    <h2>Text size</h2>

    <p>The text size for this site can be changed using your browser.

    <ul>
        <li>Internet Explorer: Select the "View" menu, then "Text size"</li>
        <li>FireFox: Select the "View" menu, then "Zoom" or "Zoom text only"</li>
        <li>Safari: Select the "View" menu, then "Make text bigger" or "Make text smaller"</li>
        <li>Opera: Select the "View" menu, then "Zoom"</li>
    </ul>

    <h2>Change the colours and fonts</h2>

    <p>You can <a href="#">change the colours and fonts</a> to suit your needs. Changes can be saved for your future visits.</p>

    <h2>Contact us</h2>  

    <p>If you have comments, or would like to suggest improvements to the website, please get in touch at <a href="mailto:web@leeds.gov.uk">web@leeds.gov.uk</a>, or use the 'do you have any comments about this page' form, available at the bottom of each content page.</p>
{% endblock %}

{% block rightHandColumn %}
{% endblock %}
