{% extends "page_layouts/layout_service.html" %}

{% block page_title %}
	Service Page
{% endblock %}

{% block header %}
    Council Tax
{% endblock %}

{% block sectionOne %}

    <div class="services other service-page">
        <ul id="other-services">
            <li class="title equal-item"><h2>Other <span>Services</span></h2></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Pay Council Tax online </h3><p>Set up a direct debit, pay by card, or use internet banking.</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Other ways to pay Council Tax </h3><p>Find out how to pay by phone, at the Post Office, or at a PayPoint</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Discounts and exemptions </h3><p>Request discounts, exemptions and income-based reductions</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Ways to contact us </h3><p>Get in touch with us by email, phone or in person</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Report possible fraud </h3><p>Help us tackle fraud</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Council Tax bands and charges </h3><p>Find out about property bandings and charges</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Change of address </h3><p>Report a change of address or occupancy that may affect your Council Tax or set up a new account</p></a></li>
            <li class="equal-item"><a href="service-page-info.html"><h3>Disputes and appeals </h3><p>Find out what to do if you disagree with a Council Tax decision or liability, or a summary warrant</p></a></li>
        </ul>
    </div>

    <div class="services other more service-page">
        <ul id="other-services">
            <li class="title"><h2>More services</h2></li>
            <li><a href="service-page-info.html" class="equal-item"><h3>Universal Credit </h3></a></li>
            <li><a href="service-page-info.html" class="equal-item"><h3>Moving into Leeds </h3></a></li>
            <li><a href="service-page-info.html" class="equal-item"><h3>Single person discount </h3></a></li>
        </ul>
    </div>

{% endblock %}
