{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Who is eligible | Council Tax Support
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Council Tax Support
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">Discounts and exemptions</a></li>
                        <ul class="">                
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Council Tax Support</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li>Who is eligible</li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-apply.html">Apply</li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-report-a-change.html">Report a change</a></li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-disputes-and-appeals.html">Disputes and appeals</a></li>
        </ol>
    </nav>
</aside>

<div class="text">
    <h2>1. Who is eligible</h2>
    <p class="lead">Find out who can qualify for Council Tax Support.</p>

    <p>Council Tax Support is a council tax discount which reduces the amount of council tax you have to pay. The amount of
        discount you receive depends on your income. There is a maximum discount of 75%, unless you qualify as a member of
        a <a href="#protected">protected group</a>.</p>

    <p>You may be eligible for Council Tax Support if you:</p>

    <ul class="list list-bullet">
        <li>live in the UK</li>
        <li>pay council tax</li>
        <li>are on a low income</li>
    </ul>


    <h3>Find out if you can get Council Tax Support</h3>
    <p>Check whether you could be eligible to claim Council Tax Support or other benefits using <a rel="external" href="https://www.entitledto.co.uk/">entitledto</a>.</p>

    <h3>How savings, investments and property affect your Council Tax Support</h3>
    <p>If you have capital (savings, investments and property) over £16,000 you can’t claim Council Tax Support unless you or
        your partner (or both of you) have reached the <a rel="external" href="https://www.gov.uk/state-pension-age">qualifying age for State Pension Credit</a>        and one of you gets the guaranteed part of the Pension Credit.</p>
    <p>You may still be able to get <a href="#SAR">Second Adult Rebate</a> to help with your council tax though.</p>

    <a id="protected"></a>
    <h3>Protected groups</h3>
    <p>The following people are considered vulnerable, and may be able to claim up to 100% discount on their council tax depending
        on their income and circumstances.</p>
    <ul class="list list-bullet">
        <li>carers eligible for Carer’s Allowance</li>
        <li>pensioners eligible for Pension Credit</li>
        <li>lone parents responsible for one or more dependent children under five – you must not have a partner living with
            you</li>
        <li>war widows and war pensioners - must be in receipt of a War Widows Pension, War Disablement Pension or Armed Forces
            Compensation Payment</li>
        <li>disabled people entitled to an Enhanced or Severe Disability Premium</li>
    </ul>

    <a id="SAR"></a>
    <h3>Second adult rebate for pension-age people</h3>
    <p>Second adult rebate reduces the amount of council tax that you have to pay when another adult living with you prevents
        you getting a council tax discount or exemption.</p>
    <p>If you share your home with someone who isn't your partner and who can't help you pay rent or council tax, you may be
        able to claim second adult rebate.</p>
    <p>The person who shares your home must be:</p>
    <ul class="list list-bullet">
        <li>aged 18 or over</li>
        <li>not paying you rent</li>
        <li>not paying council tax themselves</li>
        <li>on a low income</li>
        <li>not a joint tenant or joint owner</li>
    </ul>
    <p>The person responsible for paying council tax must make the claim. The claim will be assessed based on the income of
        the second adult.</p>


    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <ul>

            <li class="pagination-nav__next-page">
                <a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-apply.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Apply</span>
        </a>
            </li>
            <div style="clear:both"></div>
        </ul>
    </nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
        <div class="sideNav">
            <h3>Council tax</h3> 	    	
            <ul class="nav">
                <li><a class="item" href="http://www.leeds.gov.uk/residents/Pages/Universal-Credit-and-Council-Tax-Support.aspx" title="" id="">Universal Credit and Council Tax Support</a></li>
                <li><a class="item" href="http://www.leeds.gov.uk/residents/Pages/Personal-work-support-programme.aspx" title="" id="">Personal Work Support Programme</a></li>
                <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
                <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
                </li>                                                            	        
            </ul>	    
        </div>
    </nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}