{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Report a change | Council Tax Support
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Council Tax Support
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
 <ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">Discounts and exemptions</a></li>
                        <ul class="">                
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-who-is-eligible.html">Council Tax Support</a></li>
                            <ul class="">                
                                <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Report a change</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-who-is-eligible.html">Who is eligible</a></li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-apply.html">Apply</a></li>
            <li>Report a change</li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-disputes-and-appeals.html">Disputes and appeals</a></li>
        </ol>
    </nav>
</aside>

<div class="text">
    <h2>3. Report a change</h2>
    <p class="lead">Find out how to let us know about any changes that may affect your Council Tax Support.</p>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>You must tell us about any changes within one month.</p>
    </div>

    <h3>Changes you need to tell us about</h3>

    <ul class="list list-bullet">
        <li>wages of anyone living in the property go up or down</li>
        <li>anyone moves into or out of your home</li>
        <li>changes to other benefits for anyone living in the property</li>
        <li>change of address</li>
        <li>change of name</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
            <p>This is not a full list. Let us know about any changes that you think might affect your household income.</p>
        </div>


    <ul class="accordion" data-module="accordion">
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>In person</a>
                    <div style="display: none;" class="content-block">
                        <p>Visit a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a>. We will provide you with a form to complete and can discuss the evidence you need to provide.</p>
                        
                    </div>
            </li>
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>By post</a>
                    <div style="display: none;" class="content-block">
                        <p>You can download and print off a copy of the relevant form. Alternatively you can get a copy from a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a>.</p>
                        
                        <p>Complete and return your form to a One Stop Centre or by post to:</p>
                        <div class="text-block">
                            Leeds City Council<br/> P.O. Box 60<br/> Leeds<br/> LS2 8JR</p>
                        </div>                     
                       </div>
                    </div>
            </li>       
    <br/>
        </ul>

        <div class="docList one">
                <div class="listWebpart">
                    <ul>
                        <li class="word"><a href="http://www.leeds.gov.uk/docs/Change of Address form for Council Tenants and Home Owners.doc"><span class="info">Report a change of address for council tenants/homeowners<span class="arrow"></span></span><span class="thirdInfo">(WORD, 119KB)</span></a></li>
                        
                        <li class="word"><a href="http://www.leeds.gov.uk/docs/Change of Address form for Private Tenants.doc"><span class="info">Report a change of address for private/housing association tenants<span class="arrow"></span></span><span class="thirdInfo">(WORD, 185KB)</span></a></li>
                        
                        <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Change of Circumstances Form.pdf"><span class="info">Report other changes<span class="arrow"></span></span><span class="thirdInfo">(PDF, 829KB)</span></a></li>
                    </ul>
                </div>

            </div>



    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <ul>
            <li class="pagination-nav__previous-page">
                <a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-apply.html" rel="prev">
            <span class="pagination-nav__part-title">Previous</span>
            <span class="pagination-nav__label">Apply</span>
            </a>
            </li>
            <li class="pagination-nav__next-page">
                <a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-disputes-and-appeals.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Disputes and appeals</span>
        </a>
            </li>
            <div style="clear:both"></div>
        </ul>
    </nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="http://www.leeds.gov.uk/residents/Pages/Universal-Credit-and-Council-Tax-Support.aspx" title="" id="">Universal Credit and Council Tax Support</a></li>
            <li><a class="item" href="http://www.leeds.gov.uk/residents/Pages/Personal-work-support-programme.aspx" title="" id="">Personal Work Support Programme</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}