{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Apply | Council Tax Support
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Council Tax Support
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">Discounts and exemptions</a></li>
                        <ul class="">                
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-who-is-eligible.html">Council Tax Support</a></li>
                            <ul class="">                
                                <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Apply</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-who-is-eligible.html">Who is eligible</a></li>
            <li>Apply</li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-report-a-change.html">Report a change</a></li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-disputes-and-appeals.html">Disputes and appeals</a></li>
        </ol>
    </nav>
</aside>

<div class="text">
    <h2>2. Apply</h2>
    <p class="lead">Find out how to apply for Council Tax Support or Second Adult Rebate.</p>

    <p>If you are <a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-who-is-eligible.html">eligible to claim Council Tax Support or Second Adult Rebate</a>,
        you can apply at a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a>.</p>
    <p>Staff will provide you with a claim form and can help you with the evidence needed to support your application.</p>
    <p>Complete the relevant sections of the claim form and return it to a One Stop Centre with your evidence.</p>
    <p>You can print off the Benefits claim form, complete and return it to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a>        or by post to:</p>
    <div class="text-block">
        <p>Leeds City Council<br/>P.O. Box 60 <br>Leeds <br>LS2 8JR</p>
    </div>
    <div class="docList one">
        <div class="listWebpart">
            <ul>
                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Benefit claim form.pdf"><span class="info">Benefits claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 2.7MB)</span></a></li>
            </ul>
        </div>
    </div>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>The New claim information booklet will help you complete the form. It will also explain what evidence you need to
            provide to support your application.</p>
    </div>

    <div class="docList one">
        <div class="listWebpart">
            <ul>
                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Benefit Claim Information Booklet.pdf"><span class="info">New claim information booklet<span class="arrow"></span></span><span class="thirdInfo">(PDF, 597KB)</span></a></li>
            </ul>
        </div>
    </div>





    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <ul>
            <li class="pagination-nav__previous-page">
                <a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-who-is-eligible.html" rel="prev">
            <span class="pagination-nav__part-title">Previous</span>
            <span class="pagination-nav__label">Who is eligible</span>
            </a>
            </li>
            <li class="pagination-nav__next-page">
                <a href="/pages-lcc/council-tax/discounts-and-exemptions/council-tax-support/council-tax-support-report-a-change.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Report a change</span>
        </a>
            </li>
            <div style="clear:both"></div>
        </ul>
    </nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="http://www.leeds.gov.uk/residents/Pages/Universal-Credit-and-Council-Tax-Support.aspx" title="" id="">Universal Credit and Council Tax Support</a></li>
            <li><a class="item" href="http://www.leeds.gov.uk/residents/Pages/Personal-work-support-programme.aspx" title="" id="">Personal Work Support Programme</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}