{% extends "master2.html" %}


{% block page_title %}
{% endblock %}

{% block bodycontent %}
    <div class="header-nav-container">
    {% block header_brand %}
    {% include "includes/header_brand.html" %}
    {% endblock %}
  
    {% block nav %}
      {% include "includes/main_nav_sp.html" %}
      {% include "includes/alerts/alert-info.html" %}
      {% include "includes/alerts/alert-warning.html" %}
      {% include "includes/alerts/alert-danger.html" %}   
      {% include "includes/alerts/alert-success.html" %}         
    {% endblock %}
    </div>

    {% block sectionOneTop %}{% endblock %}
    <section id="main" class="sectionOne">
        <div class="container-fluid">
  


            <div class="row">

                 <div class="col-lg-12">
 {% block breadcrumb %}
 {% endblock %}
                 </div>

                <div class="col-lg-8">
                
                        {% block header %}{% endblock %}
                        
                        {% block content %}
                        {% endblock %}
                    
                </div>
                <div class="col-lg-4">
                    {% block rightHandColumn %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    <section class="sectionTwo">
        <div class="container-fluid">
            <div class="row">
            {% block sectionTwo %}
            {% endblock %}
            </div>
        </div>
    </section>

{% endblock %}
