{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Venue school
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Abbey Grange Church of England Academy
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Abbey Grange Church of England Academy</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<!--<img class="img-content" src="/public/images/leeds-central-library.jpg" alt="" />-->
<div class="description-list">
    <div class="description-list__item">
        <h3>Name</h3>
        <div class="description-list__item-content">
            <p>Abbey Grange Church of England Academy</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Address</h3>
        <div class="description-list__item-content">
            <p>Butcher Hill, <br>Leeds, <br>LS16 5EA</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Telephone</h3>
        <div class="description-list__item-content">
            <p>0113 275 7877</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Email</h3>
        <div class="description-list__item-content">
            <p><a href="mailto:info@abbeygrangeacademy.co.uk">info@abbeygrangeacademy.co.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Web</h3>
        <div class="description-list__item-content">
            <p><a rel="external" href="http://www.abbeygrangeschool.co.uk">abbeygrangeschool.co.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Location</h3>
        <div class="description-list__item-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9417.858638598458!2d-1.611815!3d53.834599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x13274f6334091a35!2sAbbey+Grange+Church+of+England+Academy!5e0!3m2!1sen!2suk!4v1497539766714" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Headteacher</h3>
        <div class="description-list__item-content">
            <p>Mr J Norden</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>School code</h3>
        <div class="description-list__item-content">
            <p>5400</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Number of pupils</h3>
        <div class="description-list__item-content">
            <p>240</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Area</h3>
        <div class="description-list__item-content">
            <p>NW</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Age range</h3>
        <div class="description-list__item-content">
            <p>11 to 18</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Preferences</h3>
        <div class="description-list__item-content">
            <p>Preferences show how many pupils applied for this school last academic year. It shows how many selected this school as their 1st, 2nd, 3rd, 4th and 5th choice.</p>
            <p>Information available in the <a rel="pdf" href="/docs/Starting%20secondary%20school%20in%20Leeds.pdf">Starting Secondary School in Leeds booklet (PDF 3.5MB)</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Allocation Information</h3>
        <div class="description-list__item-content">
            <p>Information available in the <a rel="pdf" href="/docs/Starting%20secondary%20school%20in%20Leeds.pdf">Starting Secondary School in Leeds booklet (PDF 3.5MB)</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Facilities</h3>
        <div class="description-list__item-content">
            <ul class="list list-bullet">           
                <li>cycle storage</li>                
                <li><a href="#">designated school bus</a></li>
                <li>reduction in car travel</li>
                <li>road safety training</li>
                <li>school travel plan</li>
                <li>SIF required</li>         
                <li><a href="#">walking initiative</a></li>
                <li>yellow bus</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}