{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Venue one stop
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Armley One Stop Centre
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Armley One Stop Centre</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<!--<img class="img-content" src="/public/images/leeds-central-library.jpg" alt="" />-->
<div class="venue-details">
    <div class="venue-details__item">
        <h3>Name</h3>
        <div class="venue-details__item-content">
            <p>Armley One Stop Centre</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Address</h3>
        <div class="venue-details__item-content">
            <p>2 Stocks Hill, <br>Armley, <br>LS12 1UQ</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Email</h3>
        <div class="venue-details__item-content">
            <p><a href="mailto:general.enquiries@leeds.gov.uk">general.enquiries@leeds.gov.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Opening hours</h3>
        <div class="venue-details__item-content">
            <ul class="list">
                <li><strong>Monday: </strong>10am to 4pm</li>
                <li><strong>Tuesday: </strong>8:30am to 4pm</li>
                <li><strong>Wednesday: </strong>8:30am to 4pm</li>
                <li><strong>Thursday: </strong>8:30am to 4pm</li>
                <li><strong>Friday: </strong>8:30am to 4pm</li>
                <li><strong>Saturday: </strong>Closed</li>
                <li><strong>Sunday: </strong>Closed</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Local transport information</h3>
        <div class="venue-details__item-content">
            <p>The centre is on local bus routes. Please visit <a href="http://www.wymetro.com" rel="external">WY Metro</a> for more information.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Facilities</h3>
        <div class="venue-details__item-content">
            <ul class="list list-bullet">
                <li>baby change</li> 
                <li>computer access to free online council services</li> 
                <li>free phone for debt advice</li> 
                <li>free Wi-Fi</li>  
                <li>toilets</li> 
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Activities</h3>
        <div class="venue-details__item-content">
            <ul class="list list-bullet">
                <li>pop-up support surgeries</li>  
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Services</h3>
        <div class="venue-details__item-content">
            <ul class="list list-bullet">
                <li>hate crime reporting</li>
                <li>registrar appointments</li>
                <li>social services help and advice</li>
                <li>welfare rights</li>
                <li>Leeds Credit Union</li>
                <li>council tax, bills and benefits advice</li>
                <li>advice on housing</li>
                <li>advice on parking</li>
                <li>adult learning</li>
                <li>student support</li>
                <li>cognitive Behavioural Therapy</li>
                <li>disabled bus passes and blue badge applications</li>
                <li>councillor surgeries</li>
                <li>MP surgeries</li>
                <li>neighbourhood policing team</li>
                <li>purchase RADAR key</li> 
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Location</h3>
        <div class="venue-details__item-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.567382118951!2d-1.5904976841444993!3d53.79718698007601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795ec49cc53847%3A0xa48a16b215665af0!2sArmley+One+Stop+Centre!5e0!3m2!1sen!2suk!4v1497536263297" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="panel">
    <h2>One Stop Centres and Community Hubs</h2>
    <p class="bottom">Visit the <a href="/residents/Pages/one-stop-centres.aspx">One Stop Centres</a> and <a href="/residents/Pages/Community-Hubs.aspx">Community Hubs</a> pages for information on similar venues and the services they offer.</p>
</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}