{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Venue library
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Central library
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Ardsley and Tingley library</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<!--<img class="img-content" src="/public/images/leeds-central-library.jpg" alt="" />-->
<div class="description-list">
    <div class="description-list__item">
        <h3>Name</h3>
        <div class="description-list__item-content">
            <p>Central library</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Address</h3>
        <div class="description-list__item-content">
            <p>Municipal Buildings, <br>Calverley Street, <br>Leeds <br>WF3 2DL</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Library enquires - Telephone</h3>
        <div class="description-list__item-content">
            <p>0113 378 5005</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Library enquires - Email</h3>
        <div class="description-list__item-content">
            <p><a href="mailto:libraryenquiries@leeds.gov.uk">libraryenquiries@leeds.gov.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Meeting room hire - Email</h3>
        <div class="description-list__item-content">
            <p><a href="mailto:centrallibrarybookings@leeds.gov.uk">centrallibrarybookings@leeds.gov.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Opening hours</h3>
        <div class="description-list__item-content">
            <ul class="list">
                <li><strong>Monday: </strong>9am to 7pm</li>
                <li><strong>Tuesday: </strong>9am to 7pm</li>
                <li><strong>Wednesday: </strong>9am to 7pm</li>
                <li><strong>Thursday: </strong>9am to 6pm</li>
                <li><strong>Friday: </strong>9am to 5pm</li>
                <li><strong>Saturday: </strong>10am to 5pm</li>
                <li><strong>Sunday: </strong>11am to 3pm</li>
            </ul>
            <div role="note" aria-label="Information" class="text-highlight text-highlight--blue">
                <p>Please note the library is closed on Bank Holidays</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Location</h3>
        <div class="description-list__item-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.398918160101!2d-1.5508306841443953!3d53.80018498007656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c1d0783ae7b%3A0xf2e1318bde1573ce!2sLeeds+Central+Library!5e0!3m2!1sen!2suk!4v1501752856711" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Specialist departments</h3>
        <div class="description-list__item-content">
            <ul class="list list-bullet">
                <li><a href="/Pages/Music-and-art.aspx">Music and Art&#8203;</a></li>
                <li><a href="/Pages/Information-and-research-library.aspx">Information and research library</a></li>
                <li><a rel="external" href="/bipcleeds">Business &amp; IP Centre</a></li>
                <li><a href="/Pages/Local-and-family-history-service.aspx">Leeds and&nbsp;Local and Family History</a></li>
                <li><a href="/Pages/Drama-library.aspx">Drama library</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Services and facilities</h3>
        <div class="description-list__item-content">
            <ul class="list list-bullet">
                <li>Free book lending service for adults and children - fiction, non-fiction, large print, storytapes for children, talking books, world and other language books</li>
                <li><a href="/Pages/Book-a-computer.aspx">Free computer access </a>for adults and children with Microsoft office, you will need to be a member of the library to access the computer.</li>
                <li>Assistive technology</li>
                <li>Community information</li>
                <li>Council papers and planning applications (online</li>
                <li>Employment and training advice</li>
                <li>Events and activities for adult and children</li>
                <li>Free internet access (including WiFi)</li>
                <li>Intellectual property </li>
                <li>Learning sessions</li>
                <li>Leeds Tapestry - 16 panels of extraordinary work of art about the history of the city.</li>
                <li>Newspapers and journals - details in documents.</li>
                <li>Online resources</li>
                <li>Photocopiers</li>
                <li>Printing - black and white, colour</li>
                <li>Quiet study area</li>
                <li>Readers' group and writers' group</li>
                <li>Request service</li>
                <li><a href="/Pages/Special-collections.aspx">Special collections</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Renewing libray books</h3>
        <div class="description-list__item-content">
            <p>You can renew a <a rel="external" href="#">library book online</a></p>
            <p>Or you can call the 24/7 automated telephone renewals line on 0845 120 7271</p>
            <div role="note" aria-label="Information" class="text-highlight text-highlight--blue">
                <p>Please have your library card or the barcode number of each item to hand.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="description-list__item">
        <h3>Access</h3>
        <div class="description-list__item-content">
            <p>There is on street parking only, and access is dependent on where the vehicle is parked.  The surface is mainly concrete and paving slabs with curbs in various conditions. There is the possibility of crossing busy roads via pelican crossings. There are several access points.</p>
            <ul class="list list-bullet">
                <li>Victoria Gardens basement level access via either eight steps or ramp. There is also level access via the Galley Shop/Brew Bar. Lift access to all floors. </li>
                <li>Access via Art Gallery up a number of stairs or ramp through automatic doors. These are automatic doors to the Art Gallery; Access to the library is through the <a rel="external" href="/museumsandgalleries/Pages/leedsartgallery/Eat-Drink-Shop.aspx">Tiled Hall Café</a>. Access to other areas via lift. </li>
                <li>Calverley street entrance up a number of stairs and through a heavy double door. Access to other floors via lift.</li>
            </ul>
            <p>Accessible toilets are located in the basement area or in the Art Gallery and there is a Changing Places facility in the Gallery Shop.</p>
            <p>The building has four floors, ground level to third. All public library areas have low level counters and portable Induction loop is available if required. Large keyboards, mouse, trackball, screen magnifier, Global Writer and Boardmaker are also available.</p>​​​​​​​​​​​​​​​​​​​​​
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="mega-promo">
    <div class="mega-promo__item half">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a half width promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
    <div class="mega-promo__item half">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a half width promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
<div class="mega-promo">
    <div class="mega-promo__item">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/images/16-9-image-leeds.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">This is a promo</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">Highlight text</span>
        </a>
    </div>
</div>
<div id="g_a3d4cd0e_189d_4b2a_908d_3b2fb9b1d6f9" class="eventSearchResults">
    <h2>Whats on</h2>
    <div class="eventSearchResultsList">
        <div class="eventListOnly">
           <style>.fullRow {width:100% !important;}</style>
            <ul class="content">
                <li>
                    <a href="">
                        <div class="eventsContentPod">
                            <div class="eventsContentPodWrapper">
                                <h3>Spooky Shadow Stories</h3>
                                <div class="dateFull"><span class="dateTime"><span>23rd October 2017 5:00 pm</span></span></div>
                                <p><strong>Garforth library and One Stop Centre </strong></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="eventsContentPod">
                            <div class="eventsContentPodWrapper">
                                <h3>Lego: Ninja Training</h3>
                                <div class="dateFull"><span class="dateTime"><span>24th October 2017 10:30 am</span></span></div>
                                <p><strong>Garforth library and One Stop Centre </strong></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="eventsContentPod">
                            <div class="eventsContentPodWrapper">
                                <h3>Minecraft Club @ Garforth </h3>
                                <div class="dateFull"><span class="dateTime"><span>25th October 2017 5:00 pm</span></span></div>
                                <p><strong>Garforth library and One Stop Centre </strong></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="eventsContentPod">
                            <div class="eventsContentPodWrapper">
                                <h3>Pokemon Club</h3>
                                <div class="dateFull"><span class="dateTime"><span>4th November 2017 1:30 pm</span></span></div>
                                <p><strong>Garforth library and One Stop Centre </strong></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li><a href=""><strong>All Events</strong></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}