{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Venue library
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Ardsley and Tingley library
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Ardsley and Tingley library</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<!--<img class="img-content" src="/public/images/leeds-central-library.jpg" alt="" />-->
<div class="venue-details">
    <div class="venue-details__item">
        <h3>Name</h3>
        <div class="venue-details__item-content">
            <p>Ardsley and Tingley library</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Address</h3>
        <div class="venue-details__item-content">
            <p>213a Bradford Road, <br>Tingley, <br>WF3 2DL</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Telephone</h3>
        <div class="venue-details__item-content">
            <p>0113 253 9025</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Email</h3>
        <div class="venue-details__item-content">
            <p><a href="mailto:libraryenquiries@leeds.gov.uk">libraryenquiries@leeds.gov.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Opening hours</h3>
        <div class="venue-details__item-content">
            <ul class="list">
                <li><strong>Monday: </strong>10am to 1pm and 2pm to 5pm</li>
                <li><strong>Tuesday: </strong>Closed</li>
                <li><strong>Wednesday: </strong>10am to 1pm and 2pm to 6pm</li>
                <li><strong>Thursday: </strong>10am to 1pm and 2pm to 5pm</li>
                <li><strong>Friday: </strong>10am to 1pm and 2pm to 5pm</li>
                <li><strong>Saturday: </strong>10am to 1pm and 2pm to 5pm</li>
                <li><strong>Sunday: </strong>10am to 1pm and 2pm to 5pm</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Local transport information</h3>
        <div class="venue-details__item-content">
            <p>The library is on the local bus routes.</p> 
            <p>Please contact Metroline for up-to-date travel information on (0113) 245 7676</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Parking</h3>
        <div class="venue-details__item-content">
            <p>The library has parking</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Facilities</h3>
        <div class="venue-details__item-content">
            <ul class="list list-bullet">
                <li>fax service</li> 
                <li>free computer access (with MS Office and internet)</li> 
                <li>free Wi-Fi</li>  
                <li>printing, photocopying and scanning</li> 
                <li>scanner</li>  
                <li><a href="#">self-service</a></li>  
                <li>toilets</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Activities</h3>
        <div class="venue-details__item-content">
            <ul class="list list-bullet">
                <li>activities for children</li> 
                <li>free basic IT skills sessions</li> 
                <li>readers' group</li>  
                <li>rhyme Time</li> 
                <li>storytime</li>  
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Services</h3>
        <div class="venue-details__item-content">
            <ul class="list list-bullet">
                <li>free access to eBooks and e-magazines</li> 
                <li>local bus timetables</li> 
                <li>local and family history</li>  
                <li><a href="#">story tapes for children</a></li> 
                <li><a href="#">talking books</a></li>  
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Location</h3>
        <div class="venue-details__item-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d9426.231707388168!2d-1.5579972500000001!3d53.79735525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sPlease+contact+the+Library+for+more+information.%3C%2Fli%3E!5e0!3m2!1sen!2suk!4v1497529844669" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Access</h3>
        <div class="venue-details__item-content">
            <p>The nearest bus stop is twenty metres away and access to the pbrary is down a slight slope before the surface levels.</p> 
            <p>The entrance has two sets of double doors; inner and outer.  The inner doors are automatic and staff can provide assistance.</p> 
            <p>Internally, the library is on one level and has no inaccessible areas.  There is one accessible toilet. Assistive technology is available at this site.</p>
            <p>There are low level areas and an Induction loop is installed on the counter.</p>
            <p>Please contact the Library if you need more information.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Renewing libray books</h3>
        <div class="venue-details__item-content">
            <p>You can renew a <a rel="external" href="#">library book online</a></p>
            <p>Or you can call the 24/7 automated telephone renewals line on 0845 1207271</p>
            <div role="note" aria-label="Information" class="text-highlight text-highlight--blue">
                <p>Please have your library card or the barcode number of each item to hand.</p>
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}