{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Venue recycling site
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Kirkstall Recycling Site
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Kirkstall Recycling Site</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="alert-wrapper" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="alert alert-info" role="alert">
    <div class="container-fluid">
      <div class="alertInner">
        <h2>The new Kirkstall recycling site is opening soon</h2>
        <p>Recently renovated, the Kirkstall Recycling Site opened to the public on Monday 6th March, but the official opening takes place on Friday 16th June at 11am when Cllr Yeadon will be cutting a red ribbon to officially open the site. </p>
        <!--<a class="btn btn-default" href="#">Tell us what you think</a>-->
      </div>
    </div>
  </div>
</div>
<!--<img class="img-content" src="/public/images/leeds-central-library.jpg" alt="" />-->
<div class="venue-details">
    <div class="venue-details__item">
        <h3>Name</h3>
        <div class="venue-details__item-content">
            <p>Kirkstall Recycling Site</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Address</h3>
        <div class="venue-details__item-content">
            <p>Evanston Avenue, <br>Kirkstall, <br>LS4 2HR​</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Telephone</h3>
        <div class="venue-details__item-content">
            <p>0113 378 3030</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Opening hours</h3>
        <div class="venue-details__item-content">
            <ul class="list">
                <li><strong>Monday: </strong>10am to 4pm</li>
                <li><strong>Tuesday: </strong>8:30am to 4pm</li>
                <li><strong>Wednesday: </strong>8:30am to 4pm</li>
                <li><strong>Thursday: </strong>8:30am to 4pm</li>
                <li><strong>Friday: </strong>8:30am to 4pm</li>
                <li><strong>Saturday: </strong>Closed</li>
                <li><strong>Sunday: </strong>Closed</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Location</h3>
        <div class="venue-details__item-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.061071728079!2d-1.5869166841441436!3d53.806196980077935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795ec92b186fa5%3A0x39d2250df510f65b!2sKirkstall+Recycling+Site!5e0!3m2!1sen!2suk!4v1497537267864" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
    </div>
    <div class="venue-details__item">
        <h3>Access</h3>
        <div class="venue-details__item-content">
            <p>Leeds City Council aim to provide an accessible service, and although the arrangements within the site may not provide suitable access for everyone, staff are available to assist if required.</p> 
            <p>If you wish to request assistance or discuss access arrangements at this site in more detail before you visit please call 0113 378 3030 or email <a href="mailto:leeds.waste@leeds.gov.uk">leeds.waste@leeds.gov.uk</a></p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="text">

    <h2>Revive Leeds re-use shop competition</h2>

    <p>The new Revive Leeds re-use shop at the Kirkstall site is proving to be very popular as a source of fantastic bargains for local residents. We are running a competition until 6pm Sunday 25th June. Just post a photo of your purchase from Revive@Kirkstall on Facebook or Twitter using the hashtag <strong>#reuse4leeds</strong> for your chance to win a voucher for £30, £20, £10 to be redeemed at Revive@Kirkstall. <strong><a href="/docs/Competition%20terms%20and%20conditions%20June%202017.pdf">Terms and conditions (PDF 118KB)</a></strong></p>

    <h2>Materials we accept:</h2>

    <p>Cardboard, garden waste, scrap metal, wood, paper, aerosols, foil, glass, hardcore, plasterboard, rubble, soil, textiles, shoes, books, engine oil, vegetable oil, TVs and monitors, fridges and freezers, electrical appliances, mobile phones, household batteries, fluorescent tubes, energy saving bulbs, printer cartridges, car batteries, tyres (4 max), paint, household/DIY chemicals, furniture, mattresses and garden chemicals.</p>
    <p>Please note that for one off visits, we can only accept up to <strong>five</strong> rubble sacks (25kg standard type) or one small car boot load per week of soil, inert or rubble waste.</p>

    <h2>Are you using a vehicle other than a car?</h2>

    <p>If you have a commercial type vehicle, such as a van or a four wheel drive pick-up, or use a trailer to take your household waste to the recycling sites, you will need a separate commercial permit. See our <a href="/residents/Pages/LeedsPermitScheme.aspx"><strong>Recycling site permits page</strong></a> for more information and to find out how to apply.</p>

    <h2>New Revive Leeds Re-use shop</h2>

    <p>The purpose built Revive Leeds Re-use shop (tel. 0113 216 3310) is also situated at this site, and has it's own car park. Pedestrian access is via the gate from Evanston Avenue. </p>
    <p>The re-use shop is the second to be developed in Leeds and is run by Revive Leeds, a community interest group made up of two local charities: SLATE and SVP. Any re-usable items such as furniture, working electrical items, clothing, bikes, toys, books, cds, bric-a-brac and other household items can be donated direct to the new Revive Leeds re-use shop, where donations can be sold at low prices and enjoyed by someone else.</p>
    <p>The shop is open all year round, seven days a week, 9am to 3:30pm (GMT) and 9am to 5:30pm (BST) except for Christmas Eve, Christmas Day and Boxing Day.</p>

    <h2>Business Waste</h2>

    <p>Businesses can recycle garden waste, cardboard, paper, timber, hardcore, rubble and soil, plasterboard and scrap metal. You can also dispose of your general and hazardous waste such as freezers, fridges, televisions and fluorescent tubes. For information on charges please see our <a href="/docs/Trade%20charges%20Sept%202016.pdf"><strong>Trade Charges (PDF 64KB)</strong></a> document or ring 0113 378 3030.</p>
    <p>The weighbridge is open for business waste from 8am to 4pm Monday to Friday, 8am to 12pm Saturday.</p>
    <p>Waste from certain premises such as places of worship or charities may be classed as household waste. See the <a href="/docs/free%20charity%20application%20rev%20250112[1].pdf"><strong>Free disposal application (PDF 133KB)</strong></a> to check if you qualify for free collections and/or disposal.</p>

    <h2>Asbestos</h2>

    <p>This site accepts small amounts of asbestos from householders. See the <a href="/docs/Asbestos%20Guidance%20Leaflet%20%20final.pdf"><strong>Asbestos Guidance Leaflet (PDF 336KB)</strong></a> for information about how it should be packaged and the process for booking it in. It is accepted by appointment only, please call 0113 378 3030 for information and charges.</p>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% include "includes/design-patterns/side-nav.html" %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}