{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	British Sign Language (BSL)
{% endblock %}


  {% block css_register %}
        <script src="https://use.typekit.net/pws7qio.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    British Sign Language (BSL)
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>British Sign Language (BSL)</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<div class="text">

    <p>British Sign Language, also known as BSL, is the language used by some deaf people in the UK. </p>

    {% include "includes/design-system/accessible-player.html" %}

    <h2 class="heading-large">SignVideo service</h2>

    <p>We use an online service called <a href="#" rel="external" class="external">SignVideo</a> that connects you to a BSL interpreter through your computer. If you don't have a computer or access to the internet, you can access the service at:</p>

    <ul class="list list-bullet">
        <li><a href="#">City Centre One Stop</a> - 2 Great George Street, LS2 8BA</li>
        <li><a href="#">The Compton Centre</a> - 322 Harehills Lane, LS9 7BG</li>
        <li><a href="#">The Reginald Centre</a> - Chapeltown Road, LS7 3EX</li>
        <li><a href="#">Armley One Stop Centre</a> - 2 Stocks Hill, LS12 1UQ</li>
        <li><a href="#">Dewsbury Road One Stop Centre</a> - 190 Dewsbury Road, LS11 6PX</li>
    </ul>

    <p>The service is available between 9am and 5pm, Monday to Friday. If you need help to use it, you should email <a href="mailto:help@signvideo.co.uk">:help@signvideo.co.uk</a> or call 020 8463 1120.</p>

    <h2 class="heading-large">BSL on our website</h2>

    <p>We're continuing to develop our website to include more BSL resources.  If you, or someone you know, needs any help to use our website please contact us.  We can also provide information in other formats on request, or arrange for an interpreter to help you to access a service.</p>

    <p>You'll find links to BSL films and easy read resources on our website about:</p>

    <ul class="list list-bullet">
        <li><a href="#">Health and social care</a></li>
        <li><a href="#">Claiming disability benefits</a></li>
        <li><a href="#">Bins and recycling</a></li>
    </ul>

    <p>Please revisit this page, as we'll be adding more BSL resources in the future. </p>

    <h2 class="heading-large">Other helpful information</h2>

    <p>BSL websites and resources that you might find useful are:</p>

    <ul class="list list-bullet">
        <li><a href="#" rel="external" class="external">British Deaf Association</a> - an organisation that promotes sign language and deaf issues.  They provide information in BSL using Flash technology.</li>
        <li>ITV's <a href="#" rel="external" class="external">Signed Stories</a> - storybooks for children read out in BSL with subtitles.</li>
        <li><a href="#" rel="external" class="external">Signed BBC iPlayer programmes</a> - includes programmes created specifically for deaf people, like See Hear, and BSL sign-interpreted version of mainstream BBC programmes. </li>
    </ul>

</div>

{% endblock %}

{% block pageContent %}
    
{% endblock %}

{% block sectionOneFullBottom %}

{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %}  

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}