@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
body {
  font-size: 16px;
  font-family: Arial;
  color: #333;
  background-color: #f6f6f6; }

ul.cbs-List {
  display: block;
  margin: 0px; }

.ms-webpart-zone, .ms-webpart-chrome-vertical, .ms-webpart-cell-vertical {
  display: block; }

.ms-rtestate-field h1, .ms-rtestate-field h2, .ms-rtestate-field h3, .ms-rtestate-field h4, .ms-rtestate-field h5 {
  font-family: Arial;
  color: #333;
  font-weight: 400; }
  .ms-rtestate-field h1.ms-rteElement-H2, .ms-rtestate-field h2.ms-rteElement-H2, .ms-rtestate-field h3.ms-rteElement-H2, .ms-rtestate-field h4.ms-rteElement-H2, .ms-rtestate-field h5.ms-rteElement-H2 {
    font-family: Arial;
    color: #333;
    font-weight: 400; }

#s4-bodyContainer {
  padding-bottom: 0px; }

/*overide bootstrap*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  min-height: 0px; }

.header-nav-container {
  position: relative; }

/**********************
BACK TO THE TOP
********************/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: black;
  opacity: 1; }

@media only screen and (min-width: 767px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }

/*BACK TO TOP END*/
/*link styles*/
a[rel]:after {
  font-family: FontAwesome;
  padding: 0 5px; }

a[rel="xl"]:after {
  content: "\f1c3"; }

a[rel="pdf"]:after {
  content: "\f1c1"; }

a[rel="doc"]:after {
  content: "\f1c2"; }

a[rel="pp"]:after {
  content: "\f1c4"; }

a[rel="external"]:after {
  content: "\f08e"; }

.spacer {
  padding-top: 20px;
  display: block; }

.clearfix {
  clear: both; }

.btn, .button {
  padding: 15px 20px;
  border-radius: 0px; }

.btn-primary, .button {
  background: green;
  border: 1px solid;
  box-shadow: inset 0 1px 1px #00b300; }
  .btn-primary:hover, .button:hover {
    background: #004d00; }

.btn, .button {
  border-color: green;
  position: relative;
  padding-right: 55px;
  color: #fff; }
  .btn.btn-default, .btn.alt, .button.btn-default, .button.alt {
    border-color: green;
    border: 1px solid;
    box-shadow: none;
    color: green;
    background: transparent; }
    .btn.btn-default:hover, .btn.alt:hover, .button.btn-default:hover, .button.alt:hover {
      background: #004d00;
      color: #fff; }
  .btn:after, .button:after {
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 2.8em;
    content: "\f105";
    position: absolute;
    right: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 13px !important;
    top: 0px; }

/*BOOTSTRAP OVERIDES*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 20px;
  padding-left: 20px; }

.container-fluid {
  max-width: 1500px; }

.container-fluid.full {
  max-width: 100%; }

.content-block {
  max-width: 48em;
  padding-bottom: 2.5em; }

/*SKIP LINKS*/
a.skip {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999; }

a.skip:focus, a.skip:active {
  left: 0.625em;
  top: 0.625em;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 999;
  padding: 0.625em; }

/*SKIP LINKS END*/
.sectionOne {
  background: #e9e9e9; }

.sectionTwo {
  background: #dddddd; }

.sectionThree {
  background: #fefefe; }

.sectionFour {
  background: white; }

#containerSiteStatement {
  background: #2c3e50; }
  #containerSiteStatement #siteStatement .container {
    padding: 25px; }
    #containerSiteStatement #siteStatement .container p {
      color: #fff;
      margin: 0 0 20px; }
    #containerSiteStatement #siteStatement .container a {
      color: #fff;
      text-decoration: underline;
      display: inline-block; }
    #containerSiteStatement #siteStatement .container a:hover, #containerSiteStatement #siteStatement .container a:focus {
      color: #ddd;
      text-decoration: underline; }
    #containerSiteStatement #siteStatement .container a#ck_acpt {
      background: #c0392b;
      border-radius: 0;
      padding: 12px 20px;
      color: #fff;
      text-decoration: none; }
    #containerSiteStatement #siteStatement .container a#ck_acpt:hover, #containerSiteStatement #siteStatement .container a#ck_acpt:focus {
      background: #e74c3c;
      text-decoration: none; }

@media (max-width: 767px) {
  #containerSiteStatement #siteStatement p {
    font-size: 13px;
    line-height: 1.4em; }
  #containerSiteStatement #siteStatement a#ck_acpt {
    font-size: 14px;
    display: block;
    text-align: center;
    line-height: 1.4em; } }

ul.menu {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }
  ul.menu li {
    float: left;
    margin: 0;
    padding: 0; }
    ul.menu li a {
      font-size: 17px;
      font-weight: bold;
      padding: 11px 15px;
      color: #AA1C40;
      line-height: 40px;
      min-height: 62px;
      display: block; }
      ul.menu li a:hover, ul.menu li a:focus {
        background: #dedede;
        text-decoration: none; }
      ul.menu li a.myAccount {
        margin: 10px;
        padding: 0px 15px;
        min-height: 38px;
        line-height: 38px;
        border: 1px solid; }
        ul.menu li a.myAccount span {
          padding: -2px 0 5px 0;
          display: inline-block; }
        ul.menu li a.myAccount:after {
          font-family: "FontAwesome";
          content: "\f007";
          font-size: 18px;
          padding: 0 5px; }
      ul.menu li a.main-menu, ul.menu li a.search {
        display: none;
        background: #fff; }
        ul.menu li a.main-menu:before, ul.menu li a.search:before {
          font-family: "FontAwesome";
          font-size: 25px;
          float: right; }
      ul.menu li a.search {
        background: #cdcdcd; }
        ul.menu li a.search:before {
          content: "\f002"; }
        ul.menu li a.search.active:before {
          content: "\f00d";
          padding: 0 2px; }
      ul.menu li a.search.active, ul.menu li a.search:hover, ul.menu li a.search:focus {
        background: #bdc3c7; }
      ul.menu li a.main-menu {
        background: #D5DBE1;
        color: #fff; }
        ul.menu li a.main-menu:before {
          content: "\f0c9";
          padding-left: 5px; }
        ul.menu li a.main-menu.active:before {
          content: "\f00d";
          padding-left: 7px; }
      ul.menu li a.main-menu:hover, ul.menu li a.main-menu:focus, ul.menu li a.main-menu.active {
        background: #bdc7d0; }

@media (max-width: 767px) {
  ul.menu li a.main-menu,
  ul.menu li a.search {
    display: block; } }

@media (max-width: 600px) {
  ul.menu li a {
    padding: 9px 9px; } }

@media (max-width: 550px) {
  ul.menu li a.signin {
    display: none; }
  ul.menu li a.myAccount span {
    display: none; } }

.masterhead {
  background: #fff;
  width: 100%;
  position: relative; }
  .masterhead a.navbar-brand {
    background: url(../../img/lcclogo.svg) center center no-repeat;
    display: inline-block;
    height: 58px;
    width: 120px; }
  @media (max-width: 767px) {
    .masterhead .container-fluid {
      padding-right: 0px; } }

/**********
TOP NAV
*********/
#header {
  position: relative; }

.sectionHeader {
  padding: 30px 0px; }
  .sectionHeader .container {
    padding: 0; }

.logo {
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: 150px;
  width: 280px;
  background: url(../img/logo.png) center center no-repeat; }

@media (max-width: 767px) {
  .logo {
    float: none; } }

#navbar .container {
  padding: 0; }

/***********
MAIN MENU
*********/
/*sharepoint styles overide*/
.ms-core-listMenu-root {
  padding: 0px; }

.s4-tn li.static > .menu-item {
  border: none;
  height: auto; }

.ms-core-navigation {
  font-family: Arial; }

.ms-core-listMenu-horizontalBox {
  display: block; }

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
  margin-right: 0px;
  border: none;
  margin-left: 0px; }

.s4-tn li.static > .menu-item {
  border: none;
  height: auto; }

.ms-core-listMenu-item, .ms-core-listMenu-item:link, .ms-core-listMenu-item:visited, .ms-tv-item:link, .ms-tv-item:visited, .ms-tv-header:link, .ms-tv-header:visited {
  color: #fff; }

.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, a.ms-tv-item:hover, a.ms-tv-header:hover, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link {
  background-color: #c6ced6;
  color: #fff; }

/*sharepoint styles overide*/
.main-nav {
  background: #D5DBE1;
  z-index: 1; }
  .main-nav ul {
    display: inline-block;
    margin: 0px;
    padding: 0px; }
    .main-nav ul li {
      display: inline-block; }
      .main-nav ul li a {
        padding: 1em;
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        color: #fff; }
      .main-nav ul li a:hover, .main-nav ul li a:focus {
        background-color: #c6ced6;
        color: #fff;
        text-decoration: none; }
      .main-nav ul li a.selected {
        background: #c9d1d9 !important; }
  .main-nav ul ul {
    display: none;
    margin: 0;
    padding: 0.65em;
    position: absolute;
    width: 300px;
    z-index: 10000 !important;
    background-color: #c6ced6;
    background-color: #c6ced6; }
    .main-nav ul ul li {
      display: block;
      border-bottom: 1px solid #bdc7d0; }
      .main-nav ul ul li:first-of-type {
        border-top: 1px solid #bdc7d0; }
      .main-nav ul ul li a {
        display: block !important;
        width: 100%;
        padding: 0.65em; }
        .main-nav ul ul li a:hover {
          background: #bdc7d0; }
  .main-nav li:hover > ul {
    display: block; }

@media (max-width: 767px) {
  .main-nav {
    position: absolute;
    left: -1000px;
    top: 0px;
    z-index: 10;
    min-height: 640px;
    width: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; }
    .main-nav .container-fluid {
      padding: 20px; }
    .main-nav.active {
      left: 0px; }
    .main-nav .container-fluid ul li {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      margin: 0px;
      padding-top: 0 !important;
      width: 100%; }
      .main-nav .container-fluid ul li a {
        width: 100%;
        background: none; }
        .main-nav .container-fluid ul li a:hover, .main-nav .container-fluid ul li a:focus {
          background: rgba(0, 0, 0, 0.2); }
        .main-nav .container-fluid ul li a.selected {
          background: none;
          color: #000; }
      .main-nav .container-fluid ul li ul {
        display: block;
        position: relative;
        width: 100%;
        margin-left: 0px;
        background: none;
        float: left;
        padding: 0px 0 10px 0;
        border: none; }
        .main-nav .container-fluid ul li ul li {
          border: none;
          float: left; }
          .main-nav .container-fluid ul li ul li a {
            font-size: 16px;
            background: none;
            padding: 5px 20px;
            color: #fff; }
        .main-nav .container-fluid ul li ul.active {
          display: block; } }

@media (max-width: 767px) {
  .main-nav .ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
    margin-left: 0px; }
  .menu-horizontal {
    width: 100%; }
  .ms-core-listMenu-horizontalBox, .ms-core-listMenu-horizontalBox ul {
    display: block; }
  .ms-core-listMenu-horizontalBox li.static, .ms-core-listMenu-horizontalBox a.static, .ms-core-listMenu-horizontalBox span.static {
    width: 100%; } }

/***********
MAIN MENU
*********/
.main-nav {
  background: none; }
  .main-nav .container-fluid {
    background: #D5DBE1; }

.breadcrumb {
  padding: 0;
  margin: 1.875em 0;
  list-style: outside none none;
  background-color: transparent;
  border-radius: 0;
  font-size: 20px; }
  .breadcrumb span span a:after {
    font-family: fontAwesome;
    content: "\f105";
    font-size: 20px;
    padding: 0 5px; }
  .breadcrumb img {
    display: none; }

footer.main {
  margin: 0;
  background: #D5DBE1;
  padding: 0px 0px 0px 0px; }
  footer.main .container-fluid {
    padding: 25px 0; }
  footer.main p {
    color: #333; }
  footer.main .footer {
    background: #D5DBE1; }
    footer.main .footer ul {
      display: block; }
      footer.main .footer ul li:first-child:nth-last-child(1),
      footer.main .footer ul li:first-child:nth-last-child(1) ~ li {
        width: 100%; }
        footer.main .footer ul li:first-child:nth-last-child(1) li,
        footer.main .footer ul li:first-child:nth-last-child(1) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(2),
      footer.main .footer ul li:first-child:nth-last-child(2) ~ li {
        width: 50%; }
        footer.main .footer ul li:first-child:nth-last-child(2) li,
        footer.main .footer ul li:first-child:nth-last-child(2) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(3),
      footer.main .footer ul li:first-child:nth-last-child(3) ~ li {
        width: 33.33333%; }
        footer.main .footer ul li:first-child:nth-last-child(3) li,
        footer.main .footer ul li:first-child:nth-last-child(3) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(4),
      footer.main .footer ul li:first-child:nth-last-child(4) ~ li {
        width: 25%; }
        footer.main .footer ul li:first-child:nth-last-child(4) li,
        footer.main .footer ul li:first-child:nth-last-child(4) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(5),
      footer.main .footer ul li:first-child:nth-last-child(5) ~ li {
        width: 20%; }
        footer.main .footer ul li:first-child:nth-last-child(5) li,
        footer.main .footer ul li:first-child:nth-last-child(5) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(6),
      footer.main .footer ul li:first-child:nth-last-child(6) ~ li {
        width: 16.66667%; }
        footer.main .footer ul li:first-child:nth-last-child(6) li,
        footer.main .footer ul li:first-child:nth-last-child(6) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(7),
      footer.main .footer ul li:first-child:nth-last-child(7) ~ li {
        width: 14.28571%; }
        footer.main .footer ul li:first-child:nth-last-child(7) li,
        footer.main .footer ul li:first-child:nth-last-child(7) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(8),
      footer.main .footer ul li:first-child:nth-last-child(8) ~ li {
        width: 12.5%; }
        footer.main .footer ul li:first-child:nth-last-child(8) li,
        footer.main .footer ul li:first-child:nth-last-child(8) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(9),
      footer.main .footer ul li:first-child:nth-last-child(9) ~ li {
        width: 11.11111%; }
        footer.main .footer ul li:first-child:nth-last-child(9) li,
        footer.main .footer ul li:first-child:nth-last-child(9) ~ li li {
          width: 100%; }
      footer.main .footer ul li:first-child:nth-last-child(10),
      footer.main .footer ul li:first-child:nth-last-child(10) ~ li {
        width: 10%; }
        footer.main .footer ul li:first-child:nth-last-child(10) li,
        footer.main .footer ul li:first-child:nth-last-child(10) ~ li li {
          width: 100%; }
      footer.main .footer ul li {
        display: block;
        float: left;
        padding: 0 15px; }
        footer.main .footer ul li a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
          padding: 10px;
          font-size: 18px;
          margin-left: 0px;
          color: #333 !important;
          display: block; }
        footer.main .footer ul li a:hover, footer.main .footer ul li a:focus {
          background: rgba(0, 0, 0, 0.2);
          text-decoration: none; }
        footer.main .footer ul li a.selected {
          background-color: rgba(0, 0, 0, 0.2) !important; }
        footer.main .footer ul li ul {
          display: block;
          padding: 0px;
          margin: 0 0 0 0px;
          position: relative; }
          footer.main .footer ul li ul li {
            width: 100%;
            margin: 0px;
            border: none;
            padding: 0px; }
            footer.main .footer ul li ul li:last-of-type {
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              display: block; }
            footer.main .footer ul li ul li a {
              font-size: 15px;
              padding: 10px;
              border-bottom: none !important; }
              footer.main .footer ul li ul li a:hover, footer.main .footer ul li ul li a:focus {
                background: rgba(0, 0, 0, 0.2);
                color: #fff; }
    @media (max-width: 1200px) {
      footer.main .footer li:first-child:nth-last-child(8),
      footer.main .footer li:first-child:nth-last-child(8) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(9),
      footer.main .footer li:first-child:nth-last-child(9) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(10),
      footer.main .footer li:first-child:nth-last-child(10) ~ li {
        width: 100% !important; } }
    @media (max-width: 1000px) {
      footer.main .footer li:first-child:nth-last-child(6),
      footer.main .footer li:first-child:nth-last-child(6) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(7),
      footer.main .footer li:first-child:nth-last-child(7) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(8),
      footer.main .footer li:first-child:nth-last-child(8) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(9),
      footer.main .footer li:first-child:nth-last-child(9) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(10),
      footer.main .footer li:first-child:nth-last-child(10) ~ li {
        width: 100% !important; } }
    @media (max-width: 767px) {
      footer.main .footer li {
        width: 100%;
        border-bottom: none;
        margin: 0px !important; }
      footer.main .footer li:first-child:nth-last-child(1),
      footer.main .footer li:first-child:nth-last-child(1) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(2),
      footer.main .footer li:first-child:nth-last-child(2) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(3),
      footer.main .footer li:first-child:nth-last-child(3) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(4),
      footer.main .footer li:first-child:nth-last-child(4) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(5),
      footer.main .footer li:first-child:nth-last-child(5) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(6),
      footer.main .footer li:first-child:nth-last-child(6) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(7),
      footer.main .footer li:first-child:nth-last-child(7) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(8),
      footer.main .footer li:first-child:nth-last-child(8) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(9),
      footer.main .footer li:first-child:nth-last-child(9) ~ li {
        width: 100% !important; }
      footer.main .footer li:first-child:nth-last-child(10),
      footer.main .footer li:first-child:nth-last-child(10) ~ li {
        width: 100% !important; } }
  footer.main .socialBookmarks {
    background: transparent;
    padding: 0px;
    margin: 0 0 1.875em; }
    footer.main .socialBookmarks h2 {
      color: #333; }
    @media (max-width: 991px) {
      footer.main .socialBookmarks ul li:first-of-type {
        display: block;
        padding-bottom: 0.65em; } }
    footer.main .socialBookmarks .facebook:after, footer.main .socialBookmarks .twitter:after, footer.main .socialBookmarks .youtube:after {
      font-family: FontAwesome;
      font-size: 25px;
      border-radius: 50%;
      border: 1px solid #333;
      width: 42px;
      height: 42px;
      display: block;
      text-align: center;
      padding-top: 3px;
      color: #333; }
    footer.main .socialBookmarks a:hover:after {
      background: #333;
      color: #D5DBE1;
      text-decoration: none; }
  @media (max-width: 767px) {
    footer.main .text-right {
      text-align: left; } }
  footer.main p {
    margin-bottom: 1.875em; }
  footer.main .footerGlobal {
    background: #c9d1d9; }

.footerGlobal nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding: 1.875em 0; }
  .footerGlobal nav ul li {
    display: inline-block; }
  .footerGlobal nav ul li:after {
    content: '|';
    color: #333;
    padding: 0 0.625em; }
  .footerGlobal nav ul a {
    color: #333; }

.logo-footer span {
  background: url(/public/img/lcc-logo-white-01.svg) center center no-repeat;
  background-size: 100%;
  width: 150px;
  height: 45px;
  display: block;
  margin: 0 0 1.875em; }

.sectionSubsite {
  margin: 0 0 1.875em 0;
  padding: 20px;
  width: 100%;
  background: #efefef; }
  .sectionSubsite h2 {
    margin-top: 0;
    font-size: 22px; }
    .sectionSubsite h2 img {
      float: left;
      padding: 0 10px 10px 0; }
    .sectionSubsite h2 i {
      font-family: FontAwesome;
      font-size: 20px;
      border-radius: 50%;
      border: 1px solid #333;
      width: 35px;
      height: 35px;
      text-align: center;
      padding: 7px 0 0 0;
      margin: 0 10px 5px 0;
      color: #333; }
  .sectionSubsite h3 {
    font-size: 18px;
    border-top: 1px solid #999;
    padding: 10px 0;
    margin: 0px; }
  .sectionSubsite p {
    clear: left;
    margin: 2px 0 0;
    padding: 10px;
    background: #fff; }
    .sectionSubsite p a {
      background: #f6f6f6;
      display: block;
      margin-top: 10px; }
      .sectionSubsite p a:after {
        font-family: "Glyphicons Halflings";
        content: "\e080";
        font-size: 16px;
        padding: -2px;
        margin-top: 0px;
        float: right; }
  .sectionSubsite a {
    display: block;
    margin: 2px 0 0;
    padding: 15px;
    background: #fff; }

.promo {
  background-size: cover !important;
  padding: 0;
  margin-bottom: 1.875em;
  position: relative;
  width: 100%;
  min-height: 270px; }
  .promo img {
    max-width: 100%; }
  .promo span {
    background: #004f77;
    padding: 4% 2%;
    color: #fff;
    border-radius: 0 3px 3px 0;
    bottom: 17px;
    color: #FFFFFF;
    left: 0;
    padding: 4% 2%;
    position: absolute;
    width: 89%; }
  .promo:hover span {
    background: url("../../images/standard/promoSpanBack.png") repeat scroll 0 0 #00121B; }
  .promo a:hover img, .promo a:focus img {
    opacity: 0.8;
    filter: alpha(opacity=80); }

/*****************
CAROUSEL BOOTSTRAP
*******************/
.carousel {
  height: 400px;
  margin-bottom: 1.875em; }
  .carousel .item,
  .carousel .active,
  .carousel .carousel-inner {
    height: 100%; }
  .carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .carousel .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
    width: 5%; }
    .carousel .carousel-control.right {
      right: 0;
      left: auto;
      background-image: none; }
    .carousel .carousel-control.left {
      left: 0;
      right: auto;
      background-image: none; }
  .carousel .carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 25%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    text-align: left;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    background: none; }
    .carousel .carousel-caption a {
      display: inline-block;
      cursor: pointer;
      z-index: 10; }
      .carousel .carousel-caption a h2 span, .carousel .carousel-caption a p, .carousel .carousel-caption a p {
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 20px;
        margin: 0 0 10px;
        display: inline-block; }
      .carousel .carousel-caption a:hover h2 span,
      .carousel .carousel-caption a:focus h2 span,
      .carousel .carousel-caption a:hover p,
      .carousel .carousel-caption a:focus p {
        background: #000; }
      .carousel .carousel-caption a h2 {
        margin: 0; }
      .carousel .carousel-caption a p {
        font-size: 1.500rem; }
      .carousel .carousel-caption a .external p:after {
        content: '\f08e';
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin: 0px 0px 0px 10px; }
  .carousel .carousel-caption span.carouselLink {
    display: block; }
  .carousel .carousel-indicators {
    top: 5%;
    bottom: auto; }
    .carousel .carousel-indicators li {
      border: 3px solid #ffffff;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin: 0; }
    .carousel .carousel-indicators .active {
      background: #fff; }
  .carousel #carouselButtons {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 16;
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  .carousel #carouselButtons button {
    border: none;
    color: #006DA5;
    padding: 10px 20px;
    margin: 0 1px; }
    .carousel #carouselButtons button:after {
      content: "";
      background: transparent; }
  .carousel #carouselButtons button:hover,
  .carousel #carouselButtons button:focus {
    background: #000;
    color: #fff; }

@media (max-width: 767px) {
  .carousel {
    display: none; } }

@media screen and (min-width: 767px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    width: 55px;
    height: 55px;
    margin-top: -30px;
    font-size: 2.575rem;
    color: #006DA5;
    border-radius: 50%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.9); }
  .carousel-control:hover .icon-next,
  .carousel-control:focus .icon-next,
  .carousel-control:hover .icon-prev,
  .carousel-control:focus .icon-prev {
    background: #000;
    color: #fff; } }

/*END CAROUSEL BOOTSTRAP*/
.socialBookmarks {
  background: #efefef;
  padding: 20px;
  margin-bottom: 20px; }
  .socialBookmarks h2 {
    margin: 0px;
    font-size: 22px; }
  .socialBookmarks ul {
    display: block;
    list-style: none outside none;
    padding: 0;
    margin: 0px; }
    .socialBookmarks ul li {
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 0; }
      .socialBookmarks ul li a {
        display: block; }
        .socialBookmarks ul li a span {
          display: none;
          height: 0px; }
        .socialBookmarks ul li a.facebook:after, .socialBookmarks ul li a.twitter:after, .socialBookmarks ul li a.youtube:after {
          font-family: FontAwesome;
          font-size: 25px;
          border-radius: 50%;
          border: 1px solid #337ab7;
          width: 42px;
          height: 42px;
          display: block;
          text-align: center;
          padding-top: 3px;
          color: #337ab7; }
        .socialBookmarks ul li a:hover:after {
          background: #337ab7;
          color: #fff;
          text-decoration: none; }
        .socialBookmarks ul li a.facebook:after {
          content: "\f09a"; }
        .socialBookmarks ul li a.twitter:after {
          content: "\f099"; }
        .socialBookmarks ul li a.youtube:after {
          content: "\f167"; }

.sideNav #sideNavBox {
  float: none;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  margin-bottom: 20px; }
  .sideNav #sideNavBox .ms-core-listMenu-verticalBox > .ms-core-listMenu-item, .sideNav #sideNavBox .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
    padding: 15px 10px;
    border-bottom: 1px solid #E0E0E0;
    margin: -1px 1px 0 0;
    color: #006DA5;
    display: block;
    font-weight: normal;
    font-size: 18px; }
    .sideNav #sideNavBox .ms-core-listMenu-verticalBox > .ms-core-listMenu-item.selected, .sideNav #sideNavBox .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item.selected {
      color: '#fff'; }
  .sideNav #sideNavBox .ms-core-listMenu-selected:link, .sideNav #sideNavBox .ms-core-listMenu-selected:visited, .sideNav #sideNavBox .ms-core-listMenu-selected {
    background-color: #133E8D;
    color: #fff; }

ul.blockLinks {
  background: #efefef;
  list-style: none;
  margin: 0px 0 20px 0;
  float: left;
  padding: 0;
  width: 100%; }
  ul.blockLinks li {
    margin: 15px 0; }
  ul.blockLinks a {
    background: #f6f6f6;
    padding: 5px;
    display: block;
    min-height: 50px;
    display: table;
    color: #333;
    width: 100%; }
    ul.blockLinks a img {
      max-width: 100%;
      width: 100%; }
    ul.blockLinks a:hover, ul.blockLinks a:focus {
      background: #3380A4;
      color: #fff;
      text-decoration: none; }
    ul.blockLinks a div {
      min-height: 95px;
      display: table;
      position: relative;
      width: 100%; }
      ul.blockLinks a div span {
        font-weight: bold;
        font-size: 18px;
        padding: 10px 30px 10px 10px;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
      ul.blockLinks a div:After {
        font-family: "Glyphicons Halflings";
        content: "\e080";
        font-size: 20px;
        padding: 0 0px 0 0px;
        position: absolute;
        right: 0px;
        top: 36%;
        color: #89C4E0; }
  @media (max-width: 768px) {
    ul.blockLinks {
      width: 100%; }
      ul.blockLinks a {
        display: block; }
        ul.blockLinks a img {
          display: none; } }

.ms-srch-sb > input {
  width: 100%;
  min-width: 300px;
  margin: 0 -1px 0 0;
  padding-left: 5px;
  min-height: 40px;
  line-height: 2em;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

.ms-srch-sb > .ms-srch-sb-searchLink {
  border: none;
  background: #337ab7;
  color: #fff;
  font-size: 13px;
  position: absolute;
  right: -1px;
  top: 0px;
  width: 60px;
  height: 40px;
  min-height: 40px;
  padding: 0 15px;
  display: block; }

.ms-srch-sb > .ms-srch-sb-searchLink:hover, .ms-srch-sb > .ms-srch-sb-searchLink:focus {
  background: #333;
  text-decoration: none; }

.ms-srch-sb > .ms-srch-sb-searchLink img {
  display: none; }

.ms-srch-sb > .ms-srch-sb-searchLink:before {
  font-family: "Glyphicons Halflings";
  content: "\e003";
  font-size: 25px; }

.ms-srch-sb-border, .ms-srch-sb-border:hover {
  border: none;
  width: 100%; }

#nav-search {
  float: left;
  margin: 10px; }

@media (max-width: 767px) {
  #nav-search {
    position: absolute;
    top: 62px;
    left: 0px;
    background: #bdc3c7;
    padding: 20px 25px 15px 25px;
    margin: 0px;
    height: auto;
    width: 100%;
    z-index: 10;
    display: none; }
    #nav-search.active {
      display: block; }
    #nav-search .input-group {
      margin: 0 !important;
      width: 100%; }
    #nav-search .ms-srch-sb > input {
      min-width: 250px; }
    #nav-search .ms-srch-sb > .ms-srch-sb-searchLink {
      height: 43px;
      min-height: 43px; } }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none; }

h1 {
  font-size: 50px;
  margin: 0.75em 0 0.75em 0; }

h2, h3, h4, h5 {
  margin: 1.2em 0 0.4em 0; }

p, ol, ul {
  margin: 0.75em 0; }

ol, ul {
  padding-left: 1em; }

ul.accordionWP {
  list-style: none;
  padding: 0px;
  margin: 0px 0 1.875em 0;
  border-top: 1px solid #dedede; }
  ul.accordionWP li {
    border-bottom: 1px solid #dedede; }
    ul.accordionWP li h3.accordion {
      margin: 0px;
      font-size: 20px; }
      ul.accordionWP li h3.accordion a {
        display: block;
        padding: 15px 40px 15px 15px;
        position: relative; }
        ul.accordionWP li h3.accordion a:hover, ul.accordionWP li h3.accordion a:focus {
          background: rgba(0, 0, 0, 0.05); }
        ul.accordionWP li h3.accordion a:after {
          font-family: FontAwesome;
          font-size: 18px;
          content: "\f078";
          position: absolute;
          right: 10px; }
      ul.accordionWP li h3.accordion.active a:after {
        content: "\f077"; }
    ul.accordionWP li div div {
      padding: 15px; }
      ul.accordionWP li div div li {
        border: none; }

ul.promo-group {
  padding: 0;
  margin: 0 0 1.875em 0;
  display: inline-block;
  width: 100%;
  background: #EDF2F5;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff; }
  ul.promo-group li {
    width: 20%;
    float: left;
    background: #EDF2F5;
    list-style: none;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    ul.promo-group li h2 {
      padding: 0.5em; }
    ul.promo-group li a {
      padding: 20px;
      display: inline-block;
      background: #EDF2F5;
      width: 100%;
      color: #216486;
      font-size: 1.313em;
      position: relative; }
      ul.promo-group li a img {
        max-width: 100%;
        width: 100%;
        margin: 0 0 0.4em 0; }
      ul.promo-group li a:hover {
        text-decoration: none;
        background: #216486;
        color: #fff;
        border-color: #212d3a; }
        ul.promo-group li a:hover p {
          color: #fff; }
      ul.promo-group li a h3 {
        margin: 0 0 0.4em;
        font-weight: 600;
        font-size: 1em; }
      ul.promo-group li a p {
        color: #666666;
        font-size: 0.7em;
        margin: 0; }
    ul.promo-group li ul {
      padding: 1em 1.5em;
      border-top: 1px solid #fff; }
      ul.promo-group li ul li {
        width: 100%;
        float: none;
        border: none !important; }
        ul.promo-group li ul li a {
          font-size: 0.875em;
          font-weight: 400;
          padding: 0 0 0 1em;
          margin-bottom: 0.75em;
          color: #444444;
          border: none !important;
          background: transparent; }
          ul.promo-group li ul li a.more {
            color: #216486;
            margin-bottom: 0; }
          ul.promo-group li ul li a:hover {
            background: transparent !important;
            text-decoration: underline !important;
            color: #216486 !important; }
          ul.promo-group li ul li a:before {
            content: '\f105';
            font-family: FontAwesome;
            top: 0px;
            left: 0px;
            position: absolute; }

.col-md-8 ul.promo-group li {
  width: 33.3%; }

@media (max-width: 1300px) {
  ul.promo-group li {
    width: 25%; } }

@media (max-width: 990px) {
  ul.promo-group li, .col-md-8 ul.promo-group li {
    width: 50%; }
    ul.promo-group li h2, .col-md-8 ul.promo-group li h2 {
      margin-top: 0px;
      padding: 20px 0;
      font-size: 1.3em; }
      ul.promo-group li h2 span, .col-md-8 ul.promo-group li h2 span {
        display: inline-block;
        font-weight: 700;
        font-size: 1em; }
    ul.promo-group li a, .col-md-8 ul.promo-group li a {
      padding: 20px;
      position: relative;
      height: 100%; }
      ul.promo-group li a img, .col-md-8 ul.promo-group li a img {
        display: none; }
      ul.promo-group li a.jump-to, .col-md-8 ul.promo-group li a.jump-to {
        display: none; }
      ul.promo-group li a h3, .col-md-8 ul.promo-group li a h3 {
        min-height: 0px;
        font-size: 0.9em; }
        ul.promo-group li a h3:after, .col-md-8 ul.promo-group li a h3:after {
          content: '\f105';
          font-family: FontAwesome;
          position: absolute;
          top: 40%;
          right: 10px; }
    ul.promo-group li ul, .col-md-8 ul.promo-group li ul {
      display: none; } }

@media (max-width: 600px) {
  ul.promo-group li, .col-md-8 ul.promo-group li {
    width: 100%; } }

.alert {
  padding: 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  color: #fff; }
  .alert .container-fluid {
    position: relative;
    padding: 25px 25px 25px 80px; }
    .alert .container-fluid::before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      border: none;
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 50px;
      color: #fff; }
  .alert.alert-warning {
    background: #f4d313; }
    .alert.alert-warning .container-fluid::before {
      content: '\f071'; }
  .alert.alert-info {
    background: #5dade2; }
    .alert.alert-info .container-fluid::before {
      content: '\f0a1'; }
  .alert.alert-success {
    background: #58d68d; }
    .alert.alert-success .container-fluid::before {
      content: '\f087'; }
  .alert.alert-danger {
    background: #ec7063; }
    .alert.alert-danger .container-fluid::before {
      content: '\f256'; }
  .alert .close {
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .alert h2 {
    margin-top: 0px; }
  .alert .btn-default {
    border-color: white;
    background: rgba(255, 255, 255, 0);
    position: relative;
    padding-right: 55px;
    font-weight: bold;
    color: #fff; }
    .alert .btn-default:after {
      font-family: FontAwesome;
      font-size: 18px;
      line-height: 2.8em;
      content: "\f105";
      position: absolute;
      right: 0px;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      padding: 0 13px;
      top: 0px; }
    .alert .btn-default:hover {
      background: rgba(0, 0, 0, 0.5);
      border-color: transparent; }

.sectionOne .container-fluid {
  background: #fff; }

.logo {
  height: 150px;
  width: 400px;
  background: url(../../img/adopt4leeds/logo.png) center center no-repeat;
  background-size: 100%; }
  @media (max-width: 767px) {
    .logo {
      height: 100px; } }

.ms-srch-sb > .ms-srch-sb-searchLink {
  background: #618CB7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #618CB7 0%, #32567B 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #618CB7), color-stop(100%, #32567B));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #618CB7 0%, #32567B 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #618CB7 0%, #32567B 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #618CB7 0%, #32567B 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #618CB7 0%, #32567B 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.ms-srch-sb > input {
  background: #f6f6f6; }

@media (min-width: 678px) {
  .main-nav ul {
    padding: 7px  0 0 0;
    margin-left: 0px; }
    .main-nav ul li a {
      background: #CA214D;
      /* Old browsers */
      background: -moz-linear-gradient(top, #CA214D 0%, #AA1C40 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CA214D), color-stop(100%, #AA1C40));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #CA214D 0%, #AA1C40 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #CA214D 0%, #AA1C40 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #CA214D 0%, #AA1C40 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #CA214D 0%, #AA1C40 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .main-nav ul li a:hover, .main-nav ul li a:focus {
        background: #941838 !important; }
    .main-nav ul li ul {
      background: #941838; }
      .main-nav ul li ul li, .main-nav ul li ul li:first-of-type {
        border-color: #7e1530; }
      .main-nav ul li ul a {
        background: #941838 !important; }
        .main-nav ul li ul a:hover, .main-nav ul li ul a:focus {
          background: #7e1530 !important; } }

ul.menu li a.main-menu {
  background: #AA1C40; }
  ul.menu li a.main-menu:hover, ul.menu li a.main-menu:focus, ul.menu li a.main-menu.active {
    background: #941838; }

@media (max-width: 767px) {
  #main-menu {
    background: #bc1f47; }
    #main-menu .container {
      background: #bc1f47; } }

footer.main {
  background: none;
  color: #333;
  padding: 0px; }
  footer.main .container-fluid {
    background: #D5DBE1; }
  footer.main .footerGlobal {
    background: none; }
    footer.main .footerGlobal .container {
      padding: 0 25px;
      background: #c6ced6; }
