{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	What happens if you don't pay your council tax: Court summons
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    What happens if you don't pay your council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/what-happens-if-you-dont-pay.html">What happens if you don't pay your council tax</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Court summons</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/what-happens-if-you-dont-pay.html">Overview</a></li>
            <li>Court summons</li>
            <li><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/liability-order-issued.html">Liability order issued</a></li>
        </ol>
    </nav>
</aside>

<div class="part-content">
    <h1 class="part-title">2. Court summons</h1>
    <p class="lead">If you don't pay your council tax or don't keep to an agreement to pay, we will issue you with a court summons</p>
    <p>If you have received a summons, call us straight away to discuss the outstanding debt with one of our advisors on:</p>
    <div class="text-block">
        <p>0113 376 0362 <br><span class="font-xsmall">(Monday to Thursday, 9am to 5pm and Friday 9am to 4:30pm)</p>
    </div>
    <p>or email us at</p> 
    <div class="text-block">
        <a href="ctax.recovery@leeds.gov.uk">ctax.recovery@leeds.gov.uk</a> 
    </div>
    <p>or visit any of our <a href="#">One Stop Centres</a>.</p>
    <p>If you do not arrange to make full payment including costs, a <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/liability-order-issued.html">liability order</a> issued by the magistrate’s court will allow us to use <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/liability-order-issued.html">other means to recover the debt</a>.</p>

    <h2 class="heading-medium">Do I have to go to court to attend the hearing?</h2>
    <p>Most of the time, it’s not necessary to go to court. Over the phone we will try to agree a special payment arrangement, check your entitlement to benefits and investigate any unresolved query.</p>
    <p>Likewise, if you feel you have a valid defence against a liability order being issued, we can also discuss this over the phone without you needing to attend court. </p>
    <div class="panel">
        <p>The only valid legal defences against a liability order are:</p>
        <ul class="list list-bullet bottom">
            <li>the council has not followed the procedures set down in law when trying to collect your council tax, or</li>
            <li class="bottom">you have paid all the overdue council tax within the time limit given on the last reminder or final notice sent to you</li>
        </ul>
    </div>
    <p>If you believe you have a valid defence against a liability order please contact us straight away so that we can look into the matter. We may then withdraw the summons and tell you that you do not need to come to court.</p>

    <h2 class="heading-medium">How do I pay the amount shown on the summons?</h2>
    <a href="#">How to pay your council tax</a>

</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__previous-page">
        <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html" rel="prev">
          <span class="pagination-nav__part-title">Previous</span>
          <span class="pagination-nav__label">Overview</span>
        </a>
      </li>
      <li class="pagination-nav__next-page">
        <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Liability order issued</span>
        </a>
      </li>
      <div style="clear:both"></div>
  </ul>
</nav>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax.html" title="" id="">Problems paying your council tax</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}