{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	What happens if you don't pay your council tax: Liability order issued
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    What happens if you don't pay your council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/what-happens-if-you-dont-pay.html">What happens if you don't pay your council tax</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Liability order issued</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/what-happens-if-you-dont-pay.html">Overview</a></li>
            <li><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html">Court summons</a></li>
            <li>Liability order issued</li>
        </ol>
    </nav>
</aside>

<div class="part-content">
    <h1 class="part-title">3. Liability order issued</h1>
    <p class="lead">Once a liability order has been issued, there are various options we can use to recover money that is owed.</p>

    <h2 class="heading-medium">Financial information forms</h2>
    <p>Once a liability order has been issued by the court, you are legally obliged to provide us with details of your finances. We will send you a financial information form to complete unless we already have your details or we have agreed a payment arrangement.</p>
    <p>You must complete and return this form within 14 days. If you don’t, or if you provide false information, you could be fined and you may end up with a criminal record.</p>
    <p>If you’re having any problems completing the form or are unable to complete it in time, please let us know.</p>
    
    <div class="panel">
            <h2>Contact us</h2>
            <p><strong>Phone</strong></p>
                <div class="text-block">
                    0113 376 0362<br/>
                    (Monday to Thursday, 9am to 5pm and Friday 9am to 4:30pm)
                </div>
            <p><strong>Email</strong></p>
                <div class="text-block">
                    <a href="mailto:ctax.recovery@leeds.gov.uk">ctax.recovery@leeds.gov.uk</a>
                </div>
            <p><strong>In person</strong></p> 
                <div class="text-block">
                        Visit any of our <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centres</a>    
                </div>                    
        </div>  

    <h2 class="heading-medium">Attachment of earnings and attachment of benefits orders</h2>
    <p>An “attachment” means that an order will be sent to your employer or to the Department of Work and Pensions to have money  taken directly from your pay or benefits. We will not cancel these attachments once they are set up unless you can prove they are causing you severe financial difficulties.</p>
    <p>If you are experiencing severe financial difficulties you must bring original documents showing your income and outgoings to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a>. The documents must include: bank statements, bills and mortgage statements if you have a mortgage.</p>
    <p>You need to demonstrate that after you have paid your essential bills, the attachment(s) will mean that you do not have enough money left to live on. If we agree that the attachment(s) would cause you to have  severe financial difficulties then we will make alternative arrangements.</p>

    <h2 class="heading-medium">Enforcement agents</h2>
    <p>We can send enforcement agents (formerly known as bailiffs) to your home to seize property to raise money towards paying your council tax debt and our recovery costs. We will only use them if you ignore all our attempts to contact you and there is no other way of collecting the money that is owed. At least 14 days before we send your council tax debt to an enforcement agency, we will send you a letter asking you to contact us or pay the bill in full.</p>
    <p>Once your case is sent to the enforcement agents you will have to pay an initial fee of £75 per liability order. A further charge of at least £235 will be charged to you if the agent has to visit.</p>
    <p>In most cases we will not become involved in  payment negotiations and you must contact the enforcement agents directly. At this stage, you have no right to insist on a payment arrangement but an enforcement agency may agree to one in exceptional circumstances.</p>

    <h3 class="small">Enforcement agencies used by Leeds City Council</h3>
    <p>We currently use four enforcement agencies to collect council tax debts:</p>
    <ul class="list list-bullet">
        <li><a href="https://www.rossendales.com/contact-rossendales/" rel="external">Rossendales</a></li>
        <li><a href="https://www.jacobsenforcement.com/contact" rel="external">Jacobs</a></li>
        <li><a href="https://marstongroup.co.uk/customer-support/contact-us/" rel="external">Marston</a></li>
        <li><a href="https://equita.co.uk/contact-us/" rel="external">Equita</a></li>
    </ul>
    <p>The agents they employ hold a court certificate and are trained to behave in a professional manner. They must always carry their identity card when working.</p>

    <div role="note" aria-label="Information" class="text-highlight">    
        <p>If you need to make us aware that you are a vulnerable adult, or are concerned that an enforcement agent is not acting professionally, you can ring us on 0113 376 0362 (Monday to Thursday, 9am to 5pm and Friday 9am to 4:30pm) and we will discuss the matter with you. </p>
    </div>

    <h2 class="heading-medium">Charging orders</h2>
    <p>If you owe at least £1,000 for council tax and own your own home, we can ask the court for a charging order. Having a charging order on your property  means that when it is sold you will need to pay your council tax debt and any legal costs before any of the proceeds from the sale are given to you.</p>

    <h2 class="heading-medium">Bankruptcy</h2>
    <p>If you owe council tax of £5,000 or more, we may decide to take bankruptcy action against you. If we do, we will write to you first with details of your debt and explain how bankruptcy will affect you. </p>
    <p>The consequences of bankruptcy can be severe. The <a href="https://www.gov.uk/being-made-bankrupt" rel="external">Insolvency Service</a> has information and advice about being made bankrupt.</p>
   
    <h2 class="heading-medium">Committal to prison</h2>
    <p>We can apply to the court for you to appear before them if enforcement agents have not been able to collect your council tax debt and we have tried all other suitable actions to obtain payment. The court will ask you to explain why you should not be sent to prison for not paying your council tax.</p>


</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__previous-page">
        <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html" rel="prev">
          <span class="pagination-nav__part-title">Previous</span>
          <span class="pagination-nav__label">Court summons</span>
        </a>
      </li>
      <div style="clear:both"></div>
  </ul>
</nav>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax.html" title="" id="">Problems paying your council tax</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}