{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	What happens if you don't pay your council tax: Overview
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    What happens if you don't pay your council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>What happens if you don't pay your council tax</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li>Overview</li>
            <li><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html">Court summons</a></li>
            <li><a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/liability-order-issued.html">Liability order issued</a></li>
        </ol>
    </nav>
</aside>

<div class="part-content">
    <h1 class="part-title">1. Overview</h1>
    <p class="lead">This is the legal process we follow if you don't pay your council tax, including reminders and court proceedings.</p>
    <h2 class="heading-medium">Reminder</h2>
    <p>If you are behind with your council tax payments we will post a reminder to you. If you arrange to <a href="/pages-lcc/council-tax/pay-your-council-tax/how-to-pay-your-council-tax.html">pay the outstanding amount</a> and keep up to date with your payments, we won’t take any further action. If you ignore the reminder, we will apply to court for a summons.</p>
    <p>Please <a href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax.html">get in touch with us if you are having difficulty paying</a>.</p>
    
       
    <h2 class="heading-medium">Court summons</h2>
    <p>If you receive a <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html">court summons</a>, this means that we have applied to the magistrates’ court for the legal power to take further action against you to recover unpaid council tax. At the hearing we will ask the court to grant us a <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/liability-order-issued.html">liability order</a>. This will allow us to recover your council tax debt in a variety of ways.</p>
    <h2 class="heading-medium">What we can do after a court hearing</h2>

    <p>If you don’t pay in full, a <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/liability-order-issued.html">liability order</a> gives us the power to:</p>
    <ul class="list list-bullet">
        <li>request information from you about your finances</li> 
        <li>directly deduct money from your wages or benefits</li>
        <li>use enforcement agents to collect the debt</li>
        <li>apply to make you bankrupt</li>
        <li>place a charging order on your property so that when the property is sold you will have to pay that debt off first before any of the proceeds are given to you</li>
        <li>ask the court to send you to prison</li>
    </ul>

</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__next-page">
        <a href="/pages-lcc/council-tax/what-happens-if-you-dont-pay/court-summons.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Court summons</span>
        </a>
      </li>
      <div style="clear:both"></div>
  </ul>
</nav>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/pay-your-council-tax/problems-paying-your-council-tax.html" title="" id="">Problems paying your council tax</a></li>	        	    
            <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}