{% extends "page-layout-styleguide.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
  <script src="https://use.typekit.net/pws7qio.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}

<!--<div class="lcc-digital-header">
    <div class="container-fluid">
        <div class="row">
            <div class ="col-lg-12">
                <h1>Welcome to LCC DIGITAL</h1>
                <p>Here you will find all our patterns and features available to all Leeds City Council's sites and applications</p>
            </div>
        </div>
    </div>
</div>

<div class="hero-lcc-wrapper">
    <div class="hero-lcc">
        <div class="hero-lcc__content">
            <div class="hero-lcc__intro">
                <h1 class="hero-lcc__intro-header"><span>Welcome to </span>LCC DIGITAL</h1>
                <h2 class="hero-lcc__intro-secondary">How can we help you today?</h2>
            </div>
            <div class="hero-lcc__actions">
                <div class="hero-lcc__most-popular-wrapper">
                    <ul class="hero-lcc__most-popular two">
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-green btn-arrow">Check your bin day</a></li>
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-green btn-arrow">Online payments</a></li>
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-green btn-arrow">Apply for a primary school</a></li>
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-green btn-arrow">Roadworks and closures</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->

{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}
<div class="intro">
<h1><span>WELCOME TO </span>LCC DIGITAL</h1>
    <p class="lead">Here you will find all our patterns and features available to all LEEDS.GOV.UK sites and applications</p>
    <div class="btn-inline">
        <a class="btn btn-primary btn-arrow" href="/design-system/styleguide.html">Style guide and design patterns</a>
    </div>
</div>

{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reusablecontent_footer %}
     {% include "includes/footer-styleguide.html" %}
 {% endblock %}