<!-- THIS PAGE LAYOUT HAS BEEN CREATED TESTING, FOR IT'S EXACTLY THE SAME IN FRONTEND TOOLKIT -->
{% extends "master-page-design-system.html" %}{% block body_content %}
{% block sectionOneTop %}{% endblock %}
<!-- main nav -->
<nav id="main-menu" class="main-nav" role="navigation">
    <div class="container-fluid">
        <!-- sharepoint nav -->
        <div data-name="main_nav">
        {% block main_nav %}{% endblock %}
        </div>
        <!--/.sharepoint nav -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.main-menu -->

<section id="main" class="sectionOne">
    <div class="container-fluid">
        <div class="row">
                <aside class="col-sm-3 col-md-2 design-system-menu">
                    {% block sectionLeftHandColumn %}{% endblock %}
                </aside>
                <div class="col-sm-9 col-md-10 design-system-content">
                    {% block sectionOneRightContent %}{% endblock %}
                </div>
           </div>
    </div>         
</section>

{% endblock %}