{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Sorry server page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Website unavailable
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}

 {% endblock %}

{% block sectionOneContent %}

<div class="text">

<div class="alert-wrapper" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="alert alert-info" role="alert">
    <div class="container-fluid">
      <div class="alertInner">
        <h2>Sorry, this website is currently temporarily unavailable.</h2>
        <p>This is to allow us to make improvements and carry out essential maintenance work, we are sorry for the inconvenience this may cause.</p>
      </div>
    </div>
  </div>
</div>

<h2 class="heading-medium">Emergency contact details</h2><p>Please note the numbers listed below are for emergency situations only.</p>
<div role="note" aria-label="Information" class="text-highlight">
    <p>If you feel that a child is immediately at risk of harm please dial 999 and ask for the police.</p>
</div>
<ul class="list list-bullet"><li>Adult Social Care Emergency Duty Team 07712 106378. <br></li>
<li>Emergency repairs for non- council buildings and highways 0113 376 0499</li>
<li>Noise nuisance outside office hours 0113 242 5841</li>
<li> you have nowhere safe to stay tonight and it is outside of our opening hours please call our emergency duty service on 07891273939</li>
</ul>

<h2 class="heading-medium">Council housing emergency repairs</h2>
<p>Housing Leeds 0800 188 4000 (free from a land line) / 0113 376 0410 - Customers with hearing or speech impairments can email <a href="mailto:lccoutofhours@leeds.gov.uk">lccoutofhours@leeds.gov.uk</a> - The out of hours team will aim to respond to your email within one hour. </p>
<p>Belle Isle Tenant Management Organisation 0113 378 2188 - Deaf customers with a text phone can access the same services 24/7 by  typing 18001 before the 0800 number. </p>

<h2 class="heading-medium">Health services</h2>
<p>You can use the <a href="http://www.nhs.uk/service-search">NHS Choices website</a> to search for doctors, dentists, hospitals and pharmacies in your local area.
The website includes maps and directions of how to find each service by road or by public transport.</p>
    
<h2 class="heading-medium">MyLeeds customer account</h2>
<p>You can still use your MyLeeds account to report <a href="https://my.leeds.gov.uk/Pages/KnowledgeBase/Parkingroadandtravel.aspx">roads, footpath and pavement issues</a> and <a href="https://my.leeds.gov.uk/Pages/KnowledgeBase/EnviornmentalIssues.aspx">environmental issues</a> such as reporting a pothole, a lost dog, litter, fly-tipping, vandalism or access being blocked on a pavement etc.</p>    

<h2 class="heading-medium">You can also: </h2>
<ul class="list list-bullet">
<li> access our <a href="https://jobs.leeds.gov.uk/Index.aspx?ReturnUrl=/jobs.aspx"> job vacancies  </a>  and <a href="http://news.leeds.gov.uk/"> newsroom  </a> sites;   </li>
<li> obtain advice on  <a href="http://www.planningportal.gov.uk/planning/applications/planningapplications"> how to make a planning application</a>;</li>
<li> report a <a href="http://www.lightsoninleeds.co.uk/Public/ReportFault.aspx"> street lighting problem</a>, and    </li>
<li> <a href="https://www.gov.uk/register-to-vote"> register to vote </a> .    </li>
</ul>

<h2 class="heading-medium">Money Information Centre (MIC)</h2>
<p>While we are unable to direct you to a variety of agencies in Leeds that can help with debt and money advice,
we suggest in the interim you visit <a href="http://www.leedscab.org.uk">www.leedscab.org.uk</a> and <a href="http://www.stepchange.org">www.stepchange.org</a>.</p>

<h2 class="heading-medium">Leisure</h2>
<p>You can still <a href="https://sport.leeds.gov.uk/onlinebookings">book your sports and active lifestyles activities on-line</a> and make bookings for performances at the 
<a href="http://purchase.tickets.com/buy/TicketPurchase?agency=LEEDSINT&amp;organ_val=21996">Carriageworks theatre, Leeds International Concert Season and Leeds Town Hall</a>.</p>
<p>You can also search our <a href="http://capitadiscovery.co.uk/leeds/">library catalogue</a> and if you're a member, <a href="https://capitadiscovery.co.uk/leeds/login">renew or reserve a library book</a>. </p>

<h2 class="heading-medium">Local travel information</h2>
<ul class="list list-bullet"><li><a href="http://www.leedstravel.info/">Leeds travel information</a></li> 
<li><a href="http://www.wymetro.com/BusTravel/">Bus travel</a></li>
<li><a href="http://www.wymetro.com/TrainTravel/">Rail travel</a></li> 
<li><a href="http://www.lbia.co.uk/">Leeds Bradford International Airport</a></li></ul>

<h2 class="heading-medium">Other useful organisations</h2>
<ul class="list list-bullet"><li><a href="http://www.yorkshirewater.com/">Yorkshire Water</a></li>
<li><a href="http://www.nationalgrid.com/uk/Gas/">National Grid - Gas</a> - For gas emergencies and reporting leaks</li>
<li><a href="http://www.samaritans.org.uk/">Samaritans</a> - Confidential emotional support line.</li>
<li><a href="http://www.adviceguide.org.uk/">Citizen's advice bureau</a> - Free and impartial advice to help you resolve legal, money and other problems.</li></ul>

<p>Apologies for any inconvenience caused.
<a href="mailto:webmaster@leeds.gov.uk">webmaster@leeds.gov.uk</a></p>

</div>
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}