<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand</span>Item one</a>
            <div style="display: none;" class="content-block">
                <p>Here's where the content goes, this is a <a href="#">hyperlink</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand</span>Item two</a>
            <div style="display: none;" class="content-block">
                <p>An accordion item with a list:</p>
                <ul class="list list-bullet">
                    <li>List item one</li>
                    <li>List item one</li>
                </ul>
            </div>
        </div>
    </li>
</ul>
