<ul class="promo-group">
    <li><a href="typography.html"><h3>Typography</h3><p>Headings, body text, links, lists, inset text, hidden text.</p></a></li>
    <li><a href="colour.html"><h3>Colour</h3><p>Colour contrast, Sass variables, colour palettes.</p></a></li>
    <li><a href="typography.html"><h3>Typography</h3><p>Headings, body text, links, lists, inset text, hidden text.</p></a></li>
    <li><a href="colour.html"><h3>Colour</h3><p>Colour contrast, Sass variables, colour palettes.</p></a></li>
    <li><a href="typography.html"><h3>Typography</h3><p>Headings, body text, links, lists, inset text, hidden text.</p></a></li>
    <li><a href="colour.html"><h3>Colour</h3><p>Colour contrast, Sass variables, colour palettes.</p></a></li>
</ul>