<div class="hero-lcc-wrapper" style="background-image: url(/public/images/leeds-dock-2000x1125.jpg)">
    <div class="hero-lcc">
        <div class="hero-lcc__content">
            <div class="hero-lcc__intro">
                <h1 class="hero-lcc__intro-header"><span>Welcome to </span>LEEDS.GOV.UK</h1>
                <h2 class="hero-lcc__intro-secondary">How can we help you today?</h2>
            </div>
            <div class="hero-lcc__actions">
                <div class="hero-lcc__search-wrapper">
                    <div class="input-group">
                        <label class="sr-only" for="site-search">Search the website</label>
                        <input type="text" class="form-control" placeholder="Find information, advice and more" id="site-search">
                        <span class="input-group-btn">
                            <button class="btn" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="hero-lcc__most-popular-wrapper">
                    <ul class="hero-lcc__most-popular">
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-secondary btn-arrow">Most popular 1</a></li>
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-secondary btn-arrow">Most popular 2</a></li>
                        <li class="hero-lcc__most-popular-item"><a href="#" class="btn btn-secondary btn-arrow">Most popular 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>