<div class="groupPromo default home">
  <div class="listWebpart">
    <h2>
    </h2>
    <ul>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf">
            Link item one <span> this is some span text</span></a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Managing%20your%20Out%20of%20Office%20assistant.pdf" >
                Link item two with a longer intro</a>
      </li>
      <li>
        <a class="equal-item" href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc">
       Link item three</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx" >
          Link item four</a>
      </li>
      <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" >
          Link item five</a>
      </li>
            <li>
        <a class="equal-item" href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc" >
          Link item six with a class of arrow</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx">
        Link item seven with a class of arrow</a>
      </li>
      <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" >
         Link item eight with a class of arrow</a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>