<dl class="list list-definition">
    <dt id="heading-1" class="list-definition__heading">Heading 1</dt>
    <dd role="definition" aria-labelledby="heading-1" class="list-definition__content">Content</dd>
    <dt id="heading-2" class="list-definition__heading">Heading 2</dt>
    <dd role="definition" aria-labelledby="heading-2" class="list-definition__content">Content</dd>
    <dt id="heading-3" class="list-definition__heading">Heading 3</dt>
    <dd role="definition" aria-labelledby="heading-3" class="list-definition__content">Content</dd>
    <dt id="heading-4" class="list-definition__heading">Heading 4</dt>
    <dd role="definition" aria-labelledby="heading-4" class="list-definition__content">Content</dd>
    <div style="clear:both"></div>
</dl>