<dl class="list list-definition">
    <dt class="list-definition__heading">Heading 1</dt>
    <dd class="list-definition__content">Content</dd>
    <dt class="list-definition__heading">Heading 2</dt>
    <dd class="list-definition__content">Content</dd>
    <dt class="list-definition__heading">Heading 3</dt>
    <dd class="list-definition__content">Content</dd>
    <dt class="list-definition__heading">Heading 4</dt>
    <dd class="list-definition__content">Content</dd>
    <div style="clear:both"></div>
</dl>