<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
    <div class="">
        <ul>
            <li class="two heightTwo">
                <a style="background: url(/public/images/ageOfGlamourLG.jpg) no-repeat" href="/design-patterns-pages/styleguide.html"><span class="info">Styleguide<span class="secondaryInfo">See how to add content to LEEDS.GOV.UK</span> <span class="arrow"></span></span><span class="thirdInfo">Guidelines</span></a>
            </li>  
            <li class="two">
                <a style="background: url(/public/images/Light-Night-730x370px.jpg) no-repeat" href="/design-patterns-pages/styleguide.html"><span class="info"> My Case, My Journey   <span class="secondaryInfo">9th march</span> <span class="arrow"></span></span><span class="thirdInfo">Article</span></a>
            </li> 
            <li class="two">
                <a style="background: url(/public/images/Light-Night-730x370px.jpg) no-repeat" href="/design-patterns-pages/styleguide.html"><span class="info"> My Case, My Journey   <span class="secondaryInfo">9th march</span> <span class="arrow"></span></span><span class="thirdInfo">Article</span></a>
            </li>
            <li class="two">
                <a style="background: url(/public/images/Light-Night-730x370px.jpg) no-repeat" href="/design-patterns-pages/styleguide.html"><span class="info"> My Case, My Journey   <span class="secondaryInfo">9th march</span> <span class="arrow"></span></span><span class="thirdInfo">Article</span></a>
            </li>
            <li class="two">
                <a style="background: url(/public/images/Light-Night-730x370px.jpg) no-repeat" href="/design-patterns-pages/styleguide.html"><span class="info"> My Case, My Journey   <span class="secondaryInfo">9th march</span> <span class="arrow"></span></span><span class="thirdInfo">Article</span></a>
            </li>
        </ul>
    </div>
</div>