<aside class="side-nav" role="complementary">
      <h2 class="side-nav__header">Council Tax</h2>
      <nav role="navigation">
        <ul class="list list-contents">
            <li>
                <a href="#">Council Tax bands and charges</a>
            </li>
            <li>
                <a href="#">Changes in circumstamnces</a>
            </li>
            <li>
                <a href="#">Other ways to pay your Council Tax</a>
            </li>
            <li>
                <a href="#">Pay Council Tax by direct debit</a>
            </li>
            <li class="side-nav__more">
                <a href="#">More <span class="sr-only">in Council Tax</span></a>            
            </li>
        </ul>
      </nav>
      <h2 class="side-nav__header">Benefits &amp; support</h2>
      <nav role="navigation">
        <ul class="list list-contents">
            <li>
                <a href="#">Benefits payment dates</a>
            </li>
            <li class="side-nav__more">
                <a href="#">More <span class="sr-only">in Benefits</span></a>            
            </li>
        </ul>
      </nav>
      <h2 class="side-nav__header">Elsewhere on LEEDS.GOV.UK</h2>
      <nav role="navigation">
        <ul class="list list-contents">
            <li>
                <a href="#">A link to another page</a>
            </li>
        </ul>
      </nav>
  </aside>