<!--the aside will on the page layout - right hand column-->
    <nav role="navigation">
        <div class="sideNav">
            <h3>Council Tax</h3> 	    	
            <ul class="nav">	        	    
                <li>                   
                    <a class="item" href="#" title="" id="">Side Nav First Item</a>                                                      
                </li>
                <li>                   
                    <a class="item" href="#" title="" id="">Side Nav Second Item</a>                                                      
                </li>
                <li>                   
                    <a class="item" href="#" title="" id="">Side Nav Third Item</a>                                                      
                </li> 
                <li class="sideNav__more">
                    <a href="/pages-lcc/service-page-example.html">More <span class="sr-only">in Council Tax</span></a>            
                </li>                                                            	        
            </ul>	    
        </div>
    </nav>
    <nav role="navigation">
        <div class="sideNav">
            <h3>Benefits & support</h3> 	    	
            <ul class="nav">	        	    
                <li>                   
                    <a class="item" href="#" title="" id="">Side Nav First Item</a>                                                      
                </li>
                <li>                   
                    <a class="item" href="#" title="" id="">Side Nav Second Item</a>                                                      
                </li>
                <li class="sideNav__more">
                    <a href="/pages-lcc/service-page-example.html">More <span class="sr-only">in Benefits</span></a>            
                </li>                                                            	        
            </ul>	    
        </div>
    </nav>
    <nav role="navigation">
        <div class="sideNav">
            <h3>Elsewhere on LEEDS.GOV.UK</h3> 	    	
            <ul class="nav">	        	    
                <li>                   
                    <a class="item" href="#" title="" id="">Side Nav First Item</a>                                                      
                </li>                                                        	        
            </ul>	    
        </div>
    </nav>