<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Grid
            <p class="text-description">This is the grid description</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="#">Related link</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Design elements
            <p class="text-description">Colours, Typography, Icons, Images, Logo</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="colour.html">Colours</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="colour.html">Icons</a></li>
                    <li><a href="typography.html">Images</a></li>
                    <li><a href="logo.html">Logo</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Navigation
            <p class="text-description">Colour, typography</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="colour.html">Colours</a></li>
                    <li><a href="typography.html">Typography</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Components
            <p class="text-description">This is the components description</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="#">Related link</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>