<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand</span>Design elements
            <p class="text-description">Buttons, colours, data, icons, images, videos and typography</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="design-elements/buttons.html">Buttons</a></li>
                    <li><a href="design-elements/colour.html">Colours</a></li>
                    <li><a href="design-elements/data.html">Data</a></li>
                    <li><a href="design-elements/icons-and-images.html">Icons, images and videos</a></li>
                    <li><a href="design-elements/form-elements.html">Form elements</a></li>
                    <!--<li><a href="#">Logo</a></li>-->
                    <li><a href="design-elements/typography.html">Typography</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand</span>Components (webparts)
            <p class="text-description">Accordion, alerts, carousel, news, promos and more</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="components/accordion.html">Accordion (Concertina)</a></li>
                    <li><a href="components/alerts">Alerts</a></li>
                    <li><a href="components/carousel.html">Carousel</a></li>
                    <li><a href="components/doclist.html">Document list</a></li>
                    <li><a href="components/heroBanner.html">Hero banner</a></li>
                    <li><a href="components/iconLinks.html">Icon links</a></li>
                    <li><a href="components/accessible-player.html">Media player</a></li>
                    <li><a href="components/news.html">News</a></li>
                    <li><a href="components/mega-promo.html">Mega promo</a></li>
                    <li><a href="components/promoList.html">Promo list</a></li>
                    <li><a href="components/group-promo.html">Group promos</a></li>
                </ul>
            </div>
        </div>
    </li>
    <!--<li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand</span>Navigation
            <p class="text-description">Footer, header, pagination, secondary nav and section nav</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="#">Footer</a></li>
                    <li><a href="#">Header</a></li>
                    <li><a href="#">Pagination</a></li>
                    <li><a href="#">Secondary Nav</a></li>
                    <li><a href="#">Section Nav</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand</span>Layout
            <p class="text-description">Master pages and page layouts</p></a>
            <div style="display: none;" class="content-block">
                <ul class="list">
                    <li><a href="#">Master pages</a></li>
                    <li><a href="#">Page layouts</a></li>
                </ul>
            </div>
        </div>
    </li>-->
</ul>
