{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Manage your council tax online
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Manage your council tax online
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Manage your council tax online</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li>What you can do</li>
            <li><a href="/pages-lcc/council-tax/manage-your-council-tax-online/register-to-manage-your-council-tax-online.html">Register</a><span class="sr-only"> to manage your council tax online</span></li>
            <li><a href="/pages-lcc/council-tax/manage-your-council-tax-online/sign-in-to-manage-your-council-tax-online.html">Sign in</a><span class="sr-only"> to manage your council tax online</span></li>
        </ol>
    </nav>
</aside>

<div class="text">  
    <h2>1. What you can do</h2>
    <p class="lead">Managing your council tax online is quick and easy. Register to access your account online and take advantage of the full range of services available.</p> 
    <h3>You need to register to:</h3>
    <ul class="list list-bullet">
        <li>check your balance</li>
        <li>see what payments have been received</li>
        <li>check what your instalments are</li>
        <li>choose to receive your bill by email (e-billing)</li>
    </ul>
    
    <h3>You don't need to register to:</h3>    
    <ul class="list list-bullet">
        <li><a href="https://payments.leeds.gov.uk/ePayments/ctax.aspx">pay by debit card</a></li>
        <li><a href="https://youraccount.leeds.gov.uk/publicaccesslive/selfservice/services/directdebit.htm;jsessionid=8AEEF69CDCBDD4591104468F335858EB?_flowId=services%2Fdirectdebit&_flowExecutionKey=e1s1">set up or change an existing direct debit</a></li>
        <li><a href="/pages-lcc/council-tax/report-a-change/report-a-change-of-address.html">tell us about a change of address</a></li>
    </ul>    
    <div role="note" aria-label="Information" class="text-highlight">
        <p>If you receive housing benefits, Council Tax Support or free school meals you will need to use a different form to <a href="/pages-lcc/council-tax/report-a-change/report-a-change-of-address.html#second">tell us about a change of address</a>.</p>
    </div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__next-page">
        <a href="/pages-lcc/council-tax/manage-your-council-tax-online/register-to-manage-your-council-tax-online" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Register</span>
        </a>
      </li>
      <div style="clear:both"></div>
  </ul>
</nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">       	    
            <li><a class="item" href="/pages-lcc/council-tax/your-bill" title="" id="">Your bill</a></li>
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}