{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Empty properties
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Empty properties
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/empty-properties.html">Empty properties</a>
                                <ul class="">
                                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Discounts and exemptions for empty properties</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/empty-properties.html">Overview</a></li>
            <li>Discounts and exemptions for empty properties</li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/Rented-properties-who-is-responsible-for-the-bill.html">Rented properties - who is responsible for the bill?</a></li>
        </ol>
    </nav>
</aside>

<div class="part-content">
    <h1 class="part-title">2. Discounts and exemptions for empty properties</h1>
    <p class="lead">In the following circumstances, you may not have to pay council tax, or you may be able to get a discount or exemption:</p>

    <ul class="accordion" data-module="accordion">
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Care homes, hospitals or hostels</a>
                <div style="display: none;" class="content-block">
                    <p>If a person who normally lives at an address is now living in a residential care home, hospital or certain type of hostel and is not intending to return home, we may be able to grant a council tax discount. If nobody else lives at the address, we may even be able to grant an exemption, so there will be no council tax to pay at all. </p>
                    <p>Please download, complete and return the claim form to: </p>           
                    <div class="text-block">
                        <p>Leeds City Council<br>
                        P.O. Box 60<br>
                        LS2 8JR</p>
                    </div>
                    <div class="docList one">
                        <div class="listWebpart">
                            <ul>
                                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Care%20home%20resident%20claim.pdf"><span class="info">Care homes, hospitals or hostels claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27KB)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving to another address to be cared for </a>
                <div style="display: none;" class="content-block">
                    <p>If somebody owns, or is the tenant of a property which is unoccupied because they have had to move out to be cared for somewhere else (but not in a nursing home or care home), we may be able to grant an exemption for the unoccupied property. This means that there will be no council tax to pay. </p>
                    <p>For further information and to apply for the exemption, please download, complete and return the claim form to: </p>           
                    <div class="text-block">
                        <p>Leeds City Council<br>
                        P.O. Box 60<br>
                        LS2 8JR</p>
                    </div>
                    <div class="docList one">
                        <div class="listWebpart">
                            <ul>
                                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Exemption%20I%20claim%20form.pdf"><span class="info">Receiving care claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27KB)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving to another address to care for someone </a>
                <div style="display: none;" class="content-block">
                    <p>If somebody owns, or is the tenant of a property which is unoccupied because they have left to care for someone, we may be able to grant an exemption to the unoccupied property. This means that there will be no council tax to pay. </p>
                    <p>For further information and to apply for the exemption, please download, complete and return the claim form to: </p>           
                    <div class="text-block">
                        <p>Leeds City Council<br>
                        P.O. Box 60<br>
                        LS2 8JR</p>
                    </div>
                    <div class="docList one">
                        <div class="listWebpart">
                            <ul>
                                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Exemption%20J%20(providing%20care).pdf"><span class="info">Providing care claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27KB)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Last occupier has died</a>
                <div style="display: none;" class="content-block">
                    <p>There are certain circumstances where we may be able to grant an exemption from council tax if the liable person has died. Further information can be found in our guidance document.</p>
                    <p>If you think an exemption may apply, contact us. We will need to know what your relationship is to the person who has died. If emailing please include your phone number so we can use it to contact you if necessary.</p>   
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                    </div>              
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Property%20unoccupied%20after%20a%20death.pdf"><span class="info">Property unoccupied after a death guidance document<span class="arrow"></span></span><span class="thirdInfo">(PDF, 60KB)</span></a></li>
                        </ul>
                    </div>  
                
                </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Property unoccupied and unfurnished for seven days or less  </a>
                <div style="display: none;" class="content-block">
                    <p>Please contact us with your name, address, council tax account number and an explanation of the circumstances. <a href="/pages-lcc/council-tax/your-bill.html">Your account number can be found on your bill</a>.</p>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                        <p><strong>Post:</strong> Leeds City Council, P.O. Box 60, LS2 8JR</p>
                    </div>                       
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>In prison or otherwise detained</a>
                <div style="display: none;" class="content-block">
                    <p>You may be able to get a discount or exemption if a person who normally lives at your address is:</p>
                    <ul class="list list-bullet">
                        <li>on remand, or in prison for a crime other than non-payment of council tax</li>
                        <li>being held in a hospital or other place on mental health grounds as a result of a court order</li>
                        <li>being held under immigration law</li>
                    </ul>
                    <p>For further information and to apply for the discount, please download, complete and return the claim
                        form to:
                    </p>
                    <div class="text-block">
                        <p>Leeds City Council<br> P.O. Box 60<br> LS2 8JR</p>
                    </div>
                    <div class="docList one">
                        <div class="listWebpart">
                            <ul>
                                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Prisoner%20discount%20claim%20CT60.pdf"><span class="info">Prisoner or person detained discount claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27KB)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Repossessed property</a>
                <div style="display: none;" class="content-block">
                    <p>Please provide proof of your eligibility along with your name, address and council tax account number - <a href="/pages-lcc/council-tax/your-bill.html">your account number can be found on your bill</a>. You can take your proof to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or post it to:</p>
                    <div class="text-block">
                        <p>Leeds City Council<br>
                        P.O. Box 60<br>
                        LS2 8JR</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Annexes</a>
                <div style="display: none;" class="content-block">
                    <p>If a single property contains two or more dwellings, the ‘annexe’ may qualify for a 50% discount if either:</p>
                    <ul class="list list-bullet">
                        <li>it is occupied by a relative of the person liable for the main dwelling</li>
                        <li>it is being used (but not lived in) by a resident of the main dwelling – this dwelling must be their
                            <a href="/pages-lcc/council-tax/discounts-and-exemptions\second-homes.html">sole or main residence</a></li>
                    </ul>
                    <p>For further information and to apply for the discount, please download, complete and return the claim
                        form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/> P.O. Box 60<br/> LS2 8JR</p>
                    </div>
                    <div class="docList one">
                        <div class="listWebpart">
                            <ul>
                                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Annex discount form for website.pdf"><span class="info">Annexe discount claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 50KB)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>Exemptions for annexes</h3>
                    <p>An exemption will apply if an annexe is unoccupied and cannot be let separately because of planning conditions.</p>
                    <div role="note" aria-label="Information" class="text-highlight">
                        <p>If an exemption is granted no council tax will be payable for the annexe. Please contact us to discuss
                            your situation.
                        </p>
                    </div>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                    </div>


                </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Occupation prohibited by law</a>
                <div style="display: none;" class="content-block">
                    <p>This exemption can be claimed if a property has been deemed unsafe to live in, for example the property contains asbestos and has been deemed unfit to live in by Environmental Health.</p>
                    <div class="text-block">
                        <p>Leeds City Council<br>
                        P.O. Box 60<br>
                        LS2 8JR</p>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Trustee responsible for a property following bankruptcy</a>
                <div style="display: none;" class="content-block">
                    <p>Please provide us with the details of the trustee, the name of the court that granted the bankruptcy order and the date this was granted. We will also need your name, address, and council tax account number - <a href="/pages-lcc/council-tax/your-bill.html">your account number can be found on your bill</a>. </p>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                        <p><strong>Post:</strong> Leeds City Council, P.O. Box 60, LS2 8JR</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Unoccupied property left empty by a student</a>
                <div style="display: none;" class="content-block">
                    <p>A property left unoccupied because the person responsible for council tax is a student who is living elsewhere for study purposes may be eligible for an exemption.</p>
                            
                            <p>When last occupied, the property must have been the sole or main residence of a person who is a student.</p>
                            
                            <p>The student must have begun living elsewhere for study purposes within six weeks of leaving the property.</p>
                            
                            <p>The course must be a full-time course and last for at least one academic year, take more than 24 weeks in that year and involve more than 21 hours a week of study.</p>
                            
                            <p>If you wish to apply, please contact us:</p>
                            </p>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>                        
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Empty caravan pitch or mooring</a>
                <div style="display: none;" class="content-block">
                    <p>You will need to provide us with your name, address, and council tax account number - <a href="/pages-lcc/council-tax/your-bill.html">your account number can be found on your bill</a>. </p>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                        <p><strong>Post:</strong> Leeds City Council, P.O. Box 60, LS2 8JR</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Unoccupied property owned and last occupied by a registered charity</a>
                <div style="display: none;" class="content-block">
                    <p>Please contact us to discuss this exemption further.</p>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>                        
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Unoccupied property for use by a minister of religion</a>
                <div style="display: none;" class="content-block">
                    <p>Please contact us to discuss this exemption further.</p>
                    <div class="text-block">
                        <p><strong>Phone:</strong> 0113 222 4404 <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span></p>
                        <p><strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>                        
                    </div>
                </div>
            </div>
        </li>
        
    </ul>

    <h2>Tell us about a change</h2>
    <p>If your circumstances change and you no longer qualify for a discount or exemption you must let us know.</p>   
    
    <p>You’ll need to provide us with:</p>
    <ul class="list list-bullet">
        <li>the reason you need to cancel</li>
        <li>your council tax account number</li>
        <li>your contact number</li>
        <li>the date you want to cancel your discount or exemption from</li>
    </ul>

    <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
            <div class="text-block">
                0113 222 4404<br/>
                <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
            </div>
        <p><strong>Email</strong></p>
            <div class="text-block">
                <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
            </div>
        <p><strong>In person</strong></p> 
            <div class="text-block">
                Visit any of our <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centres</a>    
            </div>        
     
</div>
</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__previous-page">
        <a href="/pages-lcc/council-tax/discounts-and-exemptions/empty-properties.html" rel="next">
          <span class="pagination-nav__part-title">Previous</span>
          <span class="pagination-nav__label">Overview</span>
        </a>
      </li>
      <li class="pagination-nav__next-page">
            <a href="/pages-lcc/council-tax/discounts-and-exemptions/Rented-properties-who-is-responsible-for-the-bill.html" rel="next">
              <span class="pagination-nav__part-title">Next</span>
              <span class="pagination-nav__label">Rented properties - who is responsible for the bill?</span>
            </a>
          </li>
      <div style="clear:both"></div>
  </ul>
</nav>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">  
            
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/second-homes.html" title="" id="">Second homes</a></li>   	    
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>   	    
            <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}