{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Discounts for properties occupied by disabled people
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Discounts for properties occupied by disabled people
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">Discounts and exemptions</a>
                    <ul class="">
                        <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Discounts for properties occupied by disabled people</li>
                    </ul>
                </li>
            </ul>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
<div class="text">
    <p class="lead">If someone living at your address is permanently disabled, you might be able to get a discount on your council tax.</p>
    <p>One of the following must apply for a discount to be granted:</p>

    <ul class="list list-bullet">
        <li>the disabled person uses a wheelchair indoors</li>
        <li>the property has a second bathroom or kitchen for the use of the person with the disability</li>
        <li>a room in the property is used for a special purpose, for example, dialysis</li>
    </ul>
    <div role="note" aria-label="Information" class="text-highlight">
        <p>Things like stairlifts, handrails and other fixtures on their own do not qualify for the reduction.</p>
    </div>
    
    <h2>Apply for a discount</h2>
    <p>If a reduction is granted, the council tax for the property will be <a href="/pages-lcc/council-tax/council-tax-charges-and-bands.html">charged at the rate of the band below it</a>. For example, if the property is at band C then the council tax payable will be at a band B rate. A reduction is also available for band A properties.</p>

    <p>To apply for a discount, download and complete the claim form:</p>

    <div class="docList one">
            <div class="listWebpart">
                <ul>
                    <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Disabilities reduction claim CT110.pdf"><span class="info">Disabilities reduction claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 48KB)</span></a></li>
                </ul>
            </div>
    </div>

    <p>Scan the completed form and email it to us at <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></strong>.</p>
    <p>You can also hand completed forms in to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or <a href="http://www.leeds.gov.uk/residents/Pages/Community-Hubs.aspx">Community Hub</a> or post them to us at:</p>
    <div class="text-block">
        <p>Leeds City Council<br>
        PO BOX 60<br>
        Leeds<br>
        LS2 8JR</p>
    </div>

    <div class="panel">
        <h2>Tell us about a change</h2>
        <p>If a change in circumstances means that a discount is no longer needed, let us know.</p>
        <strong>Phone</strong>
        <div class="text-block">
            0113 222 4404<br/>
            (Monday to Friday, 9am to 5pm)
        </div>
        <strong>Email</strong>
        <div class="text-block">
            <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
        </div>
    </div>
        
</div>

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/empty-properties.html" title="" id="">Discounts and exemptions</a></li>	   
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/other-council-tax-discounts.html" title="" id="">Other council tax discounts</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/second-homes.html" title="" id="">Second homes</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/single-person-discount.html" title="" id="">Single person discount</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/student-discounts-and-exemptions.html" title="" id="">Student discounts and exemptions</a></li>     	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}