{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Empty properties
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Empty properties
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Empty properties</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li>Overview</li>
            <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions-for-empty-properties.html">Discounts and exemptions for empty properties</a></li>
        </ol>
    </nav>
</aside>

<div class="part-content">
    <h1 class="part-title">1. Overview</h1>

    <p class="lead">Council tax charges on properties that are unoccupied or uninhabitable.</p>

    <h2>Furnished properties</h2>
    <p>There is no discount for a furnished unoccupied property so full council tax is payable for any unoccupied period, <a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions-for-empty-properties.html">unless certain criteria are met</a>.</p>
    
    <h2>Unfurnished properties</h2>
    <p>You won’t have to pay council tax if a property is unoccupied and unfurnished for seven days or less.</p>
    <p>If the property is empty for more than seven days there is no discount. This means that full council tax is payable from the date it became empty.</p>
    <p>You will pay an extra 50% if your property has been unoccupied and unfurnished for two years or more.  The two year period starts from when the property first became empty and unfurnished, which means if you have recently bought a property which has been empty for a long time, you might have to pay the additional 50%. This is known as the “long-term empty premium”.</p>

    <h2>Long-term empty properties</h2>
    <p>If you have an empty property and you would like advice about how to bring it back into use, contact the <a href="http://www.leeds.gov.uk/residents/Pages/EmptyHomesInLeeds.aspx">Empty Property Team</a>.</p>

    <h2>Landlords and tenants: who pays the council tax?</h2>
    <p>The owner is liable for the council tax bill whilst the property is empty. However, in the following circumstances, the tenant remains liable for paying the bill:</p>

    <ul class="list list-bullet">
        <li>if they have a fixed –term tenancy agreement for six months or more and that tenancy is still in force, or</li>
        <li>if they are ‘contractual periodic tenants’ whose tenancy has not officially ended. This means they are on a ‘rolling contract’ but their original tenancy (for six months or more) contained wording which indicates that the original tenancy continues after the end of the fixed term period. In this case, the tenant will remain liable until the end of the agreed period of notice</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>Once a new tenant moves in, they will become liable for the council tax bill.</p>
    </div>

    <h2>Properties that are uninhabitable</h2>
    <p>If you think your property is uninhabitable, contact the <a href="https://www.gov.uk/council-tax-appeals/challenge-your-band" rel="external">Valuation Office Agency</a>. They will decide if the property can be classed as uninhabitable and whether any council tax needs to be paid.</p>

</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
  <ul>
      <li class="pagination-nav__next-page">
        <a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions-for-empty-properties.html" rel="next">
          <span class="pagination-nav__part-title">Next</span>
          <span class="pagination-nav__label">Discounts and exemptions for empty properties</span>
        </a>
      </li>
      <div style="clear:both"></div>
  </ul>
</nav>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">  
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/other-council-tax-discounts.html" title="" id="">Other council tax discounts</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/second-homes.html" title="" id="">Second homes</a></li>   	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}