{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Empty properties
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Empty properties
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Empty properties</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

    <p class="lead">Council tax charges on properties that are unoccupied, unfurnished or uninhabitable</p>

    <h2>Properties that can be lived in</h2>
    <p>If you own a property that is empty but can be lived in, it’s likely that you will need to pay full council tax.  However, in the following circumstances, you may not have to pay council tax, or you may be able to get a discount:</p>

    <ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The liable person is staying long-term in a care home, hostel or hospital</a>
            <div style="display: none;" class="content-block">
                <p>If a person who normally lives at an address is now living in a residential care home, hospital or certain type of hostel and is not intending to return home, we may be able to grant a council tax discount. If nobody else lives at the address, we may even be able to grant an exemption, so there will be no council tax to pay at all. </p>
                <p>Please download, complete and return the claim form to: </p>           
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
                <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Care%20home%20resident%20claim.pdf"><span class="info">Care home resident claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27Kb)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The liable person has moved to another address to be cared for </a>
            <div style="display: none;" class="content-block">
                <p>If somebody owns, or is the tenant of a property which is unoccupied because they have had to move out to be cared for somewhere else (but not in a nursing home or care home), we may be able to grant an exemption for the unoccupied property. This means that there will be no council tax to pay. </p>
                <p>For further information and to apply for the exemption, please download, complete and return the claim form to: </p>           
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
                <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Exemption%20I%20claim%20form.pdf"><span class="info">Exemption claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27Kb)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The liable person has moved to another address to care for someone </a>
            <div style="display: none;" class="content-block">
                <p>If somebody owns, or is the tenant of a property which is unoccupied because they have left to care for someone, we may be able to grant an exemption to the unoccupied property. This means that there will be no council tax to pay. </p>
                <p>For further information and to apply for the exemption, please download, complete and return the claim form to: </p>           
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
                <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Exemption%20J%20(providing%20care).pdf"><span class="info">Exemption providing care claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27Kb)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The liable person is in prison </a>
            <div style="display: none;" class="content-block">
                <p>You may be able to get a discount if a person who normally lives at your address is:</p> 
                <ul class="list list-bullet">
                    <li>on remand, or in prison for a crime other than non-payment of council tax</li>
                    <li>being held in a hospital or other place on mental health grounds as a result of a court order</li>
                    <li>being held under immigration law</li>
                </ul>
                <p>For further information and to apply for the discount, please download, complete and return the claim form to:  </p>           
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
                <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Prisoner%20discount%20claim%20CT60.pdf"><span class="info">Prisoner discount claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27Kb)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The liable person has moved to another address to care for someone </a>
            <div style="display: none;" class="content-block">
                <p>There are certain circumstances where we may be able to grant an exemption from council tax <a href="http://www.leeds.gov.uk/docs/Property%20unoccupied%20after%20a%20death.pdf" rel="pdf">if the liable person has died (PDF, 11Kb)</a>.</p>
                <p>If you think an exemption may apply, contact us. We will need to know what your relationship is to the person who has died. If emailing please include your phone number so we can use it to contact you if necessary. </p>           
                <p><strong>Telephone:</strong></p>
                <div class="text-block">
                    <p>0113 222 4404 <br><span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span> </p>
                </div>
                <p><strong>Email:</strong></p>
                <div class="text-block">
                    <p><a ref="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The property has been unoccupied and unfurnished for 7 days or less  </a>
            <div style="display: none;" class="content-block">
                <p>Contact us by:</p>
                <p><strong>Telephone</strong></p>           
                <div class="text-block">
                    <p>0113 222 4404 <br><span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span> </p>
                </div>
                <p><strong>Email</strong></p>
                <div class="text-block">
                    <p><a ref="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
                </div>
                <p><strong>Post</strong></p>
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The mortgage lender has repossessed the property</a>
            <div style="display: none;" class="content-block">
                <p>Please provide proof of your eligibility along with your name, address, and council tax account number (this can be found on your bill). You can take your proof to a <a href="#">One Stop Centre</a> or <a href="#">Community Hub</a> or post it to:</p>
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The property is being kept vacant for a religious minister to move into</a>
            <div style="display: none;" class="content-block">
                <p>Please provide proof of your eligibility along with your name, address, and council tax account number (this can be found on your bill). You can take your proof to a <a href="#">One Stop Centre</a> or <a href="#">Community Hub</a> or post it to:</p>
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>The property is the responsibility of a trustee in bankruptcy</a>
            <div style="display: none;" class="content-block">
                <p>Please provide proof of your eligibility along with your name, address, and council tax account number (this can be found on your bill). You can take your proof to a <a href="#">One Stop Centre</a> or <a href="#">Community Hub</a> or post it to:</p>
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span class="sr-only">Click to expand </span>You have an empty caravan pitch or mooring</a>
            <div style="display: none;" class="content-block">
                <p>Please provide proof of your eligibility along with your name, address, and council tax account number (this can be found on your bill). You can take your proof to a <a href="#">One Stop Centre</a> or <a href="#">Community Hub</a> or post it to:</p>
                <div class="text-block">
                    <p>Revenues Service<br>
                    PO BOX 60<br>
                    LS2 8JR</p>
                </div>
            </div>
        </div>
    </li>
</ul>
<h2>Properties that are uninhabitable</h2>
<p>You will pay an extra 50% in addition to your normal council tax bill if your property has been empty for two years or more. This does not apply if your property is exempt from council tax or if the Valuation Office Agency says no council tax needs to be paid.</p>
<div role="note" aria-label="Information" class="text-highlight">
    <p>Please note that the two year period is calculated from when the property first became empty and unfurnished.</p>
</div>

<h2>Long-term empty property</h2>
<p>If you have an empty property and you would like advice about how to bring it back into use, contact the <a href="http://www.leeds.gov.uk/residents/Pages/EmptyHomesInLeeds.aspx">Empty Property Team</a>.</p>

<h2>Tell us about a change</h2>
<p>If your circumstances change and you no longer qualify for a discount or exemption you must let us know by:</p>
<p><strong>Telephone: </strong></p>
<div class="text-block">
    <p>0113 222 4404 <br><span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span> </p>
</div>
<p><strong>Email: </strong></p>
<div class="text-block">
    <p><a ref="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
</div>

<p>You’ll need to provide us with:</p>
<ul class="list list-bullet">
    <li>the reason you need to cancel</li>
    <li>your council tax account number</li>
    <li>your contact number</li>
    <li>the date you want to cancel your discount or exemption from</li>
</ul>

<h2>Further help</h2>
<p>For further information you can contact us by:</p>
<p><strong>Telephone: </strong></p>
<div class="text-block">
    <p>0113 222 4404 <br><span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span> </p>
</div>
<p><strong>Email: </strong></p>
<div class="text-block">
    <p><a ref="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
</div>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/empty-properties.html" title="" id="">Discounts and exemptions</a></li>	   
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/other-council-tax-discounts.html" title="" id="">Other council tax discounts</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/second-homes.html" title="" id="">Second homes</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/single-person-discount.html" title="" id="">Single person discount</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/student-discounts-and-exemptions.html" title="" id="">Student discounts and exemptions</a></li>     	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}