{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Empty properties
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Empty properties
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Empty properties</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

    <p class="lead">Council tax charges on properties that are unoccupied, unfurnished or undergoing major works.</p>

    <h2>Properties that can be lived in</h2>
    <p>If you own a property that is empty but can be lived in, it’s likely that you will need to pay full council tax.  However, in certain circumstances, you may not have to pay council tax.</p>
    <p>If any of the following apply, please complete and return the relevant form:</p>
    <ul class="list list-bullet">
        <li>the liable person is staying long-term in a care home, hostel or hospital</li>
        <li>the liable person has moved to another address to be cared for</li> 
        <li>the liable person has moved to another address to care for someone</li>
        <li>the liable person is in prison</li> 
        <li>the liable person has died and certain conditions are met</li>
    </ul>
    <p>If any of the following apply, please provide proof of your eligibility (if needed) along with your name, address, and council tax account number (this can be found on your bill). You can take your proof to a <a href="#">One Stop Centre or Community Hub</a> or post it to:</p>
    <div class="text-block">
        <p>Leeds City Council, <br>PO BOX 60, <br>Leeds <br>LS2 8JR</p>
    </div>
    <ul class="list list-bullet">
        <li>the property has been unoccupied and unfurnished for 7 days or less (no proof required)</li>
        <li>the mortgage lender has repossessed it</li>
        <li>the property is being kept vacant for a religious minister to move into</li>
        <li>the property is the responsibility of a trustee in bankruptcy</li>
        <li>you have an empty caravan pitch or mooring</li>
    </ul>

    <h2>Properties that can’t be lived in</h2>
    <p>If your property is uninhabitable, you will need to contact the Valuation Office Agency to have your property removed from banding, which means no council tax will need to be paid.</p>
    
    <h3>What is considered uninhabitable</h3>
    <p>Examples include:</p> 	
    <ul class="list list-bullet">
        <li>roof work that's needed on safety grounds</li>
        <li>removal of supporting walls or floor joists</li>
        <li>subsidence</li>
        <li>severe dry rot requiring extensive treatments or remedies</li>
    </ul>

    <h3>What is not considered uninhabitable</h3>
    <p>Examples include:</p>
    <ul class="list list-bullet">
        <li>replacement kitchen or bathroom</li>
        <li>replacement windows</li>
        <li>general refurbishment</li>
        <li>re-wiring, re-plumbing, plastering</li>
    </ul>

    <h3>Empty homes charge</h3>
    <p>You will pay an extra 50% in addition to your normal council tax bill if your property has been empty for two years or more. This does not apply if your property is exempt from council tax or if the Valuation Office Agency has removed it from banding.</p>
    <p>Please note that the two year period is calculated from when the property first became empty and unfurnished.</p>
    <p>If you have an empty property that you want to bring back into use, <a href="#">contact the Empty Property Team</a>.</p>




</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/second-homes.html" title="" id="">Second homes</a></li>	
            <li><a class="item" href="#" title="" id="">People who do not have to pay council tax</a></li>	       	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}