{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Other council tax discounts and exemptions
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Other council tax discounts and exemptions
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>People who do not have to pay council tax</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <p class="lead">Other council tax discounts or exemptions that you may be eligible for.</p>

    <ul class="accordion" data-module="accordion">
        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Student nurses</a>
                <div style="display: none;" class="content-block">
                    <p>You may qualify for a council tax discount if you are either:</p>
                    <ul class="list list-bullet">
                        <li>employed as a student nurse but taking a course which will lead to first registration in the Nurses’ Part or the Midwives’ Part of the register maintained by the Nursing and Midwifery Council under the Nursing and Midwifery Order 2001</li>
                        <li>not employed as a nurse but taking a nursing degree or diploma course and getting a student grant or scholarship</li>
                    </ul>

                    <p>For further information and to apply for the discount, please download, complete and return the Student nurse discount application form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Student-nurse-discount-application-form.pdf"><span class="info">Student nurse discount application form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 47KB)</span></a></li>
                        </ul>
                    </div>
                </div>

                <div>    
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Young people</a>
                <div style="display: none;" class="content-block">
                    <p>A council tax discount may apply for a young person if either:</p> 
                    <ul class="list list-bullet">
                        <li>they are aged between 18 and 19 and enrolled on a further education course for more than three months, and studying for more than twelve hours per week; or</li>
                        <li>their parent or guardian is entitled to claim <a href="https://www.gov.uk/child-benefit">child benefit</a> for them (or would be if the young person was not in local authority care) </li>
                    </ul>
                    <p>For further information and to apply for the discount, please download, complete and return the Young person discount appliction form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/CT90.pdf"><span class="info">Young person discount appliction form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 29KB)</span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Apprentices</a>
                <div style="display: none;" class="content-block">
                    <p>You may qualify for a council tax discount if you meet the following criteria:</p>
                    <ul class="list list-bullet" >
                        <li>you won’t be paid more than £195 a week</li>
                        <li>the training leads to a qualification accredited by a body recognised by the Office of Qualifications and Examinations Regulation (Ofqual) or the Scottish Vocational Education Council (SVEC)</li>
                    </ul>
                    <p>To apply for the discount, please download, complete and return the Apprentice discount application form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/CT20.pdf"><span class="info">Apprentice discount appliction form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 30KB)</span></a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Unpaid carers</a>
                <div style="display: none;" class="content-block">
                    <p>You may be able to claim a council tax discount if you meet the following criteria:</p>
                    <ul class="list list-bullet">
                        <li>you are living with and caring for someone who has a disability and is entitled to certain benefits. This person must not be your spouse, partner or child under 18</li>
                        <li>you are providing care for at least 35 hours a week on average</li>
                    </ul>
                    <p>For further information and to apply for the discount, please download, complete and return the Unpaid carer's discount application form to:</p>
                     <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Unpaid carer's claim form.pdf"><span class="info">Unpaid carer's discount application form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 34KB)</span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Care workers</a>
                <div style="display: none;" class="content-block">
                    <p>Care workers may be able to claim a council tax discount if they meet the following criteria:</p>    
                    <ul class="list list-bullet">
                        <li>employed as a carer by an organisation such as Community Service Volunteers, by a public body or by the person he/she is caring for (if introduced to that person by a charity);</li>    
                        <li>living in accommodation provided by the employer so that the care can be given;</li>
                        <li>employed to provide care for at least 24 hours a week and paid no more than £44 a week</li>
                    </ul>      
                    <p>For further information and to apply for the discount, please download, complete and return the Carer discount application form to:</p>   
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/CTCarerA.pdf"><span class="info">Carer discount application form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 30KB)</span></a></li>
                        </ul>
                    </div>                                   
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Severe mental impairment</a>
                <div style="display: none;" class="content-block">
                    <p>A discount can be claimed for people who have a severe mental impairment if they meet the following criteria:</p> 
                    <ul class="list list-bullet">
                        <li>the person must have a severe impairment of intelligence and social functioning which appears to be permanent, as confirmed by a registered medical practitioner (such as their doctor)</li>
                        <li>they must be entitled to certain benefits, or would be entitled if they were not of pensionable age, or if their partner was not getting a premium in their Job Seeker’s Allowance for them</li>
                    </ul>  
                    <p>For further information and to apply for the discount, please download, complete and return the Severe mental impairment claim form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Severe%20mental%20impairment%20claim%20form.pdf"><span class="info">Severe mental impairment claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 87KB)</span></a></li>
                        </ul>
                    </div>                                                      
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>In prison, on remand or being held in a hospital</a>
                <div style="display: none;" class="content-block">
                    <p>You may be able to get a discount or exemption if a person who normally lives at your address is:</p>
                    <ul class="list list-bullet">
                        <li>on remand, or in prison for a crime other than non-payment of council tax</li>
                        <li>being held in a hospital or other place on mental health grounds as a result of a court order</li>
                        <li>being held under immigration law</li>
                    </ul>
                    <p>For further information and to apply for the discount or exemption, please download, complete and return the Prison/person detained discount application form to:</p>
                     <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Prisoner%20discount%20claim%20CT60.pdf"><span class="info">Prison/person detained discount application form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 37KB)</span></a></li>
                        </ul>
                    </div>   
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Religious communities</a>
                <div style="display: none;" class="content-block">
                    <p>If you are part of a religious community (for example a convent or a monastery) and are dependant on that community for your material needs, you may be eligible for an exemption.</p>   
                    <p>To apply, please download, complete and return the Religious communities disregard application form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/CT70A.pdf"><span class="info">Religious communities disregard application form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 86KB)</span></a></li>
                        </ul>
                    </div>  
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Annexes</a>
                <div style="display: none;" class="content-block">
                    <p>If a single property contains two or more dwellings, the ‘annexe’ may qualify for a 50% discount if:</p>    
                    <ul class="list list-bullet">
                        <li>it is occupied by a relative of the person liable for the main dwelling, or</li>
                        <li>it is being used (but not lived in) by a resident of the main dwelling – this dwelling must be their <a href="/pages-lcc/council-tax/discounts-and-exemptions\second-homes.html">sole or main residence</a></li>
                    </ul>
                    <p>For further information and to apply for the discount, please download, complete and return the Annexe discount claim application form to:</p>                                                
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Annex discount form for website.pdf"><span class="info">Annexe discount claim application form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 50KB)</span></a></li>
                        </ul>
                    </div> 
                </div>
                <div role="note" aria-label="Information" class="text-highlight text-highlight--blue">
                    <p>If an annexe cannot be let separately because of planning conditions and is either unoccupied, or occupied by a dependant relative (aged 65 or over, or severely mentally impaired, or substantially and permanently disabled), an exemption may apply. If an exemption is granted, no council tax will be payable for the annexe.</p>
                </div>

            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Care homes, hostels and hospitals</a>
                <div style="display: none;" class="content-block">
                    <p>If a person who normally lives at an address is now living in a residential care home, hospital or certain type of hostel and is not intending to return home, we may be able to grant a council tax discount. If nobody else lives at the address, we may even be able to grant an exemption, so there will be no council tax to pay at all.</p>                                                    
                    <p>Please download, complete and return the Home/Hospital/Hostel resident discount or exemption claim form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Care%20home%20resident%20claim.pdf"><span class="info">Home/Hospital/Hostel Resident discount or exemption claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 125KB)</span></a></li>
                        </ul>
                    </div>  
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving to another address to be cared for</a>
                <div style="display: none;" class="content-block">
                    <p>If somebody owns, or is the tenant of a property which is unoccupied because they have had to move out to be cared for somewhere else (but not in a nursing home or care home), we may be able to grant an exemption to the unoccupied property. This means that there will be no council tax to pay.</p>                                                    
                    <p>For further information and to apply for the exemption, please download, complete and return the Exemption I: Property left empty by people receiving care form to:</p>
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Exemption%20I%20claim%20form.pdf"><span class="info">Exemption I: Property left empty by people receiving care form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 113KB)</span></a></li>
                        </ul>
                    </div>  
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Moving to another address to care for someone</a>
                <div style="display: none;" class="content-block">
                    <p>If somebody owns, or is the tenant of a property which is unoccupied because they have had to care for someone, we may be able to grant an exemption to the unoccupied property. This means that there will be no council tax to pay.</p>   
                    <p>For further information and to apply for the exemption, please download, complete and return the Exemption J: Property left empty by people providing care form to:</p>   
                    <div class="text-block">
                        Leeds City Council<br/>
                        PO box 60<br/>
                        LS2 8JR</p>                                                    
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Exemption%20J%20(providing%20care).pdf"><span class="info">Exemption J: Property left empty by people providing care form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 67KB)</span></a></li>
                        </ul>
                    </div>                                               
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Last occupier has died</a>
                <div style="display: none;" class="content-block">
                    <p>There are certain circumstances where we may be able to grant an exemption from council tax if the liable person has died. Further information can be found in our guidance document.</p>
                    <p>If you think an exemption may apply, contact us. We will need to know what your relationship is to the person who has died. If emailing please include your phone number so we can use it to contact you if necessary.</p>   
                    <div class="text-block">
                        <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
                        <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
                    </div>
                    <div class="docList one">
                    <div class="listWebpart">
                        <ul>
                            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Property%20unoccupied%20after%20a%20death.pdf"><span class="info">Property unoccupied after a death guidance document<span class="arrow"></span></span><span class="thirdInfo">(PDF, 60KB)</span></a></li>
                        </ul>
                    </div>  
                
                </div>
            </div>
        </li>

        <li>
            <div class="accordion-drawer">
                <a href="#" class="header"><span class="sr-only">Click to expand </span>Members and dependents of visiting forces, international headquarters and defence organisations</a>
                <div style="display: none;" class="content-block">
                    <p>We may be able to grant a council tax discount where an occupant is a member or non-British dependant of a visiting force, international headquarters or defence organisation.</p>   
                    <p>If you think this may apply, contact us.</p>
                    <div class="text-block">
                        <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
                        <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
                    </div>

                </div>
            </div>
        </li>
    </ul>

    <h2>Tell us about a change</h2>

    <p>If your circumstances change and you no longer qualify for a discount you must let us know. You will need to provide us with:</p>
        <ul class="list list-bullet">
            <li>the reason you need to cancel</li>
            <li>your council tax account number</li>
            <li>your contact number</li>
            <li>the date you want to cancel your discount or exemption from</li>
        </ul>
    
    <div class="text-block">
        <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
        <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
    </div>

    <div class="panel">
        <h2>Further help</h2>
        <p>For further help or advice you can contact us or visit a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">one stop centre</a>.</p>
        <div class="text-block">
            <strong>Telephone:</strong> 0113 222 4404 (Monday to Friday, 9am to 5pm)<br/>
            <strong>Email:</strong> <a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
        </div>
    </div>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}