{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	People who do not have to pay council tax
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    People who do not have to pay council tax
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>People who do not have to pay council tax</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <p class="lead">Find out who is exempt and how this can affect how much council tax is paid.</p>
    <h2>How the number of people living in a property affects the council tax bill</h2>
    <p>The council tax charge is based upon the number of people living in a property.  If someone is exempt, it means that we don't count them when we work out the number of people living there.</p>
    <ul class="list list-bullet">
        <li>If all the people living in a property are exempt, no council tax needs to be paid</li>
        <li>If all the people living in a property are exempt apart from one, the liable person may be able to get a reduction on their bill</li>
        <li>If there is more than one person in the property who isn’t exempt, no reduction will be given</li>
    </ul>

    <h2>Who doesn’t have to pay?</h2>
    <p>These people are exempt from paying council tax:</p>
    <ul class="list list-bullet">
        <li><a href="#">full time students, school and college leavers aged 18 and 19</a></li>
        <li><a href="#">student nurses</a></li>
        <li><a href="#">a dependant non-British spouse of a student</a></li>
        <li>some <a href="#">young people</a>, <a href="#">youth training trainees</a> and <a href="#">apprentices</a></li> 
        <li><a href="#">unpaid carers or care workers</li> 
        <li><a href="#">people who have a severe mental impairment</a></li>
        <li><a href="#">people in prison, on remand or being held in a hospital</a></li>
        <li><a href="#">members of religious communities</a> (monks and nuns)</li>
        <li><a href="#">members of family living in an annexe</a></li>
        <li>members of visiting forces and dependants of international headquarters and defence organisations – <a href="#">contact us</a></li>
    </ul>

    <h2>Tell us about a change</h2>
    <p>If your circumstances change and you no longer qualify for a reduction or exemption you must let us know by telephone:</p>
    <div class="text-block">
        <p>0113 222 4404</p>
    </div>  
    <p>or email:</p>
    <div class="text-block">
        <p><a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
    </div> 
    <p>You will need to provide us with:</p>
    <ul class="list list-bullet">
        <li>the reason you need to cancel</li>
        <li>your council tax account number</li>
        <li>your contact number</li>
        <li>the date you want to cancel your reduction or exemption from</li>
    </ul>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}