{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Second homes
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Second homes
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Second homes</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">
    <p class="lead">Advice about council tax and second homes.</p>
    <p>If you own or spend time at more than one property, you will need to pay council tax for each property. You can usually only claim a council tax discount for a property which is your main residence.</p>
    
    <a id="main-residence"></a>
    <h2>What does 'main residence' mean?</h2>
    <p>There is no definition for what ‘main residence’ means within council tax law. A number of cases have been before the High Court and the judges’ decisions in those cases have given councils guidelines to follow.</p>
    <p>A person does not necessarily have to be physically present at an address all the time for it to be their main residence. We have to look into the circumstances at each address.</p>
    <p>The things we have to take into account are:</p>
    
    <ul class="list list-bullet">        
        <li>the reasons why you have two addresses</li>
        <li>where your partner or family lives, if you have one</li>
        <li>where you keep most of your belongings</li>
        <li>whether you intend to return to one address eventually</li>
    </ul>
    
    <p>Contact us so that we can establish which property is your main residence.</p>   
     
    <h2>Job-related second homes</h2>
    <p>If you are living in a second home because of  your job, we may be able to award a 50% discount. Please contact us to discuss your situation.</p>

    
   
    <h2>Empty second homes</h2>
    <p>No discount applies to empty properties unless they are unoccupied and unfurnished for seven days or less (different rules apply for properties with annexes). If this applies, let us know.</p>
      
    <h2>Annexes</h2>
    <p>If a single property contains two or more dwellings, the ‘annexe’ may qualify for a 50% discount if:</p>
    <ul class="list list-bullet">
        <li>it is occupied by a relative of the person liable for the main dwelling, or</li>
        <li>it is being used (but not lived in) by a resident of the main dwelling – this dwelling must be their sole or main residence</li>
    </ul>

    <p>For further information and to apply for the discount, please download, complete and return the claim form to:</p>                                                
    <div class="text-block">
        Leeds City Council<br/>
        P.O. Box 60<br/>
        LS2 8JR</p>                                                    
    </div>
    <div class="docList one">
        <div class="listWebpart">
            <ul>
                <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Annex discount form for website.pdf"><span class="info">Annexe discount claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 50KB)</span></a></li>
            </ul>
        </div>
    </div>

    <h3>Exemptions for annexes</h3>
    <p>An exemption will apply if an annexe is either:</p>
    <ul class="list list-bullet">
        <li>occupied by a dependant relative (aged 65 or over, or severely mentally impaired, or substantially and permanently disabled)</li>
        <li>unoccupied and cannot be let separately because of planning conditions</li>
    </ul>  
    <div role="note" aria-label="Information" class="text-highlight">          
        <p>If an exemption is granted no council tax will be payable for the annexe. Please contact us to discuss your situation.</p>
    </div>
    
    <h2>Register for or cancel council tax to your second home</h2>
    <p>If you have bought or sold a property that is not your main residence, let us know.</p>
    

    <div class="panel">
	<h2>Contact us</h2>
	<p><strong>Phone</strong></p>
		<div class="text-block">
			0113 222 4404<br/>
			<span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
		</div>
		
	<p><strong>Email</strong></p>
		<div class="text-block">
			<a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a>
		</div>	
</div>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                    <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>             
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}