{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Student discount
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Student discount
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council Tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Single person discount</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

    <h2 class="top">Apply for a student exemption</h2>
    <p class="lead">You don’t have to pay council tax if you're a full-time student.</p>

    <div class="hidden-text">
        <a class="text-link reveal collapsed" role="button" data-toggle="collapse" href="#hidden-text-example" aria-expanded="false" aria-controls="hidden-text-example">
        <span>What is a full-time student?</span>
        </a>
        <div class="collapse" id="hidden-text-example">
            <div class="panel panel-border">
                <p class="top">You must be a full time student enrolled with a recognised educational establishment and your course must be one of the following:</p>
                <ul class="list list-bullet bottom">
                    <li>a course which lasts at least one academic or calendar year and which requires you to undertake an average of at least 21 hours per week of study, tuition or work experience, for at least 24 weeks in that calendar year</li>
                    <strong>OR</strong>
                    <li class="bottom">a course which is not higher education, which lasts for more than 3 calendar months and requires you to undertake more than 12 hours of study.  (Please note: you must be under 20 if on this type of course)</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div role="note" aria-label="Information" class="text-highlight">
        <p>If you live in a student hall provided by your university or college then you don't need to apply.</p>
    </div>

    <h3>How to apply</h3>
    <p>Use the online form if you study at any of the following:</p>
    <ul class="list list-bullet">
        <li>University of Leeds</li>
        <li>Leeds Beckett University (Formerly Leeds Metropolitan)</li> 
        <li>Leeds Trinity</li> 
        <li>Leeds College of Music</li> 
        <li>Leeds College of Art</li> 
        <li>Northern School of Contemporary Dance</li>
    </ul>

    <p>Before you start you'll need the:</p>
    <ul class="list list-bullet">
        <li>address and postcode of the property</li>
        <li>names of all adults over 18 living at the property</li>
        <li>student number or certificate for each student</li>
    </ul>

    <a href="#" class="btn btn-primary btn-arrow bottom">Apply for council tax student discount</a>
    
    <h3>If you study as a full-time student elsewhere in Leeds</h3>
    <p>Ask your admissions/student services department for a Council Tax Student Certificate.</p>
    <p>You can hand this in to a <a href="#">One Stop Centre</a> or post it to:</p>
     <div class="text-block">
         <p>Leeds City Council, <br>PO Box 60, <br>Leeds <br>LS2 8JR</p>
     </div>

<h3>Proof of exemption</h3>
<p>Once we’ve processed your application we will send you an exemption certificate. It is important you keep this safe in case you’re asked to prove that you are or have been exempt from paying council tax.</p>


</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council Tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council Tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}