{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Student discounts and exemptions
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Student discounts and exemptions
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Student discounts and exemptions</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}
<div class="text">

    <p class="lead">If you are a full-time student you might be able to get a discount or exemption.</p>

    <h2>What is a full-time student?</h2>
    <p class="top">Your course must be one of the following:</p>
    <ul class="list list-bullet">
        <li>a course which lasts at least one academic or calendar year and which requires you to undertake an average of at least 21 hours per week of study, tuition or work experience, for at least 24 weeks in that calendar year</li>
        <li>a course which is not higher education, lasts for more than 3 calendar months, requires you to undertake more than 12 hours of study per week and you are under the age of 20</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>We won’t be able to award a discount if you live in a household with two or more non-students or part-time students.</p>
    </div>

    <div role="note" aria-label="Information" class="text-highlight">
            <p>Student nurses are not exempt from council tax but may be <a href="/pages-lcc/council-tax/discounts-and-exemptions/other-council-tax-discounts-and-exemptions.html#student-nurses">eligible for a <span class="sr-only">student nurse</span> discount</a>.</p>
        </div> 

    <h2>How to apply</h2>
    
    <p>Use the online form if you study at any of the following:</p>
    <ul class="list list-bullet">
        <li>University of Leeds</li>
        <li>Leeds Beckett University (formerly Leeds Metropolitan)</li> 
        <li>Leeds Trinity</li> 
        <li>Leeds College of Music</li> 
        <li>Leeds College of Art</li> 
        <li>Northern School of Contemporary Dance</li>
    </ul>

    <div class="hidden-text">
        <a class="text-link reveal collapsed" role="button" data-toggle="collapse" href="#hidden-text-example" aria-expanded="false" aria-controls="hidden-text-example">
            If you study as a full-time student elsewhere
        </a>
        <div class="collapse" id="hidden-text-example">
            <div class="panel panel-border">
                <p>Ask your admissions/student services department for a Council Tax Student Certificate.</p>
                <p>You can hand this in to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or post it to:</p>
                 <div class="text-block">
                     <p>Leeds City Council <br>PO Box 60 <br>Leeds <br>LS2 8JR</p>
                 </div>
            </div>
        </div>
    </div>
    
    <h3>Before you start</h3>
    <p>You will need the:</p>
    <ul class="list list-bullet">
        <li>address and postcode of the property</li>
        <li>names of all adults over 18 living at the property</li>
        <li>student number for each full-time student</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>The form will allow you to add the details of all of the students in the property so only one application is required. </p>
    </div>       

    <a href="https://secured.leeds.gov.uk/Pages/CTStudentDiscount.aspx" class="btn btn-primary btn-arrow bottom">Apply for council tax student discount</a>   
    
<h2>Proof of exemption</h2>
<p>If you qualify for an exemption we will send you an exemption notice. Please keep this safe in case you’re asked to prove that you are, or have been, exempt from council tax. </p>

<h2>Non-British spouse or dependant of a full-time student</h2>
<p>If you have a non-British spouse or dependant living with you who is not a student, your student discount/exemption may still apply. </p>
<p>They must have a visa which prevents them from taking paid employment or claiming benefits.</p>
<p>You will need to let us know by downloading, completing and returning the claim form to:</p>
<div class="text-block">
        <p>Leeds City Council <br>PO Box 60 <br>Leeds <br>LS2 8JR</p>
    </div>
<div class="docList one">
    <div class="listWebpart">
        <ul>
            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Non-British%20spouse%20of%20student.pdf"><span class="info">Non-British spouse of student claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27KB)</span></a></li>
        </ul>
    </div>
</div>

<div class="panel">
    <h2>Tell us about a change</h2>
    <p>Let us know if:</p>
    <ul class="list list-bullet">
        <li>you drop out of your course</li>
        <li>someone else moves in who isn’t a full-time student</li>
    </ul>
    <p><strong>Phone</strong></p>
    <div class="text-block">
        <p>0113 222 4404 <br>(Monday to Friday, 9am to 5pm)</p>
    </div>
    <p><strong>Email</strong></p>
    <div class="text-block">
        <p><a href="mailto:council.tax@leeds.gov.uk">council.tax@leeds.gov.uk</a></p>
    </div>
</div>


</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html">More <span class="sr-only">in Council tax</span></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% include "includes/lcc-components/atoz.html" %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}