{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Apply | Student discounts and exemptions
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
    Student discounts and exemptions
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/lcc-home.html">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/council-tax.html">Council tax</a>
            <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions">Discounts and exemptions</a>
                        <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Student discounts and exemptions</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
        <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
            <ol>
                <li>Apply</a></li>
                <li><a href="/pages-lcc/council-tax/discounts-and-exemptions/student-discount-tell-us-about-a-change.html">Tell us about a change</a></li>
                </ol>
        </nav>
    </aside>

<div class="text">

    <p class="lead">If you are a full-time student you might be able to get a council tax discount or exemption.</p>

    <h2>1. Apply</h2>

    <h3>What is a full-time student?</h3>
    <p class="top">Your course must be one of the following:</p>
    <ul class="list list-bullet">
        <li>a course which lasts at least one academic or calendar year and which requires you to undertake an average of at least 21 hours per week of study, tuition or work experience, for at least 24 weeks in that calendar year</li>
        <li>a course which is not higher education, lasts for more than 3 calendar months, requires you to undertake more than 12 hours of study per week and you are under the age of 20</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>We won’t be able to award a discount if you live in a household with two or more non-students or part-time students.</p>
    </div>

    <div role="note" aria-label="Information" class="text-highlight">
            <p>Student nurses are not exempt from council tax but may be <a href="/pages-lcc/council-tax/discounts-and-exemptions/other-council-tax-discounts-and-exemptions.html#student-nurses">eligible for a student nurse discount</a>.</p>
        </div>          

    <h3>How to apply</h3>
    
    <p>Use the online form if you study at any of the following:</p>
    <ul class="list list-bullet">
        <li>University of Leeds</li>
        <li>Leeds Beckett University (formerly Leeds Metropolitan)</li> 
        <li>Leeds Trinity</li> 
        <li>Leeds College of Music</li> 
        <li>Leeds College of Art</li> 
        <li>Northern School of Contemporary Dance</li>
    </ul>

    <div class="hidden-text">
        <a class="text-link reveal collapsed" role="button" data-toggle="collapse" href="#hidden-text-example" aria-expanded="false" aria-controls="hidden-text-example">
            <strong>If you study as a full-time student elsewhere</strong>
        </a>
        <div class="collapse" id="hidden-text-example">
            <div class="panel panel-border">
                <p><strong>You cannot apply online.</strong> Instead you'll need to provide us with a Council tax Student Certificate from your admissions/student services department.</p>
                
                <p>You can hand this in to a <a href="http://www.leeds.gov.uk/residents/Pages/one-stop-centres.aspx">One Stop Centre</a> or post it to:</p>
                 <div class="text-block">
                     <p>Leeds City Council <br>P.O. Box 60 <br>Leeds <br>LS2 8JR</p>
                 </div>
            </div>
        </div>
    </div>
    
    <h4>Before you start</h4>
    <p>You will need the:</p>
    <ul class="list list-bullet">
        <li>address and postcode of the property</li>
        <li>names of all adults over 18 living at the property</li>
        <li>student number for each full-time student</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>The form will allow you to add the details of all of the students in the property so only one application is required. </p>
    </div>       

    <a rel ="external" href="https://secured.leeds.gov.uk/Pages/CTStudentDiscount.aspx" class="btn btn-primary btn-arrow bottom">Apply for council tax student discount</a>   
    
<h4>Proof of exemption</h4>
<p>If you qualify for an exemption we will send you an exemption notice. Please keep this safe in case you’re asked to prove that you are, or have been, exempt from council tax. </p>

<h3>Student hall of residence</h3>
<p>If you are living in a student hall of residence you are automatically exempt from paying council tax and do not need to let us know.</p>

<h3>Non-British spouse or dependant of a full-time student</h3>
<p>If you have a non-British spouse or dependant living with you who is not a student, your student discount/exemption may still apply. </p>
<p>They must have a visa which prevents them from taking paid employment or claiming benefits.</p>
<p>You will need to let us know by downloading, completing and returning the claim form to:</p>
<div class="text-block">
        <p>Leeds City Council <br>P.O. Box 60 <br>Leeds <br>LS2 8JR</p>
    </div>
<div class="docList one">
    <div class="listWebpart">
        <ul>
            <li class="pdf"><a href="http://www.leeds.gov.uk/docs/Non-British%20spouse%20of%20student.pdf"><span class="info">Non-British spouse of student claim form<span class="arrow"></span></span><span class="thirdInfo">(PDF, 27KB)</span></a></li>
        </ul>
    </div>
</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <ul>
            <li class="pagination-nav__next-page">
                <a href="/pages-lcc/council-tax/discounts-and-exemptions/student-discount-tell-us-about-a-change.html" rel="next">
                <span class="pagination-nav__part-title">Next</span>
                <span class="pagination-nav__label">Tell us about a change</span>
                </a>
            </li>
            <div style="clear:both"></div>
        </ul>
        </nav>
    

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Council tax</h3> 	    	
        <ul class="nav">
                <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/other-council-tax-discounts-and-exemptions.html" title="" id="">Apprentices</a></li>
            <li><a class="item" href="/pages-lcc/council-tax/discounts-and-exemptions/discounts-and-exemptions.html" title="" id="">Discounts and exemptions</a></li>
            	        	    
            <li class="sideNav__more">
                <a href="/pages-lcc/council-tax/council-tax.html"><strong>More on council tax</strong></a>            
            </li>                                                            	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}